SPECTRUM AGENTE/Agente Unificado/AGENT PRINCIPAL.json
{
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/sending/sendContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"subscriber_id\": \"{{ $('User Data').item.json.manychat_id }}\",\n  \"data\": {\n    \"version\": \"v2\",\n    \"content\": {\n      \"type\": \"{{ $json.type.trim() }}\",\n      \"messages\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"{{ $('Parse response').item.json.respuesta.trim() }}\"\n        }\n      ]\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5456,
        -992
      ],
      "id": "3d8d6e03-d0ed-4ef5-b5f8-9560f199cddb",
      "name": "RESPOND TO MANYCHAT",
      "credentials": {
        "httpHeaderAuth": {
          "id": "2KClojasxcPLSibd",
          "name": "Manychat"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dcff964b-b8c1-4e8f-9c6d-0a188497de72",
              "name": "type",
              "value": "={{ \n  $('PARSE BODY').item.json.current_body.custom_fields.canal_ingreso.includes(\"Instagram\")\n    ? \"instagram\"\n    : \n    $('PARSE BODY').item.json.current_body.custom_fields.canal_ingreso.includes(\"Messenger\")\n      ? \"messenger\"\n      : \"whatsapp\" \n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5232,
        -992
      ],
      "id": "8b1b00b7-d3da-48d9-8cbf-b5fc3e0b52fb",
      "name": "Parameter Type"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ \n  $('Find User').item.json.isNotEmpty()\n  ? $('Find User').item.json\n  : $('Insert User').item.json\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2592,
        -896
      ],
      "id": "77a79ded-7be9-4225-a89e-fc861d83d8dc",
      "name": "User Data"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1184,
        -1040
      ],
      "id": "3c3d7c91-bf64-4f5d-ac20-513a7928bdca",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "50bd63ca-47f2-4e0f-a347-e81b80b66057",
              "leftValue": "={{ $('PARSE BODY').item.json.current_body.custom_fields.canal_ingreso.toLowerCase() }}",
              "rightValue": "whatsapp",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        896,
        -896
      ],
      "id": "356a1dde-049b-43fb-bb37-c27f64fb05b4",
      "name": "If NO WHATSAPP"
    },
    {
      "parameters": {
        "text": "={{ $('JOINNING MESSAGE').item.json.message }}",
        "attributes": {
          "attributes": [
            {
              "name": "proyecto",
              "description": "=Name: proyecto\n\nDescription:\nDevuelve el código del proyecto SOLO si el cliente menciona explícitamente \nuno de estos por nombre:\n\n{{ Object.values($('PROJECT LIST').item.json.proyectos).join(\"\\n\") }}\n\nDevuelve \"\" (cadena vacía) en TODOS estos casos:\n- El cliente pide ver la lista de proyectos disponibles\n- El cliente pregunta qué opciones hay\n- El cliente saluda o hace preguntas generales\n- El cliente no menciona ningún proyecto por nombre\n\nRequired: false",
              "required": true
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        1120,
        -752
      ],
      "id": "799deecc-0160-4b6e-ab81-5304b1aa64c0",
      "name": "Proyecto"
    },
    {
      "parameters": {
        "text": "={{ $('JOINNING MESSAGE').item.json.message }}",
        "attributes": {
          "attributes": [
            {
              "name": "language",
              "description": "=Idioma en el que está escrito el texto, devuelve el nombre del idioma, ejemplo, si el texto está en inglés, develves english, si es español, devuelve spanish y así con todos los idiomas.",
              "required": true
            },
            {
              "name": "asesoria",
              "type": "boolean",
              "description": "=Devuelve true si en el texto se solicita un asesor",
              "required": true
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        544,
        -896
      ],
      "id": "a1a8c496-d10f-4278-a1ea-fc351bd0e9b8",
      "name": "Lenguaje & Asesoria"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "responsesApiEnabled": false,
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1200,
        -528
      ],
      "id": "e87fe725-ea68-438a-89b2-b4fe93ab1aae",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "74BsdCWEjNoR3imD",
          "name": "Spectrum - Parque Portales"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "users",
        "updateKey": "_id",
        "fields": "={{ Object.keys($json).filter(k => k !== '_id').join(\",\") }}",
        "options": {
          "dateFields": "timestamp"
        }
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        2368,
        -800
      ],
      "id": "8f11dfe5-fc16-4624-b9b7-629553076bca",
      "name": "Update User",
      "credentials": {
        "mongoDb": {
          "id": "UzcANqeDFO1QLbfd",
          "name": "SPECTRUM - CENTRALIZADO"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "users",
        "fields": "={{ Object.keys($json).join(\",\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        2368,
        -992
      ],
      "id": "616c2792-964e-45cd-9173-b4f967fe8574",
      "name": "Insert User",
      "credentials": {
        "mongoDb": {
          "id": "UzcANqeDFO1QLbfd",
          "name": "SPECTRUM - CENTRALIZADO"
        }
      }
    },
    {
      "parameters": {
        "collection": "users",
        "options": {},
        "query": "={\"manychat_id\":\"{{ $('PARSE BODY').item.json.current_body.id }}\"}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        1696,
        -896
      ],
      "id": "cd820791-820b-47af-bad3-142135c93752",
      "name": "Find User",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "UzcANqeDFO1QLbfd",
          "name": "SPECTRUM - CENTRALIZADO"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "46d9906e-3ffe-418b-9c72-f072a9a18907",
              "name": "entrada_usuario",
              "value": "={{ $('JOINNING MESSAGE').item.json.message }}",
              "type": "string"
            },
            {
              "id": "0bdc7c86-7c02-4648-81e1-9e4d955cf0a6",
              "name": "lenguaje",
              "value": "={{ $('Lenguaje & Asesoria').item.json.output.language }}",
              "type": "string"
            },
            {
              "id": "b20e774f-5dea-4852-b5a9-1c0fd99db2ce",
              "name": "asesoria",
              "value": "={{ $('Lenguaje & Asesoria').item.json.output.asesoria }}",
              "type": "boolean"
            },
            {
              "id": "66e47da4-9bbb-4253-bb0a-1eeef66226fc",
              "name": "canal",
              "value": "={{ $('PARSE BODY').item.json.current_body.custom_fields.canal_ingreso.toLowerCase() }}",
              "type": "string"
            },
            {
              "id": "e7c18ee2-ce70-40e2-9dfd-637ec3a5f5e8",
              "name": "proyecto",
              "value": "={{\n  $('Proyecto').isExecuted\n    ? $json.output.proyecto\n    : ''\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1472,
        -896
      ],
      "id": "fba7159e-5f80-474d-8754-eb6c17f7351f",
      "name": "CONTEXT 1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9040d88b-dc99-47e3-a6e3-14b8264ae6cb",
              "name": "manychat_id",
              "value": "={{ $('PARSE BODY').item.json.current_body.id }}",
              "type": "string"
            },
            {
              "id": "689aa6e6-0e3f-4aba-8834-1b8f675acaf4",
              "name": "proyecto",
              "value": "={{ $('CONTEXT 1').item.json.proyecto }}",
              "type": "string"
            },
            {
              "id": "d2233cfa-026f-400c-99a9-7f34bd8d58cc",
              "name": "last_user_input",
              "value": "={{ $('CONTEXT 1').item.json.entrada_usuario }}",
              "type": "string"
            },
            {
              "id": "e5358421-99f8-42a6-a9db-2882f3a89206",
              "name": "language",
              "value": "={{ $('CONTEXT 1').item.json.lenguaje }}",
              "type": "string"
            },
            {
              "id": "2a0b8cc0-ba06-41e4-8817-055f4bbb13de",
              "name": "asesoria",
              "value": "={{ $('CONTEXT 1').item.json.asesoria }}",
              "type": "boolean"
            },
            {
              "id": "15532baf-1a9a-439a-9af2-bc6354c701e5",
              "name": "input_channel",
              "value": "={{ $('CONTEXT 1').item.json.canal }}",
              "type": "string"
            },
            {
              "id": "014d3381-ff7e-446b-a7ab-753ca46481ff",
              "name": "timestamp",
              "value": "={{ $('PARSE BODY').item.json.timestamp }}",
              "type": "string"
            },
            {
              "id": "9bb77330-c41a-4137-9ade-35e0d1b2c006",
              "name": "consulta_pendiente",
              "value": "={{ null }}",
              "type": "string"
            },
            {
              "id": "06aad59e-59d6-404b-a8f0-4b0c72f2c1c3",
              "name": "first_interaction",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "7436bc68-ba4c-4c48-8ac0-bea988b3079d",
              "name": "last_interaction",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "c7a21713-70b5-4357-84ce-854bcbaed33b",
              "name": "last_message",
              "value": "={{ $('CONTEXT 1').item.json.entrada_usuario }}",
              "type": "string"
            },
            {
              "id": "d424a476-8d63-449f-acc2-09a69f158a8f",
              "name": "has_reservation",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2144,
        -992
      ],
      "id": "1e790870-f00a-4224-b7f9-85705ad9a1c1",
      "name": "DATA to CREATE"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d90a4768-5969-4cb1-b612-40627b026990",
              "name": "_id",
              "value": "={{ $('Find User').item.json._id.toJsonString().replace(/^\"(.*)\"$/, '$1') }}",
              "type": "string"
            },
            {
              "id": "9040d88b-dc99-47e3-a6e3-14b8264ae6cb",
              "name": "manychat_id",
              "value": "={{ $('PARSE BODY').item.json.current_body.id }}",
              "type": "string"
            },
            {
              "id": "689aa6e6-0e3f-4aba-8834-1b8f675acaf4",
              "name": "proyecto",
              "value": "={{ $('CONTEXT 1').item.json.proyecto || $('Find User').item.json.proyecto }}",
              "type": "string"
            },
            {
              "id": "d2233cfa-026f-400c-99a9-7f34bd8d58cc",
              "name": "last_user_input",
              "value": "={{ $('CONTEXT 1').item.json.entrada_usuario }}",
              "type": "string"
            },
            {
              "id": "e5358421-99f8-42a6-a9db-2882f3a89206",
              "name": "language",
              "value": "={{ $('CONTEXT 1').item.json.lenguaje }}",
              "type": "string"
            },
            {
              "id": "2a0b8cc0-ba06-41e4-8817-055f4bbb13de",
              "name": "asesoria",
              "value": "={{ $('CONTEXT 1').item.json.asesoria }}",
              "type": "boolean"
            },
            {
              "id": "15532baf-1a9a-439a-9af2-bc6354c701e5",
              "name": "input_channel",
              "value": "={{ $('CONTEXT 1').item.json.canal }}",
              "type": "string"
            },
            {
              "id": "014d3381-ff7e-446b-a7ab-753ca46481ff",
              "name": "timestamp",
              "value": "={{ $('PARSE BODY').item.json.timestamp }}",
              "type": "string"
            },
            {
              "id": "3e5c849b-5282-4ab3-aafc-72f1a05bf25c",
              "name": "consulta_pendiente",
              "value": "={{ $('Find User').item.json.consulta_pendiente || null }}",
              "type": "string"
            },
            {
              "id": "cf7d7f35-fa61-4954-93ff-0a23be16a4b8",
              "name": "last_interaction",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "6aa9fc9f-3f93-4831-b5f6-81f0ad660c2b",
              "name": "last_message",
              "value": "={{ $('CONTEXT 1').item.json.entrada_usuario }}",
              "type": "string"
            },
            {
              "id": "cb61c50f-503e-4fa0-b58f-2d15527da8da",
              "name": "conversation_analysis",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2144,
        -800
      ],
      "id": "c5378c88-cbca-4480-bdc1-cfdeebff099f",
      "name": "DATA to UPDATE"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "13f396d4-0c8b-4099-b87a-4f98c96f9af1",
              "leftValue": "={{ $('Find User').item.json.isEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1920,
        -896
      ],
      "id": "878bb76f-8916-4f08-a98f-0416c5f29110",
      "name": "If USER NOT EXIST"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ JSON.parse($('Create Body').item.json.body) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3488,
        -896
      ],
      "id": "747cfee0-6f34-4605-bbcb-8fddcf2a8ad8",
      "name": "PARSE BODY"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "df6dd35d-a8b7-4ecb-8ef8-5a19ed499cfc",
              "name": "message",
              "value": "={{ $json.propertyName.join(\", \") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -128,
        -896
      ],
      "id": "c53b7d16-106e-4e69-a045-5db272f7785c",
      "name": "JOINNING MESSAGE"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c0230658-9c5d-4ac7-8851-1b71483100c9",
              "name": "proyectos",
              "value": "={{ \n  {\n    1: \"Parque Vista Verde (Zona 15) -> PVV\",\n    2: \"Parque Mariscal (Zona 11) -> PMAR\",\n    3: \"Parque Portales (Zona 17) -> PPO\",\n    4: \"Polanco Parque Boutique (Zona 10) -> PPOL\",\n    5: \"Sotobosque Parque Boutique (Zona 15, Vista Hermosa II) -> PSB\"\n  }\n}}",
              "type": "object"
            },
            {
              "id": "f224b003-182c-4acb-966c-0b281b2a1059",
              "name": "proyectos_nombre",
              "value": "={{ \n  [\n    \"Parque Vista Verde - Zona 15\", \n    \"Parque Mariscal - Zona 11\", \n    \"Parque Portales - Zona 17\", \n    \"Polanco Parque Boutique - Zona 10\", \n    \"Sotobosque Parque Boutique - Zona 15, Vista Hermosa II\"\n  ]\n}}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        -896
      ],
      "id": "c180bde7-b9bf-4c0b-b1f7-f690b1873f3c",
      "name": "PROJECT LIST"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5b5ad242-c6c3-4f2a-9b67-edb92fa424be",
              "leftValue": "={{ $json.propertyName.last() }}",
              "rightValue": "={{ $('INPUT FINAL').item.json.input }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -352,
        -896
      ],
      "id": "9c21d0cc-e353-4c40-ab60-f6e72620075a",
      "name": "Filter1"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('PARSE BODY').item.json.current_body.id }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        96,
        -896
      ],
      "id": "fd67da5f-0055-4b93-9f62-6483285dffe8",
      "name": "DELETE MESSAGES",
      "credentials": {
        "redis": {
          "id": "8EUkwaZixjCH7szY",
          "name": "Redis GarooVPS"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -800,
        -896
      ],
      "id": "beb5e11f-83cb-4992-8d11-8aac936712a9",
      "name": "Wait",
      "webhookId": "50ed2939-b8ec-48f7-8c6b-3bf14c2efc58"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $('PARSE BODY').item.json.current_body.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -576,
        -896
      ],
      "id": "68a29a71-47b6-4816-abbc-627ce6749849",
      "name": "GET MESSAGE",
      "credentials": {
        "redis": {
          "id": "8EUkwaZixjCH7szY",
          "name": "Redis GarooVPS"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('PARSE BODY').item.json.current_body.id }}",
        "messageData": "={{ $json.input }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1024,
        -896
      ],
      "id": "fd1d4651-aa03-4d94-a395-43c06f0d1dd6",
      "name": "SAVE MESSAGE",
      "credentials": {
        "redis": {
          "id": "8EUkwaZixjCH7szY",
          "name": "Redis GarooVPS"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1c4c388-e572-4502-9cf1-51d28b4d022d",
              "name": "input",
              "value": "={{ $json.mensaje.join(\" \") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1248,
        -896
      ],
      "id": "49fbeb87-35d9-4374-a81b-5332c0642da4",
      "name": "INPUT FINAL"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ea8c9284-e11f-4e87-a742-4392a692da2a",
              "name": "mensaje",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "1f2fe528-cff0-4713-9dcb-4221b508c597",
              "name": "hora_llegada",
              "value": "={{ $json.timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2144,
        -1088
      ],
      "id": "f57b64d2-8111-4473-9491-cf8e337e6c5d",
      "name": "audio input"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ea8c9284-e11f-4e87-a742-4392a692da2a",
              "name": "mensaje",
              "value": "={{ $json.content }}",
              "type": "string"
            },
            {
              "id": "1f2fe528-cff0-4713-9dcb-4221b508c597",
              "name": "hora_llegada",
              "value": "={{ $json.timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2144,
        -896
      ],
      "id": "62d66c2e-b536-4950-81f2-28c7226f1ef0",
      "name": "image input"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ea8c9284-e11f-4e87-a742-4392a692da2a",
              "name": "mensaje",
              "value": "={{ $json.current_body.last_input_text }}",
              "type": "string"
            },
            {
              "id": "1f2fe528-cff0-4713-9dcb-4221b508c597",
              "name": "hora_llegada",
              "value": "={{ $json.timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2144,
        -704
      ],
      "id": "1586fe33-4724-4602-a843-9a7546766d42",
      "name": "text input"
    },
    {
      "parameters": {
        "url": "={{ $json.current_body.last_input_text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2592,
        -1088
      ],
      "id": "c62df0ed-bda8-4b5e-8e32-5e4d61d52199",
      "name": "HTTP IF AUDIO"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "text": "Eres un experto en describir imagenes para un chatbot responde lo que ves en la imagen de esta manera. \"El usuario envió una imagen etc...\"",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -2368,
        -896
      ],
      "id": "79a9b33a-e2c6-460d-a8a9-bc8046ff99e4",
      "name": "ANALIZA IMAGEN",
      "credentials": {
        "openAiApi": {
          "id": "mwtQQFLfYjj6JZcg",
          "name": "Spectrum - Parque Verde"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "responsesApiEnabled": false,
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        544,
        -688
      ],
      "id": "9e9cf80d-2e28-450a-bde3-e33edf717531",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "74BsdCWEjNoR3imD",
          "name": "Spectrum - Parque Portales"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "mensaje"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1472,
        -896
      ],
      "id": "a4daeed1-7c71-44b8-874b-116c69164a5c",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "hora_llegada"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        -1696,
        -896
      ],
      "id": "48710757-cbf1-4785-a37f-5765fb192f9e",
      "name": "Sort"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1920,
        -912
      ],
      "id": "72f365ec-9948-45a8-8f2b-6f984695204a",
      "name": "Merge"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -2368,
        -1088
      ],
      "id": "c88157f4-50eb-427a-af1f-0cdf3f6e033e",
      "name": "TRANSCRIBE AUDIO",
      "credentials": {
        "openAiApi": {
          "id": "74BsdCWEjNoR3imD",
          "name": "Spectrum - Parque Portales"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "92200249-f6e4-4f84-bd28-bc36de22beb3",
              "leftValue": "={{ $('HTTP Request').item.binary.data.mimeType }}",
              "rightValue": "audio/ogg",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "b5bd48d1-851e-43bc-a097-e16c0dcca59c",
              "leftValue": "={{ $('HTTP Request').item.binary.data.mimeType }}",
              "rightValue": "video/mp4",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2816,
        -992
      ],
      "id": "917a2587-a210-4c2f-a132-8a7b2526060b",
      "name": "ES AUDIO / IMAGEN"
    },
    {
      "parameters": {
        "url": "={{ $json.current_body.last_input_text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3040,
        -992
      ],
      "id": "0c73c401-d23c-43e9-9cab-76912dbf80d3",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "92200249-f6e4-4f84-bd28-bc36de22beb3",
              "leftValue": "={{ $('PARSE BODY').item.json.current_body.last_input_text }}",
              "rightValue": "https://manybot-files",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "b5bd48d1-851e-43bc-a097-e16c0dcca59c",
              "leftValue": "={{ $('PARSE BODY').item.json.current_body.last_input_text }}",
              "rightValue": "https://lookaside.fbsbx.com",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3264,
        -896
      ],
      "id": "a7005547-b41a-4bc3-b5cc-111b4aff7be5",
      "name": "ES ARCHIVO"
    },
    {
      "parameters": {
        "jsCode": "const current_key = $input.first().json.body.key;\n\nconst current_body = $input.first().json.body;\n\nconst timestamp = new Date().toISOString();\n\nconst start_time = Date.now();\n\nconst result_body = {\n current_body,\n  timestamp\n}\n\nreturn [{\n  key: current_key,\n  body: JSON.stringify(result_body),\n  timestamp,\n  start_time\n}]\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3712,
        -896
      ],
      "id": "ec90ce39-3e1d-40d2-9b15-6bbfe3c01fdb",
      "name": "Create Body"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "spectrum-agent",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -3936,
        -896
      ],
      "id": "8b71d4f2-d42e-47c3-9884-0f10e4007c40",
      "name": "Webhook",
      "webhookId": "bbe94977-7886-4071-a874-e370d3b20c97"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('PARSE BODY').item.json.current_body.id }}",
        "collectionName": "chat_histories",
        "databaseName": "Centralizado",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
      "typeVersion": 1,
      "position": [
        2944,
        -672
      ],
      "id": "2e9d2ef3-36fa-4e3d-81d7-dc310f7e750b",
      "name": "MongoDB Chat Memory",
      "credentials": {
        "mongoDb": {
          "id": "UzcANqeDFO1QLbfd",
          "name": "SPECTRUM - CENTRALIZADO"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.4-mini",
          "mode": "list",
          "cachedResultName": "gpt-5.4-mini"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2784,
        -672
      ],
      "id": "1577a690-d899-4d00-a989-9916e5593e15",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "mwtQQFLfYjj6JZcg",
          "name": "Spectrum - Parque Verde"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Datos del Lead:\nMensaje del usuario: {{ $('CONTEXT 1').item.json.entrada_usuario }}.\nIdioma: {{ $json.language }}.\nNecesita asesoría?: {{ $('User Data').item.json.asesoria ? \"SI\" : \"NO\" }}.\nProyecto activo en sesión: {{ $('User Data').item.json.proyecto || \"Ninguno\" }}.\nCanal de entrada: {{ $('User Data').item.json.input_channel }}\nTel_sistema: {{ $('PARSE BODY').item.json.current_body.phone || 'No tiene' }}\nContexto: {{ $('CONTEXT 1').item.json.toJsonString() }}",
        "options": {
          "systemMessage": "=## IDENTIDAD ##\nEres Sof-IA, agente virtual oficial de SPECTRUM VIVIENDA, desarrolladora inmobiliaria premium.\nIdentidad: amable, profesional, cercana. Español neutro.\nTu voz es consistente durante toda la conversación. El usuario siempre habla con Sof-IA.\n\n## ROL ##\n- Saludar y atender al usuario de forma conversacional.\n- Identificar qué proyecto le interesa ({{ $('PROJECT LIST').item.json.proyectos_nombre.join(\", \") }}).\n- Interpretar modismos guatemaltecos: \"simon\", \"simón\", \"ya\", \"va\", \"vaya\", \"sip\", \"mero\", \"chiva\" = confirmación/sí. \"nel\", \"naa\" = negación/no.\n- Calificar al lead recolectando sus datos de contacto antes de dar información del proyecto.\n- Responder consultas del proyecto usando la knowledge base via `kb_search`.\n- Escalar a asesor humano solo cuando el usuario lo pide explícitamente.\n\nTienes acceso a información detallada de los proyectos a través de la tool\n`kb_search`. Úsala cuando el lead tenga sus datos completos y haga preguntas\nsobre el proyecto activo.\n\n## CONTEXTO DEL LEAD ##\n- Nombre: {{ $('User Data').item.json.nombre || 'NO DISPONIBLE' }}\n- Correo: {{ $('User Data').item.json.correo || 'NO DISPONIBLE' }}\n- Teléfono: {{ $('User Data').item.json.telefono || 'NO DISPONIBLE' }}\n- Proyecto activo: {{ $('User Data').item.json.proyecto || 'Ninguno' }}\n- Canal: {{ $('User Data').item.json.input_channel }}\n- Consulta pendiente: {{ $('User Data').item.json.consulta_pendiente || 'ninguna' }}\n\n## TOOLS DISPONIBLES ##\n\n**send_media**\n- Función: Enviar imágenes, material gráfico, renders, planos, brochure o amenidades por ManyChat automáticamente.\n- Cuándo usarla: Cuando el usuario exprese explícitamente el deseo de ver fotos, imágenes, planos, renders o material gráfico de un proyecto.\n- Qué devuelve: Un mensaje de confirmación que fue enviado con éxito.\n- Cuándo NO usarla: Cuando piden precios o dudas informativas (usar kb_search).\n\n**lead_collector**\n- Función: recolectar nombre, correo y teléfono del lead.\n- Cuándo usarla: cuando el usuario expresa intención real (consulta, pregunta, interés) Y faltan datos del lead.\n- Qué devuelve: JSON con los datos recolectados y un mensaje conversacional.\n- Cuándo NO usarla: para saludos simples, confirmaciones, o cuando los datos ya están completos.\n\n**kb_search**\n- Función: buscar y responder preguntas sobre el proyecto activo usando la knowledge base vectorizada.\n- Cuándo usarla: cuando datos_completos es true Y proyecto activo tiene valor Y el usuario hace una pregunta sobre el proyecto.\n- Qué devuelve: JSON con campo `response` (texto conversacional) y `escalate` (boolean).\n- Cuándo NO usarla: cuando faltan datos del lead, cuando el usuario saluda, cuando no hay proyecto activo.\n\n**rsvp**\n- Función: Iniciar, recopilar los datos necesarios (fecha, tipo de contacto, interés) y completar el agendamiento de una cita presencial o llamada.\n- Cuándo usarla: Cuando el usuario exprese intención explícita de visitar, agendar, requerir una llamada, reservar un espacio para hablar, o cuando acepte verbalmente (\"sí\", \"ok\", \"me parece\", proponer una fecha) luego de que se le invitara a agendar.\n- Qué devuelve: Un JSON con el campo `response` que debe usarse para guiar al usuario en el proceso de agendamiento.\n- Cuándo NO usarla: Si el usuario PREGUNTA si existe un tour virtual, recorrido o visita (\"¿hay tour virtual?\", \"¿tienen recorrido?\", \"¿puedo ver el proyecto en línea?\") — eso es una pregunta informativa, usar kb_search. Solo usar rsvp cuando la intención de AGENDAR es explícita, no cuando el usuario solo pregunta si la opción existe.         \n\n## CLASIFICACIÓN DE MENSAJES ##\n\n**Saludo puro:** \"hola\", \"buenas\", \"qué tal\", \"hey\", \"buenos días\", mensajes solo de cortesía.\n→ Responde directo. NO llames ninguna tool.\n\n**Intención real:** preguntas (¿cuánto cuesta?, ¿dónde queda?), pedidos (quiero información, me interesa), interés en cotizar.\n→ Si faltan datos del lead → llama `lead_collector`, guarda consulta en `consulta_pendiente.guardar`.\n→ Si datos completos Y hay proyecto activo → llama `kb_search`.\n→ Si datos completos Y NO hay proyecto activo → guarda consulta en `consulta_pendiente.guardar` y pregunta cuál proyecto le interesa.\n\n**Pregunta sobre disponibilidad de tour o visita:** usuario pregunta si EXISTE un recurso: \"¿hay tour virtual?\", \"¿tienen recorrido virtual?\", \"¿puedo ver el proyecto en línea?\", \"¿algún tour?\". El usuario no está pidiendo agendar, está preguntando si la opción existe.\n→ Llama kb_search con la pregunta del usuario.\n→ accion.tipo: \"consultar_proyecto\"   \n→ NO llames rsvp.\n\n**Intención de Reserva:** usuario pide explícitamente agendar (\"quiero visitar\", \"llamenme\", \"agendar recorrido\", \"quiero agendar un tour virtual\"), dice fechas/horas, o acepta un llamado a la acción (\"sí\", \"perfecto\") para ir a la sala de ventas/hablar con asesor.\n→ Llama INMEDIATAMENTE a `rsvp`.\n→ accion.tipo: \"recolectar_cita\"\n→\"sí\"/\"perfecto\" solo activa rsvp si Sof-IA previamente invitó a agendar.\n\n**Elección de proyecto:** usuario menciona nombre de proyecto.\n→ Registra el proyecto en `estado_proyecto.proyecto`.\n→ Si hay consulta pendiente → llama `kb_search` con esa consulta.\n→ Si no hay consulta pendiente → confirma amablemente y pregunta en qué puede ayudar.\n→ Si hay consulta_pendiente → Llama INMEDIATAMENTE a kb_search usando esa consulta y el proyecto elegido. NO preguntes \"¿en qué te ayudo?\", da la información de una vez.\n\n**Dato personal del lead:** nombre, correo, teléfono o confirmación.\n→ Llama `lead_collector`.\n\n**Confirmación o mensaje ambiguo:** \"sí\", \"ok\", \"dale\", \"gracias\".\n→ Si hay `lead_collector` activo recolectando datos → llama `lead_collector`.\n→ Si no, responde de forma natural.\n\n**Modismos guatemaltecos a interpretar como \"sí\" / confirmación:**\n\"simon\", \"simón\", \"simón que sí\", \"ya\", \"va\", \"vaya\", \"sip\", \"sos serio\", \"mero\", \"chiva\"\n→ Tratar como confirmación positiva, igual que \"sí\", \"ok\", \"dale\"\n\n**Modismos guatemaltecos a interpretar como \"no\":**\n\"nel\", \"naa\", \"neta no\"\n→ Tratar como rechazo/negación\n\n**Cambio o consulta de proyectos:** Usuario pide ver los proyectos de nuevo, pregunta qué otros hay, o dice que quiere cambiar de proyecto.\n→ Responde: \"Con gusto, estos son nuestros proyectos disponibles actualmente:\"\n→ accion.tipo: \"aclarar\"\n→ estado_proyecto.proyecto: null\n\n## LÓGICA DE CONVERSACIÓN ##\n\n**SALUDO INICIAL (primera interacción, historial vacío):**\n- Responde: \"¡Hola! Soy Sof-IA, asistente virtual de SPECTRUM VIVIENDA. ¿En qué puedo ayudarte hoy? 😊\"\n- No pidas datos todavía.\n- accion.tipo: \"esperar\"\n\n**SALUDO EN CONVERSACIÓN EN CURSO:**\n- No te presentes de nuevo.\n- Responde natural, sin repetir \"Soy Sof-IA\".\n\n**CONSULTA CON DATOS COMPLETOS Y PROYECTO ACTIVO (PRIORIDAD ALTA):**\nSi datos_completos es true Y proyecto activo tiene valor:\n→ Llama INMEDIATAMENTE a `kb_search`\n→ Pásale la pregunta exacta del usuario como `entrada_usuario`\n→ Usa el campo `response` de la tool como tu `respuesta`\n→ accion.tipo: \"consultar_proyecto\"\n→ NUNCA respondas directamente sobre detalles del proyecto\n\n**CONSULTA CON DATOS COMPLETOS SIN PROYECTO ACTIVO:**\nSi datos_completos es true Y proyecto activo es \"Ninguno\":\n→ Guarda la consulta en `consulta_pendiente.guardar`\n→ Pregunta cuál proyecto le interesa\n→ accion.tipo: \"aclarar\"\n→ NO llames ninguna tool\n\n**USUARIO ELIGE PROYECTO:**\nMapea el nombre al código:\n- Vista Verde / Verde / zona 15 / PVV / Parque Vista Verde - Zona 15 → PVV\n- Mariscal / zona 11 / PMAR / Parque Mariscal - Zona 11 → PMAR\n- Portales / zona 17 / PPO / Parque Portales - Zona 17 → PPO\n- Polanco / zona 10 / PPOL / Polanco Parque Boutique / Polanco Parque Boutique - Zona 10 → PPOL\n- Sotobosque / Parque Sotobosque / PSB / Sotobosque Parque Boutique / Sotobosque Parque Boutique - Zona 15, Vista Hermosa II → PSB\n\nUna vez identificado:\n- Registra en `estado_proyecto.proyecto` con el código.\n- Si hay `consulta_pendiente` en el contexto → llama `kb_search` con ese texto como `entrada_usuario`.\n  → accion.tipo: \"consultar_proyecto\"\n  → consulta_pendiente.limpiar: true\n- Si no hay consulta pendiente → confirmá amablemente y preguntá en qué podés ayudar.\n  → accion.tipo: \"aclarar\"\n\n## LÓGICA DE CONSULTA PENDIENTE ##\n\n**REGLA GUARDAR:**\nUsuario hace consulta Y faltan datos del lead Y consulta_pendiente es \"ninguna\":\n→ consulta_pendiente.guardar = mensaje original del usuario\n→ consulta_pendiente.limpiar = false\n→ llama lead_collector\n\nUsuario hace consulta Y datos completos Y NO hay proyecto activo Y consulta_pendiente es \"ninguna\":\n→ consulta_pendiente.guardar = mensaje original del usuario\n→ consulta_pendiente.limpiar = false\n→ pregunta cuál proyecto le interesa\n\n**REGLA RETOMO — cuando lead_collector devuelve transferir_agente: 1:**\n\nCASO A — No hay proyecto activo:\n→ NUNCA uses el texto que devolvió lead_collector como tu respuesta\n→ Genera TU PROPIA respuesta que haga TRES cosas en este orden:\n   1. Agradece brevemente usando el nombre del lead\n   2. Menciona EXPLÍCITAMENTE el tema de la consulta_pendiente (ej: \"los precios\", \"las amenidades\")\n   3. Pregunta cuál proyecto le interesa, RELACIONÁNDOLO con ese tema\n→ Formato guía: \"¡Gracias, {nombre}! Con gusto te informo sobre [tema de consulta_pendiente]. ¿De cuál de nuestros proyectos te gustaría saber?\"\n→ accion.tipo: \"aclarar\"\n→ consulta_pendiente.limpiar: false (mantener hasta que elija proyecto)\n\nCASO B — Ya hay proyecto activo:\n→ IGNORAR response del lead_collector\n→ Llamar `kb_search` con el texto de la consulta pendiente\n→ accion.tipo: \"consultar_proyecto\"\n→ consulta_pendiente.limpiar: true\n\nEJEMPLOS:\n- Pendiente: \"quiero saber precios\" / Sin proyecto → \"¡Gracias, jorge! Para los precios, ¿cuál proyecto te interesa?\"\n- Pendiente: \"quiero saber precios\" / Proyecto: pvv → llama kb_search con \"quiero saber precios\"\n- Usuario dice \"Vista Verde\" / Pendiente: \"quiero saber precios\" → llama kb_search con \"quiero saber precios\"\n\n**REGLA PRESERVAR:**\nMientras el lead_collector esté activo o se esté esperando la elección de un proyecto:\n→ NUNCA borres la consulta_pendiente.\n→ consulta_pendiente.guardar: (mantén el valor actual que viene en el CONTEXTO)\n→ consulta_pendiente.limpiar: false\n\n**REGLA LIMPIAR:**\nSOLO cuando kb_search devuelva una respuesta exitosa o el usuario cambie de tema drásticamente:\n→ consulta_pendiente.limpiar: true\n\n**REGLA LIMPIAR:**\nUsuario cambia de tema explícitamente:\n→ consulta_pendiente.limpiar: true\n→ consulta_pendiente.guardar: nueva consulta si aplica\n\n## MANEJO DE RESPUESTAS DE TOOLS ##\n\nCuando `lead_collector` devuelva un JSON:\n- Lee su campo `response` y úsalo como `respuesta` en tu output.\n- Sus campos `nombre`, `correo`, `telefono` los reflejas en `estado_lead`.\n- Si devolvió `transferir_agente: 1` → datos completos → aplica REGLA RETOMO.\n- NUNCA pases el JSON crudo al usuario.\n- NUNCA inventes response propio cuando usas la tool, excepto en el RETOMO.\n\nCuando `kb_search` devuelva un JSON:\n- Lee su campo `response` y úsalo como `respuesta` en tu output.\n- Si devolvió `escalate: true` → pon `transferir: 1`.\n- NUNCA pases el JSON crudo al usuario.\n- NUNCA inventes información del proyecto que no venga de kb_search.\n\n## REGLAS DE ESTILO ##\n- Respuestas cortas y naturales.\n- Una sola frase conversacional por turno cuando sea posible.\n- NUNCA menciones \"tools\", \"flujos\", \"agentes internos\" ni procesos del sistema.\n- NUNCA incluyas la lista de proyectos en `respuesta` (se agrega automáticamente).\n- Tono cercano pero profesional.\n- Al usar el nombre del lead en mensajes, capitaliza la primera letra de cada palabra.\n\n## MAPEO DE PROYECTOS ##\n- \"Vista Verde\", \"Verde\", \"zona 15\", \"PVV\", \"Parque Vista Verde - Zona 15\" → código: PVV\n- \"Mariscal\", \"zona 11\", \"PMAR\", \"Parque Mariscal - Zona 11\" → código: PMAR\n- \"Portales\", \"zona 17\", \"PPO\", \"Parque Portales - Zona 17\" → código: PPO\n- \"Polanco\", \"zona 10\", \"PPOL\", \"Polanco Parque Boutique\", \"Polanco Parque Boutique - Zona 10\" → código: PPOL\n- \"Sotobosque\", \"Parque Sotobosque\", \"PSB\", \"Sotobosque Parque Boutique\", \"Sotobosque Parque Boutique - Zona 15, Vista Hermosa II\" → código: PSB\n\n## FORMATO DE SALIDA OBLIGATORIO ##\nResponde ÚNICAMENTE con este JSON, sin bloques de código, sin texto fuera:\n\n{\n  \"respuesta\": \"<texto al usuario>\",\n  \"estado_lead\": {\n    \"nombre\": \"<string|null>\",\n    \"correo\": \"<string|null>\",\n    \"telefono\": \"<string|null>\",\n    \"datos_completos\": <true|false>\n  },\n  \"estado_proyecto\": {\n    \"proyecto\": \"<PVV|PMAR|PPO|PPOL|PSB|null>\",\n    \"transferir\": <0|1>\n  },\n  \"accion\": {\n    \"tipo\": \"<saludar|recolectar_lead|consultar_proyecto|escalar|aclarar|esperar>\",\n    \"razon\": \"<explicación corta>\"\n  },\n  \"metadatos\": {\n    \"intencion\": \"<saludo|consulta|seleccion_proyecto|dato_personal|confirmacion|rechazo|ambiguo>\",\n    \"idioma\": \"<espanol|ingles|...>\",\n    \"confianza\": \"<alta|media|baja>\"\n  },\n  \"depuracion\": {\n    \"herramientas_usadas\": [<lista de tools llamadas>],\n    \"ruta_decision\": \"<breadcrumb corto de razonamiento>\",\n    \"advertencias\": [<lista de observaciones no críticas>]\n  },\n  \"consulta_pendiente\": {\n    \"guardar\": \"<texto|null>\",\n    \"limpiar\": <true|false>,\n    \"retomar\": \"<texto|null>\"\n  }\n}\n\n## REGLAS ESTRICTAS ##\n- `estado_lead.datos_completos` es true SOLO si nombre, correo Y telefono tienen valor real.\n- `estado_proyecto.transferir` es 1 SOLO cuando kb_search devuelve escalate: true.\n- Si llamaste a `lead_collector`, `herramientas_usadas` DEBE incluir \"lead_collector\".\n- Si llamaste a `kb_search`, `herramientas_usadas` DEBE incluir \"kb_search\".\n- Si NO llamaste ninguna tool, `herramientas_usadas` es array vacío [].\n- `ruta_decision` corta, formato \"A → B → C\".\n- Si llamaste a `rsvp`, `herramientas_usadas` DEBE incluir \"rsvp\".\n- Si llamaste a `send_media`, `herramientas_usadas` DEBE incluir \"send_media\"."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        3072,
        -896
      ],
      "id": "147286cd-b18c-49cb-a012-8be7769d0eed",
      "name": "PRINCIPAL"
    },
    {
      "parameters": {
        "description": "=Usa esta tool cuando el usuario no haya proporcionado \nnombre, correo electrónico y teléfono todavía. \nEsta tool recolecta los datos de contacto del lead \nde forma conversacional y devuelve la respuesta \nque debe enviarse al usuario.",
        "workflowId": {
          "__rl": true,
          "value": "SHPFhvoal7k1Rqf9",
          "mode": "list",
          "cachedResultUrl": "/workflow/SHPFhvoal7k1Rqf9",
          "cachedResultName": "LEAD COLLECTOR"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', ``, 'string') }}",
            "manychat_id": "={{ $('User Data').item.json.manychat_id }}",
            "canal": "={{ $('User Data').item.json.input_channel }}",
            "tel_sistema": "={{ $('PARSE BODY').item.json.current_body.phone || 'No tiene' }}",
            "nombre": "={{ $('User Data').item.json.nombre || '' }}",
            "correo": "={{ $('User Data').item.json.correo || '' }}",
            "telefono": "={{ $('User Data').item.json.telefono || '' }}",
            "mongo_id": "={{ $json._id.toJsonString().replace(/^\"(.*)\"$/, '$1') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "manychat_id",
              "displayName": "manychat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "mongo_id",
              "displayName": "mongo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "canal",
              "displayName": "canal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "tel_sistema",
              "displayName": "tel_sistema",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "correo",
              "displayName": "correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "proyecto",
              "displayName": "proyecto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3072,
        -672
      ],
      "id": "aefb6a26-ec49-4353-840c-d715ca915597",
      "name": "lead_collector"
    },
    {
      "parameters": {
        "jsCode": "function prepareForHttp(text) {\n  if (text === null || text === undefined) return \"\";\n  return String(text)\n    .replace(/\\\\/g, \"\\\\\\\\\")\n    .replace(/\"/g, '\\\\\"')\n    .replace(/\\r\\n/g, \"\\\\n\")\n    .replace(/\\n/g, \"\\\\n\")\n    .replace(/\\t/g, \"\\\\t\")\n    .replace(/\\*\\*/g, \"*\")\n    .trim();\n}\n\nconst proyectos = $('PROJECT LIST').first().json.proyectos || {};\nconst nombresProyectos = Object.values(proyectos).map(p => p.split('->')[0].trim());\nconst LISTA = \"\\\\n\\\\n• \" + nombresProyectos.join(\"\\\\n• \");\n\nconst raw = $input.first().json.output || \"\";\nconst match = raw.match(/\\{[\\s\\S]*\\}/);\n\nif (!match) {\n  return [{ \n    json: { \n      respuesta: prepareForHttp(raw),\n      accion_tipo: \"error\",\n      error: \"no_json\",\n      raw_output: raw\n    }\n  }];\n}\n\ntry {\n  const parsed = JSON.parse(match[0]);\n\n  const respuesta = parsed.respuesta || \"\";\n  const accionTipo = parsed.accion?.tipo || \"esperar\";\n  const transferir = parsed.estado_proyecto?.transferir ?? 0;\n  const proyecto = parsed.estado_proyecto?.proyecto || null;\n  \n  // Agrega lista solo cuando pide elegir proyecto y no hay proyecto aún\n  const agregarLista = accionTipo === \"aclarar\" && !proyecto;\n  const respuestaFinal = agregarLista \n    ? prepareForHttp(respuesta) + LISTA\n    : prepareForHttp(respuesta);\n\n  return [{\n    json: {\n      respuesta: respuestaFinal,\n      accion_tipo: accionTipo,\n      accion_razon: parsed.accion?.razon || \"\",\n      proyecto: proyecto,\n      transferir: transferir,\n      lead_nombre: parsed.estado_lead?.nombre || null,\n      lead_correo: parsed.estado_lead?.correo || null,\n      lead_telefono: parsed.estado_lead?.telefono || null,\n      datos_completos: parsed.estado_lead?.datos_completos ?? false,\n      intencion: parsed.metadatos?.intencion || null,\n      idioma: parsed.metadatos?.idioma || null,\n      confianza: parsed.metadatos?.confianza || null,\n      herramientas_usadas: parsed.depuracion?.herramientas_usadas || [],\n      ruta_decision: parsed.depuracion?.ruta_decision || \"\",\n      advertencias: parsed.depuracion?.advertencias || [],\n      raw: parsed,\n      consulta_pendiente_guardar: parsed.consulta_pendiente?.guardar || null,\n      consulta_pendiente_limpiar: parsed.consulta_pendiente?.limpiar || false,\n      consulta_pendiente_retomar: parsed.consulta_pendiente?.retomar || null,\n    }\n  }];\n\n} catch(e) {\n  return [{ \n    json: { \n      respuesta: prepareForHttp(raw),\n      accion_tipo: \"error\",\n      error: \"parse_failed\",\n      error_message: e.message,\n      raw_output: raw\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3664,
        -896
      ],
      "id": "b2275914-b2f3-4b30-ae7c-efd0f081c606",
      "name": "Parse response"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0d6214cb-1acb-4f7e-b57e-73e911ebcaa5",
              "leftValue": "={{ $json.value }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4112,
        -992
      ],
      "id": "12f15fc5-7eb2-4c66-a831-90cf3d809108",
      "name": "If TIENE DATOS NUEVOS"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9f9974b3-e66f-4160-ab03-0c53c1d05e2c",
              "name": "_id",
              "value": "={{ $('User Data').item.json._id.toString().replace(/^\"(.*)\"$/, '$1') }}",
              "type": "string"
            },
            {
              "id": "1dfe570b-1cba-466b-a975-63089a0d43e1",
              "name": "last_update",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "e05f001b-588a-437f-9800-1ff66d7fac7e",
              "name": "nombre",
              "value": "={{ $('Parse response').item.json.lead_nombre || undefined }}",
              "type": "string"
            },
            {
              "id": "18ea17f9-e5f6-4a93-8621-d51912e4f73a",
              "name": "correo",
              "value": "={{ $('Parse response').item.json.lead_correo || undefined }}",
              "type": "string"
            },
            {
              "id": "69fc0996-54d0-435d-9246-fa4146a900b2",
              "name": "telefono",
              "value": "={{ $('Parse response').item.json.lead_telefono || undefined }}",
              "type": "string"
            },
            {
              "id": "0be37564-e330-4d62-8e4a-a99671f75ebf",
              "name": "datos_completos",
              "value": "={{ $('Parse response').item.json.datos_completos ? true : undefined }}",
              "type": "boolean"
            },
            {
              "id": "73b2ce9f-c7db-4bce-9975-21aef53dd1b3",
              "name": "datos_completos_timestamp",
              "value": "={{ $('Parse response').item.json.datos_completos ? $now.toISO() : undefined }}",
              "type": "string"
            },
            {
              "id": "5ddbbdb6-dd3b-4f7a-b5d3-554129d42155",
              "name": "consulta_pendiente",
              "value": "={{ \n  $json.consulta_pendiente_limpiar ? null : \n  ($json.consulta_pendiente_guardar || $('User Data').item.json.consulta_pendiente || undefined) \n}}",
              "type": "string"
            },
            {
              "id": "9e9581f8-4fd4-4faa-9093-946783b656e9",
              "name": "proyecto",
              "value": "={{ \n  $('Parse response').item.json.proyecto || \n  $('User Data').item.json.proyecto || \n  undefined \n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4336,
        -1088
      ],
      "id": "e552935f-2efd-49d5-81c3-996b09a5e45a",
      "name": "Prepare Update"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "550ae3c0-99c3-43fa-8627-e08c78c455eb",
              "name": "value",
              "value": "={{ \n  ($json.lead_nombre !== null && $json.lead_nombre !== '') ||\n  ($json.lead_correo !== null && $json.lead_correo !== '') ||\n  ($json.lead_telefono !== null && $json.lead_telefono !== '') ||\n  ($json.proyecto !== null && $json.proyecto !== '') ||\n  $json.consulta_pendiente_guardar !== null ||\n  $json.consulta_pendiente_limpiar === true\n}}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3888,
        -992
      ],
      "id": "44f18308-0d0a-432c-831d-c5138fdf69fb",
      "name": "Hay Cambios?"
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "users",
        "updateKey": "_id",
        "fields": "={{ Object.keys($json).filter(k => k !== '_id').join(\",\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        4560,
        -1088
      ],
      "id": "dd0ab8cf-7e2b-4c96-b08d-58ca86dbe7ce",
      "name": "Update User Lead",
      "credentials": {
        "mongoDb": {
          "id": "UzcANqeDFO1QLbfd",
          "name": "SPECTRUM - CENTRALIZADO"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        5008,
        -800
      ],
      "id": "e8940b61-d588-40b0-8403-a93b3aa60340",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "description": "=Usa esta tool cuando el usuario haga una pregunta o consulta \nsobre un proyecto inmobiliario y los datos del lead ya están completos. \nBusca en la knowledge base y devuelve una respuesta conversacional.\n\nParámetros que debes pasar:\n- entrada_usuario: la pregunta exacta del usuario o la consulta pendiente a retomar\n- proyecto: el código del proyecto activo o el que el usuario acaba de elegir proyecto: el código del proyecto activo o el que el usuario acaba de elegir (PVV, PMAR, PPO, PPOL o PSB).\n- manychat_id: el ID del usuario",
        "workflowId": {
          "__rl": true,
          "value": "D3LKuNi6CmMIdvzg",
          "mode": "list",
          "cachedResultUrl": "/workflow/D3LKuNi6CmMIdvzg",
          "cachedResultName": "KB SEARCH"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "proyecto": "={{ $fromAI('proyecto', '', 'string') || $('User Data').item.json.proyecto }}",
            "entrada_usuario": "={{ $fromAI('entrada_usuario', ``, 'string') }}",
            "manychat_id": "={{ $('User Data').item.json.manychat_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "manychat_id",
              "displayName": "manychat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "proyecto",
              "displayName": "proyecto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "entrada_usuario",
              "displayName": "entrada_usuario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3200,
        -672
      ],
      "id": "cd3c094b-2e83-4ad8-a2be-91b8b834c5a8",
      "name": "kb_search"
    },
    {
      "parameters": {
        "description": "=Función: Iniciar, recopilar o completar el agendamiento de una cita presencial o llamada. Úsala de inmediato si el cliente pide visitar una sala de ventas o agendar una cita/llamada. O si, luego de que tú ofrecieras una cita, el usuario responde afirmativamente (\"sí me parece\", \"dale\"). \nParámetro principal requerido que debes generar: proyecto (Código del proyecto PVV, PMAR, PPO, PPOL o PSB).",
        "workflowId": {
          "__rl": true,
          "value": "TjFPzHs5aimxILH7",
          "mode": "list",
          "cachedResultUrl": "/workflow/TjFPzHs5aimxILH7",
          "cachedResultName": "RSVP"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "manychat_id": "={{ $('User Data').item.json.manychat_id }}",
            "proyecto": "={{ $fromAI('proyecto', '', 'string') || $('User Data').item.json.proyecto }}",
            "nombre": "={{ $('User Data').item.json.nombre || '' }}",
            "correo": "={{ $('User Data').item.json.correo || '' }}",
            "telefono": "={{ $('User Data').item.json.telefono || '' }}",
            "entrada_usuario": "={{ $('CONTEXT 1').item.json.entrada_usuario }}",
            "lista_proyectos": "={{ $('PROJECT LIST').item.json.proyectos }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "manychat_id",
              "displayName": "manychat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "proyecto",
              "displayName": "proyecto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "correo",
              "displayName": "correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "entrada_usuario",
              "displayName": "entrada_usuario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "lista_proyectos",
              "displayName": "lista_proyectos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3328,
        -672
      ],
      "id": "d7a2f45b-88fb-4aac-8602-34a83e9b23d4",
      "name": "rsvp"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3844950b-1b47-4238-a3d7-70fd891a129f",
              "leftValue": "={{ $json.transferir }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        3888,
        -800
      ],
      "id": "adf235ee-2a04-492d-bf09-32e572519d81",
      "name": "Filter IF TRANSFER"
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "analytics_logs",
        "fields": "={{ Object.keys($json).join(\",\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        5904,
        -992
      ],
      "id": "5e880e7b-37c3-42fb-a586-929aedb2b1f7",
      "name": "Insert Analytics",
      "credentials": {
        "mongoDb": {
          "id": "UzcANqeDFO1QLbfd",
          "name": "SPECTRUM - CENTRALIZADO"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0a394660-4198-4314-8ab0-0cf36fa10917",
              "name": "sessionId",
              "value": "={{ $('PARSE BODY').item.json.current_body.id }}",
              "type": "string"
            },
            {
              "id": "a382a941-bfab-41dd-9f6c-c2a538fef814",
              "name": "response_time_sec",
              "value": "={{ parseFloat((($now.toMillis() - $('Create Body').first().json.start_time) / 1000).toFixed(2)) }}",
              "type": "number"
            },
            {
              "id": "c0422b35-2086-47a0-886a-e56cba84ab28",
              "name": "proyecto",
              "value": "={{ $('User Data').item.json.proyecto || 'No Identificado' }}",
              "type": "string"
            },
            {
              "id": "c2732a35-9768-41d0-86ef-ab5cedde1467",
              "name": "canal",
              "value": "={{ $('User Data').item.json.input_channel }}",
              "type": "string"
            },
            {
              "id": "463cfe71-1fa9-462f-b245-7ef75b47929d",
              "name": "accion_orquestador",
              "value": "={{ $('Parse response').item.json.accion_tipo || 'Desconocida' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5680,
        -992
      ],
      "id": "091d9a1f-027c-4d5f-b49d-7d3bd4d2de13",
      "name": "Calculate Respond Time"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "r1Jf5vwrkBrT4dEu",
          "mode": "list",
          "cachedResultUrl": "/workflow/r1Jf5vwrkBrT4dEu",
          "cachedResultName": "Notifications Master"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tipo_alerta": "nuevo_lead",
            "datos": "={{ \n  {\n    \"proyecto\": $('User Data').item.json.proyecto || 'Parque Vista Verde',\n    \"nombre_lead\": $('User Data').item.json.nombre || 'No registrado',\n    \"telefono_lead\": $('User Data').item.json.telefono,\n    \"correo_lead\": $('User Data').item.json.correo || 'No registrado',\n    \"canal\": $('User Data').item.json.input_channel\n  }\n}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tipo_alerta",
              "displayName": "tipo_alerta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "datos",
              "displayName": "datos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        5008,
        -1184
      ],
      "id": "d827c8b8-49ae-47cc-9dbb-8bdcb4d38521",
      "name": "'Notifications Master' Nuevos Leads"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "r1Jf5vwrkBrT4dEu",
          "mode": "list",
          "cachedResultUrl": "/workflow/r1Jf5vwrkBrT4dEu",
          "cachedResultName": "Notifications Master"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tipo_alerta": "escalacion",
            "datos": "={{ \n  {\n    \"proyecto\": $('User Data').item.json.proyecto || 'Parque Vista Verde',\n    \"nombre_lead\": $('User Data').item.json.nombre || 'No registrado',\n    \"telefono_lead\": $('User Data').item.json.telefono,\n    \"correo_lead\": $('User Data').item.json.correo || 'No registrado',\n    \"canal\": $('User Data').item.json.input_channel,\n    \"ultima_consulta\": $('CONTEXT 1').item.json.entrada_usuario\n  }\n}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tipo_alerta",
              "displayName": "tipo_alerta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "datos",
              "displayName": "datos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        4112,
        -800
      ],
      "id": "7ea33ba5-cc10-4ad7-b38a-5d653787a43c",
      "name": "'Notifications Master' Escalation"
    },
    {
      "parameters": {
        "description": "=Usa esta tool cuando el usuario pida explícitamente contenido multimedia \ncomo fotos, imágenes, planos, renders, brochure o amenidades del proyecto.\nParámetros requeridos:\n- tipo_media: la palabra clave de lo que pide (brochure, amenidades, renders, planos)\n- proyecto: el código del proyecto (pvv, pm, pp)\n- canal: el canal por donde escribe el usuario\n- manychat_id: ID del usuario",
        "workflowId": {
          "__rl": true,
          "value": "NtTiyrNy2LHimE7u",
          "mode": "list",
          "cachedResultUrl": "/workflow/NtTiyrNy2LHimE7u",
          "cachedResultName": "SEND MEDIA"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tipo_media": "={{ $fromAI('tipo_media', '', 'string') }}",
            "proyecto": "={{ $fromAI('proyecto', '', 'string') || $('User Data').item.json.proyecto }}",
            "canal": "={{ $('User Data').item.json.input_channel }}",
            "manychat_id": "={{ $('User Data').item.json.manychat_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tipo_media",
              "displayName": "tipo_media",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "proyecto",
              "displayName": "proyecto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "canal",
              "displayName": "canal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "manychat_id",
              "displayName": "manychat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3456,
        -672
      ],
      "id": "448769c7-27f7-4efb-960a-b5f491b2de39",
      "name": "send_media"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        5008,
        -992
      ],
      "id": "9253efb0-de3a-4803-9796-a6b788a7ce43",
      "name": "No Operation, do nothing2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "df577d5c-ddf9-44ef-9848-ef135119e484",
              "leftValue": "={{ $('Parse response').item.json.datos_completos }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "49398426-9115-47fb-b997-e06d080b1c2b",
              "leftValue": "={{ $('User Data').item.json.datos_completos }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4784,
        -1088
      ],
      "id": "c5ebdbaf-94dd-4fb1-b3f5-ada8180c21cb",
      "name": "IF NUEVO LEAD"
    }
  ],
  "connections": {
    "RESPOND TO MANYCHAT": {
      "main": [
        [
          {
            "node": "Calculate Respond Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parameter Type": {
      "main": [
        [
          {
            "node": "RESPOND TO MANYCHAT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Data": {
      "main": [
        [
          {
            "node": "PRINCIPAL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "CONTEXT 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If NO WHATSAPP": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Proyecto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Proyecto": {
      "main": [
        [
          {
            "node": "CONTEXT 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lenguaje & Asesoria": {
      "main": [
        [
          {
            "node": "If NO WHATSAPP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Proyecto",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Update User": {
      "main": [
        [
          {
            "node": "User Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert User": {
      "main": [
        [
          {
            "node": "User Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find User": {
      "main": [
        [
          {
            "node": "If USER NOT EXIST",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CONTEXT 1": {
      "main": [
        [
          {
            "node": "Find User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DATA to CREATE": {
      "main": [
        [
          {
            "node": "Insert User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DATA to UPDATE": {
      "main": [
        [
          {
            "node": "Update User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If USER NOT EXIST": {
      "main": [
        [
          {
            "node": "DATA to CREATE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DATA to UPDATE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PARSE BODY": {
      "main": [
        [
          {
            "node": "ES ARCHIVO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JOINNING MESSAGE": {
      "main": [
        [
          {
            "node": "DELETE MESSAGES",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PROJECT LIST": {
      "main": [
        [
          {
            "node": "Lenguaje & Asesoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "JOINNING MESSAGE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DELETE MESSAGES": {
      "main": [
        [
          {
            "node": "PROJECT LIST",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "GET MESSAGE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET MESSAGE": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SAVE MESSAGE": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INPUT FINAL": {
      "main": [
        [
          {
            "node": "SAVE MESSAGE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "audio input": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "image input": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "text input": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "HTTP IF AUDIO": {
      "main": [
        [
          {
            "node": "TRANSCRIBE AUDIO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ANALIZA IMAGEN": {
      "main": [
        [
          {
            "node": "image input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Lenguaje & Asesoria",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "INPUT FINAL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TRANSCRIBE AUDIO": {
      "main": [
        [
          {
            "node": "audio input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ES AUDIO / IMAGEN": {
      "main": [
        [
          {
            "node": "HTTP IF AUDIO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ANALIZA IMAGEN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "ES AUDIO / IMAGEN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ES ARCHIVO": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "text input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Body": {
      "main": [
        [
          {
            "node": "PARSE BODY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Create Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "PRINCIPAL",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "PRINCIPAL",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "PRINCIPAL": {
      "main": [
        [
          {
            "node": "Parse response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lead_collector": {
      "ai_tool": [
        [
          {
            "node": "PRINCIPAL",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Parse response": {
      "main": [
        [
          {
            "node": "Hay Cambios?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter IF TRANSFER",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If TIENE DATOS NUEVOS": {
      "main": [
        [
          {
            "node": "Prepare Update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Update": {
      "main": [
        [
          {
            "node": "Update User Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hay Cambios?": {
      "main": [
        [
          {
            "node": "If TIENE DATOS NUEVOS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update User Lead": {
      "main": [
        [
          {
            "node": "IF NUEVO LEAD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing1": {
      "main": [
        [
          {
            "node": "Parameter Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "kb_search": {
      "ai_tool": [
        [
          {
            "node": "PRINCIPAL",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "rsvp": {
      "ai_tool": [
        [
          {
            "node": "PRINCIPAL",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Filter IF TRANSFER": {
      "main": [
        [
          {
            "node": "'Notifications Master' Escalation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Respond Time": {
      "main": [
        [
          {
            "node": "Insert Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "'Notifications Master' Nuevos Leads": {
      "main": [
        [
          {
            "node": "Parameter Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send_media": {
      "ai_tool": [
        [
          {
            "node": "PRINCIPAL",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing2": {
      "main": [
        [
          {
            "node": "Parameter Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF NUEVO LEAD": {
      "main": [
        [
          {
            "node": "'Notifications Master' Nuevos Leads",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d4ab02fb1ef8b6ca2c1c5c1f280ee696b0514d7d92cee5fb0da1784dbe393998"
  }
}