SPECTRUM AGENTE/Agente Unificado/AGENT PRINCIPAL.json
{
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/sending/sendContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get Account Credentials').item.json.api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"subscriber_id\": \"{{ $('User Data').item.json.manychat_id }}\",\n  \"data\": {\n    \"version\": \"v2\",\n    \"content\": {\n      \"type\": \"{{ $json.type.trim() }}\",\n      \"messages\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"{{ $('Parse response').item.json.respuesta.trim() }}\"\n        }\n      ]\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -14256,
        2400
      ],
      "id": "7e3219b6-6d30-41bd-b785-28279e33b178",
      "name": "RESPOND TO MANYCHAT"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dcff964b-b8c1-4e8f-9c6d-0a188497de72",
              "name": "type",
              "value": "={{ \n  $('PARSE BODY').item.json.current_body.custom_fields.canal_ingreso.includes(\"Instagram\")\n    ? \"instagram\"\n    : \n    $('PARSE BODY').item.json.current_body.custom_fields.canal_ingreso.includes(\"Messenger\")\n      ? \"messenger\"\n      : \"whatsapp\" \n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -14480,
        2400
      ],
      "id": "b905d85a-9fa4-4122-a650-f19e3bbd6116",
      "name": "Parameter Type"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ \n  $('Find User').item.json.isNotEmpty()\n  ? $('Find User').item.json\n  : $('Insert User').item.json\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -17120,
        2688
      ],
      "id": "2314811f-c1ee-4fb3-9d84-0bd0d91efcf3",
      "name": "User Data"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -20096,
        2540
      ],
      "id": "8f9c5b94-e9eb-4375-b55a-cff3e6a5d02b",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "50bd63ca-47f2-4e0f-a347-e81b80b66057",
              "leftValue": "={{ $('PARSE BODY').item.json.current_body.custom_fields.canal_ingreso.toLowerCase() }}",
              "rightValue": "whatsapp",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -20384,
        2688
      ],
      "id": "461ad2d0-027d-4fae-bc4a-1c60c3a409b4",
      "name": "If NO WHATSAPP"
    },
    {
      "parameters": {
        "text": "={{ $('JOINNING MESSAGE').item.json.message }}",
        "attributes": {
          "attributes": [
            {
              "name": "proyecto",
              "description": "=Name: proyecto\n\nDescription:\nDevuelve el código del proyecto SOLO si el cliente menciona explícitamente \nuno de estos por nombre:\n\n{{ Object.values($('PROJECT LIST').item.json.proyectos).join(\"\\n\") }}\n\nDevuelve \"\" (cadena vacía) en TODOS estos casos:\n- El cliente pide ver la lista de proyectos disponibles\n- El cliente pregunta qué opciones hay\n- El cliente saluda o hace preguntas generales\n- El cliente no menciona ningún proyecto por nombre\n\nRequired: false"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        -20160,
        2836
      ],
      "id": "b9c6f5ff-bfa5-460b-b5ee-b49987773150",
      "name": "Proyecto"
    },
    {
      "parameters": {
        "text": "={{ $('JOINNING MESSAGE').item.json.message }}",
        "attributes": {
          "attributes": [
            {
              "name": "language",
              "description": "=Idioma en el que está escrito el texto, devuelve el nombre del idioma, ejemplo, si el texto está en inglés, develves english, si es español, devuelve spanish y así con todos los idiomas.",
              "required": true
            },
            {
              "name": "asesoria",
              "type": "boolean",
              "description": "=Devuelve true si en el texto se solicita un asesor",
              "required": true
            },
            {
              "name": "interes_precios",
              "type": "boolean",
              "description": "=Devuelve true SOLO si el usuario pregunta EXPLÍCITAMENTE por un precio, costo, valor numérico, cuota, mensualidad o plan de pago de un apartamento. Devuelve false para preguntas generales sobre el proyecto, ubicación, amenidades o características.",
              "required": true
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        -20736,
        2688
      ],
      "id": "5953c63f-1837-4b9b-ba33-ddad015e943e",
      "name": "Lenguaje & Asesoria"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "responsesApiEnabled": false,
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -20088,
        3060
      ],
      "id": "458960f1-0c64-4707-b830-25a3eae76776",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "mwtQQFLfYjj6JZcg",
          "name": "Spectrum - Parque Verde"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "users",
        "updateKey": "_id",
        "fields": "={{ Object.keys($json).filter(k => k !== '_id').join(\",\") }}",
        "options": {
          "dateFields": "timestamp"
        }
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -17344,
        2784
      ],
      "id": "b603ed6c-ac5d-4a8b-b0e9-189f48167ffa",
      "name": "Update User",
      "credentials": {
        "mongoDb": {
          "id": "UzcANqeDFO1QLbfd",
          "name": "SPECTRUM - CENTRALIZADO"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "users",
        "fields": "={{ Object.keys($json).join(\",\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -17344,
        2592
      ],
      "id": "2affca38-b2b7-4b51-9397-81c218c67e98",
      "name": "Insert User",
      "credentials": {
        "mongoDb": {
          "id": "UzcANqeDFO1QLbfd",
          "name": "SPECTRUM - CENTRALIZADO"
        }
      }
    },
    {
      "parameters": {
        "collection": "users",
        "options": {},
        "query": "={ \n  \"manychat_id\": \"{{ $('PARSE BODY').item.json.current_body.id }}\",\n  \"page_id\": \"{{ $('PARSE BODY').item.json.current_body.page_id }}\"\n}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -18016,
        2688
      ],
      "id": "8b564da2-b6e7-4a0e-94de-2c5471761e15",
      "name": "Find User",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "UzcANqeDFO1QLbfd",
          "name": "SPECTRUM - CENTRALIZADO"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "46d9906e-3ffe-418b-9c72-f072a9a18907",
              "name": "entrada_usuario",
              "value": "={{ $('JOINNING MESSAGE').item.json.message }}",
              "type": "string"
            },
            {
              "id": "0bdc7c86-7c02-4648-81e1-9e4d955cf0a6",
              "name": "lenguaje",
              "value": "={{ $('Lenguaje & Asesoria').item.json.output.language }}",
              "type": "string"
            },
            {
              "id": "b20e774f-5dea-4852-b5a9-1c0fd99db2ce",
              "name": "asesoria",
              "value": "={{ $('Lenguaje & Asesoria').item.json.output.asesoria }}",
              "type": "boolean"
            },
            {
              "id": "66e47da4-9bbb-4253-bb0a-1eeef66226fc",
              "name": "canal",
              "value": "={{ $('PARSE BODY').item.json.current_body.custom_fields.canal_ingreso.toLowerCase() }}",
              "type": "string"
            },
            {
              "id": "e7c18ee2-ce70-40e2-9dfd-637ec3a5f5e8",
              "name": "proyecto",
              "value": "={{\n  $('PARSE BODY').item.json.current_body.custom_fields.canal_ingreso.toLowerCase() !== 'whatsapp'\n    ? ($('Get Account Credentials').item.json.proyecto || '')\n    : ($('Proyecto').isExecuted ? $json.output.proyecto : '')\n}}",
              "type": "string"
            },
            {
              "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567810",
              "name": "interes_precios",
              "value": "={{ $('Lenguaje & Asesoria').item.json.output.interes_precios }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -19808,
        2688
      ],
      "id": "430f50e5-ac44-43f0-9437-e5d9c9af3b42",
      "name": "CONTEXT 1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9040d88b-dc99-47e3-a6e3-14b8264ae6cb",
              "name": "manychat_id",
              "value": "={{ $('PARSE BODY').item.json.current_body.id }}",
              "type": "string"
            },
            {
              "id": "1fca47c3-3150-4740-a3a3-aaeb55e0bd49",
              "name": "page_id",
              "value": "={{ $('PARSE BODY').item.json.current_body.page_id }}",
              "type": "string"
            },
            {
              "id": "689aa6e6-0e3f-4aba-8834-1b8f675acaf4",
              "name": "proyecto",
              "value": "={{ $('CONTEXT 1').item.json.proyecto || ($('CONTEXT 1').item.json.canal !== 'whatsapp' ? $('Extraer CAMPAIGN DATA').item.json.extracted_campaign_data.proyecto_detectado : '') }}",
              "type": "string"
            },
            {
              "id": "d2233cfa-026f-400c-99a9-7f34bd8d58cc",
              "name": "last_user_input",
              "value": "={{ $('CONTEXT 1').item.json.entrada_usuario }}",
              "type": "string"
            },
            {
              "id": "e5358421-99f8-42a6-a9db-2882f3a89206",
              "name": "language",
              "value": "={{ $('CONTEXT 1').item.json.lenguaje }}",
              "type": "string"
            },
            {
              "id": "2a0b8cc0-ba06-41e4-8817-055f4bbb13de",
              "name": "asesoria",
              "value": "={{ $('CONTEXT 1').item.json.asesoria }}",
              "type": "boolean"
            },
            {
              "id": "15532baf-1a9a-439a-9af2-bc6354c701e5",
              "name": "input_channel",
              "value": "={{ $('CONTEXT 1').item.json.canal }}",
              "type": "string"
            },
            {
              "id": "014d3381-ff7e-446b-a7ab-753ca46481ff",
              "name": "timestamp",
              "value": "={{ $('PARSE BODY').item.json.timestamp }}",
              "type": "string"
            },
            {
              "id": "9bb77330-c41a-4137-9ade-35e0d1b2c006",
              "name": "consulta_pendiente",
              "value": "={{ null }}",
              "type": "string"
            },
            {
              "id": "06aad59e-59d6-404b-a8f0-4b0c72f2c1c3",
              "name": "first_interaction",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "7436bc68-ba4c-4c48-8ac0-bea988b3079d",
              "name": "last_interaction",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "c7a21713-70b5-4357-84ce-854bcbaed33b",
              "name": "last_message",
              "value": "={{ $('CONTEXT 1').item.json.entrada_usuario }}",
              "type": "string"
            },
            {
              "id": "d424a476-8d63-449f-acc2-09a69f158a8f",
              "name": "has_reservation",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "c10d0b79-3d2d-4c63-b70f-9242d988e501",
              "name": "datos_completos",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "8da7b005-3418-4943-bed0-da3c943144fc",
              "name": "utm_source_crm",
              "value": "={{ $('Extraer CAMPAIGN DATA').item.json.extracted_campaign_data.utm_source_crm }}",
              "type": "string"
            },
            {
              "id": "e8351fed-a911-42e7-bd38-298ad71242e3",
              "name": "atribucion_tag",
              "value": "={{ $('Extraer CAMPAIGN DATA').item.json.extracted_campaign_data.atribucion_tag }}",
              "type": "string"
            },
            {
              "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567811",
              "name": "interes_precios",
              "value": "={{ $('CONTEXT 1').item.json.interes_precios }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -17568,
        2592
      ],
      "id": "5452cb14-286b-4889-a3e5-a52a3cbfe33a",
      "name": "DATA to CREATE"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d90a4768-5969-4cb1-b612-40627b026990",
              "name": "_id",
              "value": "={{ $('Find User').item.json._id.toJsonString().replace(/^\"(.*)\"$/, '$1') }}",
              "type": "string"
            },
            {
              "id": "9040d88b-dc99-47e3-a6e3-14b8264ae6cb",
              "name": "manychat_id",
              "value": "={{ $('PARSE BODY').item.json.current_body.id }}",
              "type": "string"
            },
            {
              "id": "b4b2db9c-7dda-440f-808c-cfd153db7319",
              "name": "=page_id",
              "value": "={{ $('PARSE BODY').item.json.current_body.page_id }}",
              "type": "string"
            },
            {
              "id": "689aa6e6-0e3f-4aba-8834-1b8f675acaf4",
              "name": "proyecto",
              "value": "={{ $('CONTEXT 1').item.json.proyecto || $('Find User').item.json.proyecto || ($('CONTEXT 1').item.json.canal !== 'whatsapp' ? $('Extraer CAMPAIGN DATA').item.json.extracted_campaign_data.proyecto_detectado : null) }}",
              "type": "string"
            },
            {
              "id": "d2233cfa-026f-400c-99a9-7f34bd8d58cc",
              "name": "last_user_input",
              "value": "={{ $('CONTEXT 1').item.json.entrada_usuario }}",
              "type": "string"
            },
            {
              "id": "e5358421-99f8-42a6-a9db-2882f3a89206",
              "name": "language",
              "value": "={{ $('CONTEXT 1').item.json.lenguaje }}",
              "type": "string"
            },
            {
              "id": "2a0b8cc0-ba06-41e4-8817-055f4bbb13de",
              "name": "asesoria",
              "value": "={{ $('CONTEXT 1').item.json.asesoria }}",
              "type": "boolean"
            },
            {
              "id": "15532baf-1a9a-439a-9af2-bc6354c701e5",
              "name": "input_channel",
              "value": "={{ $('CONTEXT 1').item.json.canal }}",
              "type": "string"
            },
            {
              "id": "014d3381-ff7e-446b-a7ab-753ca46481ff",
              "name": "timestamp",
              "value": "={{ $('PARSE BODY').item.json.timestamp }}",
              "type": "string"
            },
            {
              "id": "3e5c849b-5282-4ab3-aafc-72f1a05bf25c",
              "name": "consulta_pendiente",
              "value": "={{ $('Find User').item.json.consulta_pendiente || null }}",
              "type": "string"
            },
            {
              "id": "cf7d7f35-fa61-4954-93ff-0a23be16a4b8",
              "name": "last_interaction",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "6aa9fc9f-3f93-4831-b5f6-81f0ad660c2b",
              "name": "last_message",
              "value": "={{ $('CONTEXT 1').item.json.entrada_usuario }}",
              "type": "string"
            },
            {
              "id": "cb61c50f-503e-4fa0-b58f-2d15527da8da",
              "name": "conversation_analysis",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567801",
              "name": "atribucion_tag",
              "value": "={{ $('Extraer CAMPAIGN DATA').item.json.extracted_campaign_data.atribucion_tag || null }}",
              "type": "string"
            },
            {
              "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567802",
              "name": "atribucion_medio",
              "value": "={{ $('Extraer CAMPAIGN DATA').item.json.extracted_campaign_data.atribucion_medio || null }}",
              "type": "string"
            },
            {
              "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567803",
              "name": "atribucion_contacto",
              "value": "={{ $('Extraer CAMPAIGN DATA').item.json.extracted_campaign_data.atribucion_contacto || null }}",
              "type": "string"
            },
            {
              "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567804",
              "name": "utm_source_crm",
              "value": "={{ $('Extraer CAMPAIGN DATA').item.json.extracted_campaign_data.utm_source_crm || null }}",
              "type": "string"
            },
            {
              "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567812",
              "name": "interes_precios",
              "value": "={{ $('CONTEXT 1').item.json.interes_precios }}",
              "type": "boolean"
            },
            {
              "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567813",
              "name": "datos_completos",
              "value": "={{ $('Find User').item.json.datos_completos && $('User Data').item.json.email && $('User Data').item.json.phone }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -17568,
        2784
      ],
      "id": "a9f7b87a-e2c8-426e-b458-34626d3f99dc",
      "name": "DATA to UPDATE"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "13f396d4-0c8b-4099-b87a-4f98c96f9af1",
              "leftValue": "={{ $('Find User').item.json.isEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -17792,
        2688
      ],
      "id": "031a6235-c00c-48b4-bd7d-0c23b31238fe",
      "name": "If USER NOT EXIST"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ JSON.parse($('Create Body').item.json.body) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -25216,
        2688
      ],
      "id": "09ebcb9b-a2ce-4e43-b40b-075980354e73",
      "name": "PARSE BODY"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "df6dd35d-a8b7-4ecb-8ef8-5a19ed499cfc",
              "name": "message",
              "value": "={{ $json.propertyName.join(\", \") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -21408,
        2688
      ],
      "id": "ef6b9027-c1c0-4443-b5b7-d2437551cae5",
      "name": "JOINNING MESSAGE"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c0230658-9c5d-4ac7-8851-1b71483100c9",
              "name": "proyectos",
              "value": "={{ \n  {\n    1: \"Parque Vista Verde (Zona 15) -> PVV\",\n    2: \"Parque Mariscal (Zona 11) -> PMAR\",\n    3: \"Parque Portales (Zona 17) -> PPO\",\n    4: \"Polanco Parque Boutique (Zona 10) -> PPOL\",\n    5: \"Sotobosque Parque Boutique (Zona 15, Vista Hermosa II) -> PSB\"\n  }\n}}",
              "type": "object"
            },
            {
              "id": "f224b003-182c-4acb-966c-0b281b2a1059",
              "name": "proyectos_nombre",
              "value": "={{ \n  [\n    \"Parque Vista Verde - Zona 15\", \n    \"Parque Mariscal - Zona 11\", \n    \"Parque Portales - Zona 17\", \n    \"Polanco Parque Boutique - Zona 10\", \n    \"Sotobosque Parque Boutique - Zona 15, Vista Hermosa II\"\n  ]\n}}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -20960,
        2688
      ],
      "id": "315f99f2-ff2e-45e4-be20-1e609d5dd763",
      "name": "PROJECT LIST"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5b5ad242-c6c3-4f2a-9b67-edb92fa424be",
              "leftValue": "={{ $json.propertyName?.last() || \"\" }}",
              "rightValue": "={{ $('INPUT FINAL').item.json.input }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -21632,
        2688
      ],
      "id": "cc0959a4-ddfd-40ad-8b8d-1c564e380ff9",
      "name": "Filter1"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('PARSE BODY').item.json.current_body.id }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -21184,
        2688
      ],
      "id": "3901795a-0ef5-4cf5-840e-49a155189479",
      "name": "DELETE MESSAGES",
      "credentials": {
        "redis": {
          "id": "8EUkwaZixjCH7szY",
          "name": "Redis GarooVPS"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -22080,
        2688
      ],
      "id": "0dd2f9dd-41f7-4d44-b9ad-9efb941ba848",
      "name": "Wait",
      "webhookId": "50ed2939-b8ec-48f7-8c6b-3bf14c2efc58"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $('PARSE BODY').item.json.current_body.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -21856,
        2688
      ],
      "id": "5e4d4d1f-7705-418c-8393-380da8313c3f",
      "name": "GET MESSAGE",
      "credentials": {
        "redis": {
          "id": "8EUkwaZixjCH7szY",
          "name": "Redis GarooVPS"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('PARSE BODY').item.json.current_body.id }}",
        "messageData": "={{ $json.input }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -22304,
        2688
      ],
      "id": "8ead1389-f3e8-43c4-b089-377d0fe40494",
      "name": "SAVE MESSAGE",
      "credentials": {
        "redis": {
          "id": "8EUkwaZixjCH7szY",
          "name": "Redis GarooVPS"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1c4c388-e572-4502-9cf1-51d28b4d022d",
              "name": "input",
              "value": "={{ $json.mensaje.join(\" \") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -22528,
        2688
      ],
      "id": "30d777e6-0e6a-4af2-a935-415dd29c622e",
      "name": "INPUT FINAL"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ea8c9284-e11f-4e87-a742-4392a692da2a",
              "name": "mensaje",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "1f2fe528-cff0-4713-9dcb-4221b508c597",
              "name": "hora_llegada",
              "value": "={{ $json.timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -23424,
        2496
      ],
      "id": "03217084-11b7-4647-99b1-5c32028d56c9",
      "name": "audio input"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ea8c9284-e11f-4e87-a742-4392a692da2a",
              "name": "mensaje",
              "value": "={{ $json.content }}",
              "type": "string"
            },
            {
              "id": "1f2fe528-cff0-4713-9dcb-4221b508c597",
              "name": "hora_llegada",
              "value": "={{ $json.timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -23424,
        2688
      ],
      "id": "7fda8fd2-38dd-4dbb-80f7-213d6fee23e4",
      "name": "image input"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ea8c9284-e11f-4e87-a742-4392a692da2a",
              "name": "mensaje",
              "value": "={{ $('PARSE BODY').item.json.current_body.last_input_text }}",
              "type": "string"
            },
            {
              "id": "1f2fe528-cff0-4713-9dcb-4221b508c597",
              "name": "hora_llegada",
              "value": "={{ $('PARSE BODY').item.json.timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -23424,
        2880
      ],
      "id": "42b50527-1f7f-45ed-b184-2cc066b9fa44",
      "name": "text input"
    },
    {
      "parameters": {
        "url": "={{ $json.current_body.last_input_text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -23872,
        2496
      ],
      "id": "bf4e92cd-fbce-47a1-8501-f88596033cf4",
      "name": "HTTP IF AUDIO"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "text": "Eres un experto en describir imagenes para un chatbot responde lo que ves en la imagen de esta manera. \"El usuario envió una imagen etc...\"",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -23648,
        2688
      ],
      "id": "69c16669-c70a-474f-b1ac-9d38c0bdf230",
      "name": "ANALIZA IMAGEN",
      "credentials": {
        "openAiApi": {
          "id": "mwtQQFLfYjj6JZcg",
          "name": "Spectrum - Parque Verde"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "responsesApiEnabled": false,
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -20664,
        2912
      ],
      "id": "ad6f9064-79c2-4146-ba2c-0816c06c1cc0",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "mwtQQFLfYjj6JZcg",
          "name": "Spectrum - Parque Verde"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "mensaje"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -22752,
        2688
      ],
      "id": "c446f34e-75ff-463a-9cc5-efd6b927d571",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "hora_llegada"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        -22976,
        2688
      ],
      "id": "6763a6bf-6286-4b82-b0df-0b8fda60294b",
      "name": "Sort"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -23200,
        2672
      ],
      "id": "86ced3d1-c4f0-4a89-9ff3-2e2280895031",
      "name": "Merge"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -23648,
        2496
      ],
      "id": "9b916424-1d31-4a2e-bad4-1543918b80f0",
      "name": "TRANSCRIBE AUDIO",
      "credentials": {
        "openAiApi": {
          "id": "74BsdCWEjNoR3imD",
          "name": "Spectrum - Parque Portales"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "92200249-f6e4-4f84-bd28-bc36de22beb3",
              "leftValue": "={{ $('HTTP Request').item.binary.data.mimeType }}",
              "rightValue": "audio/ogg",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "b5bd48d1-851e-43bc-a097-e16c0dcca59c",
              "leftValue": "={{ $('HTTP Request').item.binary.data.mimeType }}",
              "rightValue": "video/mp4",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -24096,
        2592
      ],
      "id": "51d7c849-67aa-4007-b3b6-15d3527d774a",
      "name": "ES AUDIO / IMAGEN"
    },
    {
      "parameters": {
        "url": "={{ $('PARSE BODY').item.json.current_body.last_input_text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -24320,
        2592
      ],
      "id": "18bca63d-307a-4ce2-a0f4-4966611e8293",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "92200249-f6e4-4f84-bd28-bc36de22beb3",
              "leftValue": "={{ $('PARSE BODY').item.json.current_body.last_input_text }}",
              "rightValue": "https://manybot-files",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "b5bd48d1-851e-43bc-a097-e16c0dcca59c",
              "leftValue": "={{ $('PARSE BODY').item.json.current_body.last_input_text }}",
              "rightValue": "https://lookaside.fbsbx.com",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -24544,
        2688
      ],
      "id": "3fe9cf86-aa84-4ed6-b456-84bdeba3938e",
      "name": "ES ARCHIVO"
    },
    {
      "parameters": {
        "jsCode": "const current_key = $input.first().json.body.key;\n\nconst current_body = $input.first().json.body;\n\nconst timestamp = new Date().toISOString();\n\nconst start_time = Date.now();\n\nconst result_body = {\n current_body,\n  timestamp\n}\n\nreturn [{\n  key: current_key,\n  body: JSON.stringify(result_body),\n  timestamp,\n  start_time\n}]\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -25440,
        2688
      ],
      "id": "f58b7ac2-2bfa-4c75-9537-469159f99ba2",
      "name": "Create Body"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "spectrum-agent",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -25664,
        2688
      ],
      "id": "c2c0c642-d2ba-4193-9adf-af43abbcfdec",
      "name": "Webhook",
      "webhookId": "bbe94977-7886-4071-a874-e370d3b20c97"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('PARSE BODY').item.json.current_body.id }}",
        "collectionName": "chat_histories",
        "databaseName": "Centralizado",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
      "typeVersion": 1,
      "position": [
        -16768,
        2912
      ],
      "id": "e52aa9ca-6d90-4369-adc1-a43e1d1b3458",
      "name": "MongoDB Chat Memory",
      "credentials": {
        "mongoDb": {
          "id": "UzcANqeDFO1QLbfd",
          "name": "SPECTRUM - CENTRALIZADO"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -16896,
        2912
      ],
      "id": "0828e0c7-6e79-4aa5-ac8b-038d35cd11ec",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "mwtQQFLfYjj6JZcg",
          "name": "Spectrum - Parque Verde"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Datos del Lead:\nMensaje del usuario: {{ $('CONTEXT 1').item.json.entrada_usuario }}.\nIdioma: {{ $json.language }}.\nNecesita asesoría?: {{ $('User Data').item.json.asesoria ? \"SI\" : \"NO\" }}.\nProyecto activo en sesión: {{ $('CONTEXT 1').item.json.proyecto || $('User Data').item.json.proyecto || \"Ninguno\" }}.\nCanal de entrada: {{ $('User Data').item.json.input_channel }}\nTel_sistema: {{ $('PARSE BODY').item.json.current_body.phone || 'No tiene' }}\nContexto: {{ $('CONTEXT 1').item.json.toJsonString() }}\nProyecto detectado por link: {{ $('Extraer CAMPAIGN DATA').item.json.extracted_campaign_data.proyecto_detectado || 'null' }}\n",
        "options": {
          "systemMessage": "=## IDENTIDAD ##\nEres Sof-IA, agente virtual oficial de SPECTRUM VIVIENDA, desarrolladora inmobiliaria premium.\nIdentidad: amable, profesional, cercana. Español neutro.\nIMPORTANTE: Usa SIEMPRE tuteo (puedes, quieres, prefieres) y NUNCA voseo (podés, querés, preferís). Tu voz es consistente durante toda la conversación. El usuario siempre habla con Sof-IA.\n\n## REGLA DE ORO: PROYECTO DESCONOCIDO ##\nSi el campo `proyecto_detectado` es 'null' y no hay un 'Proyecto activo en sesión', tu prioridad #1 es saludar y preguntar: \"Cuento con varios proyectos de vivienda de Spectrum (Vista Verde, Mariscal, Portales, Polanco y Soto Bosque), ¿en cuál de ellos estás interesado?\". No intentes adivinar ni dar información hasta que el usuario elija uno.\n\n## ROL ##\n- Saludar y atender al usuario de forma conversacional.\n- Identificar qué proyecto le interesa ({{ $('PROJECT LIST').item.json.proyectos_nombre.join(\", \") }}).\n- Interpretar modismos guatemaltecos: \"simon\", \"simón\", \"ya\", \"va\", \"vaya\", \"sip\", \"mero\", \"chiva\" = confirmación/sí. \"nel\", \"naa\" = negación/no.\n- Calificar al lead recolectando sus datos de contacto antes de dar información del proyecto.\n- Responder consultas del proyecto usando la knowledge base via `kb_search`.\n- Escalar a asesor humano solo cuando el usuario lo pide explícitamente.\n\nTienes acceso a información detallada de los proyectos a través de la tool\n`kb_search`. Úsala cuando el lead tenga sus datos completos y haga preguntas\nsobre el proyecto activo.\n\n## CONTEXTO DEL LEAD ##\n- Nombre: {{ $('User Data').item.json.nombre || 'NO DISPONIBLE' }}\n- Correo: {{ $('User Data').item.json.correo || 'NO DISPONIBLE' }}\n- Teléfono: {{ $('User Data').item.json.telefono || 'NO DISPONIBLE' }}\n- Proyecto activo: {{ $('CONTEXT 1').item.json.proyecto || $('User Data').item.json.proyecto || 'Ninguno' }}\n- Canal: {{ $('User Data').item.json.input_channel }}\n- Consulta pendiente: {{ $('User Data').item.json.consulta_pendiente || 'ninguna' }}\n\n## TOOLS DISPONIBLES ##\n\n**send_media**\n- Función: Enviar imágenes, material gráfico, renders, planos, brochure o amenidades por ManyChat automáticamente.\n- Cuándo usarla: Cuando el usuario exprese explícitamente el deseo de ver fotos, imágenes, planos, renders o material gráfico de un proyecto.\n- Qué devuelve: Un mensaje de confirmación que fue enviado con éxito.\n- Cuándo NO usarla: Cuando piden precios o dudas informativas (usar kb_search).\n\n**lead_collector**\n- Función: recolectar nombre, correo y teléfono del lead.\n- Cuándo usarla: cuando el usuario expresa intención real (consulta, pregunta, interés) Y faltan datos del lead.\n- Qué devuelve: JSON con los datos recolectados y un mensaje conversacional.\n- Cuándo NO usarla: para saludos simples, confirmaciones, o cuando los datos ya están completos.\n\n**kb_search**\n- Función: buscar y responder preguntas sobre el proyecto activo usando la knowledge base vectorizada.\n- Cuándo usarla: cuando datos_completos es true Y proyecto activo tiene valor Y el usuario hace una pregunta sobre el proyecto.\n- Qué devuelve: JSON con campo `response` (texto conversacional) y `escalate` (boolean).\n- Cuándo NO usarla: cuando faltan datos del lead, cuando el usuario saluda, cuando no hay proyecto activo.\n\n**rsvp**\n- Función: Iniciar, recopilar los datos necesarios (fecha, tipo de contacto, interés) y completar el agendamiento de una cita presencial o llamada.\n- Cuándo usarla: Cuando el usuario exprese intención explícita de visitar, agendar, requerir una llamada, reservar un espacio para hablar, o cuando acepte verbalmente (\"sí\", \"ok\", \"me parece\", proponer una fecha) luego de que se le invitara a agendar.\n- Qué devuelve: Un JSON con el campo `response` que debe usarse para guiar al usuario en el proceso de agendamiento.\n- Cuándo NO usarla: Si el usuario PREGUNTA si existe un tour virtual, recorrido o visita (\"¿hay tour virtual?\", \"¿tienen recorrido?\", \"¿puedo ver el proyecto en línea?\") — eso es una pregunta informativa, usar kb_search. Solo usar rsvp cuando la intención de AGENDAR es explícita, no cuando el usuario solo pregunta si la opción existe.         \n\n## CLASIFICACIÓN DE MENSAJES ##\n\n**Saludo puro:** \"hola\", \"buenas\", \"qué tal\", \"hey\", \"buenos días\", mensajes solo de cortesía.\n→ Responde directo. NO llames ninguna tool.\n\n**Intención real:** preguntas (¿cuánto cuesta?, ¿dónde queda?), pedidos (quiero información, me interesa), interés en cotizar.\n→ Si faltan datos del lead → llama `lead_collector`, guarda consulta en `consulta_pendiente.guardar`.\n→ Si datos completos Y hay proyecto activo → llama `kb_search`.\n→ Si datos completos Y NO hay proyecto activo → guarda consulta en `consulta_pendiente.guardar` y pregunta cuál proyecto le interesa.\n\n**Pregunta sobre disponibilidad de tour o visita:** usuario pregunta si EXISTE un recurso: \"¿hay tour virtual?\", \"¿tienen recorrido virtual?\", \"¿puedo ver el proyecto en línea?\", \"¿algún tour?\". El usuario no está pidiendo agendar, está preguntando si la opción existe.\n→ Llama kb_search con la pregunta del usuario.\n→ accion.tipo: \"consultar_proyecto\"   \n→ NO llames rsvp.\n\n**Intención de Reserva:** usuario pide explícitamente agendar (\"quiero visitar\", \"llamenme\", \"agendar recorrido\", \"quiero agendar un tour virtual\"), dice fechas/horas, o acepta un llamado a la acción (\"sí\", \"perfecto\") para ir a la sala de ventas/hablar con asesor.\n→ Llama INMEDIATAMENTE a `rsvp`.\n→ accion.tipo: \"recolectar_cita\"\n→\"sí\"/\"perfecto\" solo activa rsvp si Sof-IA previamente invitó a agendar.\n\n**Elección de proyecto:** usuario menciona nombre de proyecto.\n→ Registra el proyecto en `estado_proyecto.proyecto`.\n→ Si hay consulta pendiente → llama `kb_search` con esa consulta.\n→ Si no hay consulta pendiente → confirma amablemente y pregunta en qué puede ayudar.\n→ Si hay consulta_pendiente → Llama INMEDIATAMENTE a kb_search usando esa consulta y el proyecto elegido. NO preguntes \"¿en qué te ayudo?\", da la información de una vez.\n\n**Dato personal del lead:** nombre, correo, teléfono o confirmación.\n→ Llama `lead_collector`.\n\n**Confirmación o mensaje ambiguo:** \"sí\", \"ok\", \"dale\", \"gracias\".\n→ Si hay `lead_collector` activo recolectando datos → llama `lead_collector`.\n→ Si no, responde de forma natural.\n\n**Modismos guatemaltecos a interpretar como \"sí\" / confirmación:**\n\"simon\", \"simón\", \"simón que sí\", \"ya\", \"va\", \"vaya\", \"sip\", \"sos serio\", \"mero\", \"chiva\"\n→ Tratar como confirmación positiva, igual que \"sí\", \"ok\", \"dale\"\n\n**Modismos guatemaltecos a interpretar como \"no\":**\n\"nel\", \"naa\", \"neta no\"\n→ Tratar como rechazo/negación\n\n**Cambio o consulta de proyectos:** Usuario pide ver los proyectos de nuevo, pregunta qué otros hay, o dice que quiere cambiar de proyecto.\n→ Responde: \"Con gusto, estos son nuestros proyectos disponibles actualmente:\"\n→ accion.tipo: \"aclarar\"\n→ estado_proyecto.proyecto: null\n\n## LÓGICA DE CONVERSACIÓN ##\n\n**SALUDO INICIAL (primera interacción, historial vacío):**\n- Si el mensaje es un saludo puro o ambiguo (ej: \"hola\", \"buenos días\") → Responde: \"¡Hola! Soy Sof-IA, asistente virtual de SPECTRUM VIVIENDA. ¿En qué puedo ayudarte hoy? 😊\".\n- SI EL MENSAJE CONTIENE UNA INTENCIÓN REAL, QUEJA O ES UN LEAD CALIENTE (ej: \"quiero información\", \"estoy por comprar\", \"mi asesor no me atiende\") → Llama INMEDIATAMENTE a `lead_collector`. NO uses el saludo genérico; deja que el lead_collector maneje la apertura con empatía.\n- accion.tipo: \"esperar\" (si es saludo) o según la tool.\n\n**SALUDO EN CONVERSACIÓN EN CURSO:**\n- No te presentes de nuevo.\n- Responde natural, sin repetir \"Soy Sof-IA\".\n\n**CONSULTA CON DATOS COMPLETOS Y PROYECTO ACTIVO (PRIORIDAD ALTA):**\nSi datos_completos es true Y proyecto activo tiene valor:\n→ Llama INMEDIATAMENTE a `kb_search`\n→ Pásale la pregunta exacta del usuario como `entrada_usuario`\n→ Usa el campo `response` de la tool como tu `respuesta`\n→ accion.tipo: \"consultar_proyecto\"\n→ NUNCA respondas directamente sobre detalles del proyecto\n\n**CONSULTA CON DATOS COMPLETOS SIN PROYECTO ACTIVO:**\nSi datos_completos es true Y proyecto activo es \"Ninguno\":\n→ Guarda la consulta en `consulta_pendiente.guardar`\n→ Pregunta cuál proyecto le interesa\n→ accion.tipo: \"aclarar\"\n→ NO llames ninguna tool\n\n**USUARIO ELIGE PROYECTO:**\nMapea el nombre al código:\n- Vista Verde / Verde / PVV / Parque Vista Verde - Zona 15 → PVV\n- Mariscal / zona 11 / PMAR / Parque Mariscal - Zona 11 → PMAR\n- Portales / zona 17 / PPO / Parque Portales - Zona 17 → PPO\n- Polanco / zona 10 / PPOL / Polanco Parque Boutique / Polanco Parque Boutique - Zona 10 → PPOL\n- Sotobosque / Parque Sotobosque / PSB / Sotobosque Parque Boutique / Sotobosque Parque Boutique - Zona 15, Vista Hermosa II → PSB\n\nUna vez identificado:\n- Registra en `estado_proyecto.proyecto` con el código.\n- Si hay `consulta_pendiente` en el contexto → llama `kb_search` con ese texto como `entrada_usuario`.\n  → accion.tipo: \"consultar_proyecto\"\n  → consulta_pendiente.limpiar: true\n- Si no hay consulta pendiente → confirma amablemente y pregunta en qué puedes ayudar.\n  → accion.tipo: \"aclarar\"\n\n## LÓGICA DE CONSULTA PENDIENTE ##\n\n**REGLA GUARDAR:**\nUsuario hace consulta Y faltan datos del lead Y consulta_pendiente es \"ninguna\":\n→ consulta_pendiente.guardar = mensaje original del usuario\n→ consulta_pendiente.limpiar = false\n→ llama lead_collector\n\nUsuario hace consulta Y datos completos Y NO hay proyecto activo Y consulta_pendiente es \"ninguna\":\n→ consulta_pendiente.guardar = mensaje original del usuario\n→ consulta_pendiente.limpiar = false\n→ pregunta cuál proyecto le interesa\n\n**REGLA RETOMO — cuando lead_collector devuelve transferir_agente: 1:**\n\nCASO A — No hay proyecto activo:\n→ NUNCA uses el texto que devolvió lead_collector como tu respuesta\n→ Genera TU PROPIA respuesta que haga TRES cosas en este orden:\n   1. Agradece brevemente usando el nombre del lead\n   2. Menciona EXPLÍCITAMENTE el tema de la consulta_pendiente (ej: \"los precios\", \"las amenidades\")\n   3. Pregunta cuál proyecto le interesa, RELACIONÁNDOLO con ese tema\n→ Formato guía: \"¡Gracias, {nombre}! Con gusto te informo sobre [tema de consulta_pendiente]. ¿De cuál de nuestros\n  proyectos te gustaría saber?\"\n  → EXCEPCIÓN: Si la consulta_pendiente menciona \"zona 15\" sin nombre de proyecto específico:\n     Pregunta: \"¡Gracias, {nombre}! En la zona 15 tenemos dos proyectos: Parque Vista Verde y Sotobosque Parque\n  Boutique. ¿Cuál te interesa?\"\n→ accion.tipo: \"aclarar\"\n→ consulta_pendiente.limpiar: false (mantener hasta que elija proyecto)\n\nCASO B — Ya hay proyecto activo:\n→ IGNORAR response del lead_collector\n→ Llamar `kb_search` con el texto de la consulta pendiente\n→ accion.tipo: \"consultar_proyecto\"\n→ consulta_pendiente.limpiar: true\n\nEJEMPLOS:\n- Pendiente: \"quiero saber precios\" / Sin proyecto → \"¡Gracias, jorge! Para los precios, ¿cuál proyecto te interesa?\"\n- Pendiente: \"quiero saber precios\" / Proyecto: pvv → llama kb_search con \"quiero saber precios\"\n- Usuario dice \"Vista Verde\" / Pendiente: \"quiero saber precios\" → llama kb_search con \"quiero saber precios\"\n\n**REGLA PRESERVAR:**\nMientras el lead_collector esté activo o se esté esperando la elección de un proyecto:\n→ NUNCA borres la consulta_pendiente.\n→ consulta_pendiente.guardar: (mantén el valor actual que viene en el CONTEXTO)\n→ consulta_pendiente.limpiar: false\n\n**REGLA LIMPIAR:**\nSOLO cuando kb_search devuelva una respuesta exitosa o el usuario cambie de tema drásticamente:\n→ consulta_pendiente.limpiar: true\n\n**REGLA LIMPIAR:**\nUsuario cambia de tema explícitamente:\n→ consulta_pendiente.limpiar: true\n→ consulta_pendiente.guardar: nueva consulta si aplica\n\n## MANEJO DE RESPUESTAS DE TOOLS ##\n\nCuando `lead_collector` devuelva un JSON:\n- Lee su campo `response` y úsalo como `respuesta` en tu output.\n- Sus campos `nombre`, `primer_nombre`, `apellidos`, `correo`, `telefono` los reflejas en `estado_lead`.\n- Si devolvió `transferir_agente: 1` → datos completos → aplica REGLA RETOMO.\n- NUNCA pases el JSON crudo al usuario.\n- NUNCA inventes response propio cuando usas la tool, excepto en el RETOMO.\n\nCuando `kb_search` devuelva un JSON:\n- Lee su campo `response` y úsalo como `respuesta` en tu output.\n- Si devolvió `escalate: true` → pon `transferir: 1`.\n- NUNCA pases el JSON crudo al usuario.\n- NUNCA inventes información del proyecto que no venga de kb_search.\n\n## REGLAS DE ESTILO ##\n- Respuestas cortas y naturales.\n- Una sola frase conversacional por turno cuando sea posible.\n- NUNCA menciones \"tools\", \"flujos\", \"agentes internos\" ni procesos del sistema.\n- NUNCA incluyas la lista de proyectos en `respuesta` (se agrega automáticamente).\n- Tono cercano pero profesional.\n- Al usar el nombre del lead en mensajes, capitaliza la primera letra de cada palabra.\n- Cuando menciones proyectos por nombre en tu respuesta, usa el formato completo: \"Parque Vista Verde - Zona 15\",\n  \"Parque Mariscal - Zona 11\", \"Parque Portales - Zona 17\", \"Polanco Parque Boutique - Zona 10\", \"Sotobosque Parque\n  Boutique - Zona 15\".\n\n## MAPEO DE PROYECTOS ##\n- \"Vista Verde\", \"Verde\", \"PVV\", \"Parque Vista Verde - Zona 15\" → código: PVV\n- \"Mariscal\", \"zona 11\", \"PMAR\", \"Parque Mariscal - Zona 11\" → código: PMAR\n- \"Portales\", \"zona 17\", \"PPO\", \"Parque Portales - Zona 17\" → código: PPO\n- \"Polanco\", \"zona 10\", \"PPOL\", \"Polanco Parque Boutique\", \"Polanco Parque Boutique - Zona 10\" → código: PPOL\n- \"Sotobosque\", \"Parque Sotobosque\", \"PSB\", \"Sotobosque Parque Boutique\", \"Sotobosque Parque Boutique - Zona 15, Vista Hermosa II\" → código: PSB\n\n## REGLAS DE AMBIGÜEDAD POR ZONA ##\n- Cuando el usuario mencione SOLO una zona (ej: \"zona 15\", \"la de zona 15\") y existan múltiples proyectos en esa zona:\n  1. NO asumas ningún proyecto\n  2. Usa `accion.tipo: \"aclarar\"`\n  3. Pregunta: \"En la zona 15 tenemos dos proyectos: Parque Vista Verde y Sotobosque Parque Boutique. ¿Cuál te interesa?\"\n  4. `estado_proyecto.proyecto` debe quedar en `null` hasta que el usuario aclare\n- Zonas con ambigüedad conocida:\n  - Zona 15: PVV (Vista Verde) y PSB (Sotobosque)\n\n## FORMATO DE SALIDA OBLIGATORIO ##\nResponde ÚNICAMENTE con este JSON, sin bloques de código, sin texto fuera:\n\n{\n  \"respuesta\": \"<texto al usuario>\",\n  \"estado_lead\": {\n    \"nombre\": \"<string|null>\",\n    \"primer_nombre\": \"<string|null>\",\n    \"apellidos\": \"<string|null>\",\n    \"correo\": \"<string|null>\",\n    \"telefono\": \"<string|null>\",\n    \"datos_completos\": <true|false>\n  },\n  \"estado_proyecto\": {\n    \"proyecto\": \"<PVV|PMAR|PPO|PPOL|PSB|null>\",\n    \"transferir\": <0|1>\n  },\n  \"accion\": {\n    \"tipo\": \"<saludar|recolectar_lead|consultar_proyecto|escalar|aclarar|esperar>\",\n    \"razon\": \"<explicación corta>\"\n  },\n  \"metadatos\": {\n    \"intencion\": \"<saludo|consulta|seleccion_proyecto|dato_personal|confirmacion|rechazo|ambiguo>\",\n    \"idioma\": \"<espanol|ingles|...>\",\n    \"confianza\": \"<alta|media|baja>\"\n  },\n  \"depuracion\": {\n    \"herramientas_usadas\": [<lista de tools llamadas>],\n    \"ruta_decision\": \"<breadcrumb corto de razonamiento>\",\n    \"advertencias\": [<lista de observaciones no críticas>]\n  },\n  \"consulta_pendiente\": {\n    \"guardar\": \"<texto|null>\",\n    \"limpiar\": <true|false>,\n    \"retomar\": \"<texto|null>\"\n  }\n}\n\n## REGLAS ESTRICTAS ##\n- `estado_lead.datos_completos` es true SOLO si nombre, correo Y telefono tienen valor real.\n- `estado_proyecto.transferir` es 1 SOLO cuando kb_search devuelve escalate: true.\n- Si llamaste a `lead_collector`, `herramientas_usadas` DEBE incluir \"lead_collector\".\n- Si llamaste a `kb_search`, `herramientas_usadas` DEBE incluir \"kb_search\".\n- Si NO llamaste ninguna tool, `herramientas_usadas` es array vacío [].\n- `ruta_decision` corta, formato \"A → B → C\".\n- Si llamaste a `rsvp`, `herramientas_usadas` DEBE incluir \"rsvp\".\n- Si llamaste a `send_media`, `herramientas_usadas` DEBE incluir \"send_media\"."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -16648,
        2688
      ],
      "id": "f83188da-7051-4589-b94d-14fa956aeed3",
      "name": "PRINCIPAL"
    },
    {
      "parameters": {
        "description": "=Usa esta tool cuando el usuario no haya proporcionado \nnombre, correo electrónico y teléfono todavía. \nEsta tool recolecta los datos de contacto del lead \nde forma conversacional y devuelve la respuesta \nque debe enviarse al usuario.",
        "workflowId": {
          "__rl": true,
          "value": "SHPFhvoal7k1Rqf9",
          "mode": "list",
          "cachedResultUrl": "/workflow/SHPFhvoal7k1Rqf9",
          "cachedResultName": "LEAD COLLECTOR"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', ``, 'string') }}",
            "manychat_id": "={{ $('User Data').item.json.manychat_id }}",
            "canal": "={{ $('User Data').item.json.input_channel }}",
            "tel_sistema": "={{ $('PARSE BODY').item.json.current_body.whatsapp_phone || 'No tiene' }}",
            "nombre": "={{ $('User Data').item.json.nombre || '' }}",
            "primer_nombre": "={{ $('User Data').item.json.primer_nombre || '' }}",
            "apellidos": "={{ $('User Data').item.json.apellidos || '' }}",
            "correo": "={{ $('User Data').item.json.correo || '' }}",
            "telefono": "={{ $('User Data').item.json.telefono || '' }}",
            "proyecto": "={{ $('CONTEXT 1').item.json.proyecto || $('User Data').item.json.proyecto || ($('CONTEXT 1').item.json.canal !== 'whatsapp' ? $('Extraer CAMPAIGN DATA').item.json.extracted_campaign_data.proyecto_detectado : '') }}",
            "mongo_id": "={{ $json._id.toJsonString().replace(/^\"(.*)\"$/, '$1') }}",
            "page_id": "={{ $('PARSE BODY').item.json.current_body.page_id }}",
            "atribucion_tag": "={{ $('Extraer CAMPAIGN DATA').item.json.extracted_campaign_data.atribucion_tag }}",
            "atribucion_medio": "={{ $('Extraer CAMPAIGN DATA').item.json.extracted_campaign_data.atribucion_medio }}",
            "atribucion_contacto": "={{ $('Extraer CAMPAIGN DATA').item.json.extracted_campaign_data.atribucion_contacto }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "manychat_id",
              "displayName": "manychat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "page_id",
              "displayName": "page_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "mongo_id",
              "displayName": "mongo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "canal",
              "displayName": "canal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "tel_sistema",
              "displayName": "tel_sistema",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "primer_nombre",
              "displayName": "primer_nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "apellidos",
              "displayName": "apellidos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "correo",
              "displayName": "correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "proyecto",
              "displayName": "proyecto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "atribucion_tag",
              "displayName": "atribucion_tag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "atribucion_medio",
              "displayName": "atribucion_medio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "atribucion_contacto",
              "displayName": "atribucion_contacto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -16640,
        2912
      ],
      "id": "afa125fb-b410-4e22-953c-d97b1c0ed8b6",
      "name": "lead_collector"
    },
    {
      "parameters": {
        "jsCode": "function prepareForHttp(text) {\n  if (text === null || text === undefined) return \"\";\n  return String(text)\n    .replace(/\\\\/g, \"\\\\\\\\\")\n    .replace(/\"/g, '\\\\\"')\n    .replace(/\\r\\n/g, \"\\\\n\")\n    .replace(/\\n/g, \"\\\\n\")\n    .replace(/\\t/g, \"\\\\t\")\n    .replace(/\\*\\*/g, \"*\")\n    .trim();\n}\n\nconst proyectos = $('PROJECT LIST').first().json.proyectos || {};\nconst nombresProyectos = Object.values(proyectos).map(p => p.split('->')[0].trim());\nconst LISTA = \"\\\\n\\\\n• \" + nombresProyectos.join(\"\\\\n• \");\n\nconst raw = $input.first().json.output || \"\";\nconst match = raw.match(/\\{[\\s\\S]*\\}/);\n\nif (!match) {\n  return [{ \n    json: { \n      respuesta: prepareForHttp(raw),\n      accion_tipo: \"error\",\n      error: \"no_json\",\n      raw_output: raw\n    }\n  }];\n}\n\ntry {\n  const parsed = JSON.parse(match[0]);\n\n  const respuesta = parsed.respuesta || \"\";\n  const accionTipo = parsed.accion?.tipo || \"esperar\";\n  const transferir = parsed.estado_proyecto?.transferir ?? 0;\n  const proyecto = parsed.estado_proyecto?.proyecto || null;\n  \n  // Agrega lista solo cuando pide elegir proyecto y no hay proyecto aún\n  const agregarLista = accionTipo === \"aclarar\" && !proyecto;\n  const respuestaFinal = agregarLista \n    ? prepareForHttp(respuesta) + LISTA\n    : prepareForHttp(respuesta);\n\n  return [{\n    json: {\n      respuesta: respuestaFinal,\n      accion_tipo: accionTipo,\n      accion_razon: parsed.accion?.razon || \"\",\n      proyecto: proyecto,\n      transferir: transferir,\n      lead_nombre: parsed.estado_lead?.nombre || null,\n      lead_primer_nombre: parsed.estado_lead?.primer_nombre || null,\n      lead_apellidos: parsed.estado_lead?.apellidos || null,\n      lead_correo: parsed.estado_lead?.correo || null,\n      lead_telefono: parsed.estado_lead?.telefono || null,\n      datos_completos: parsed.estado_lead?.datos_completos ?? false,\n      intencion: parsed.metadatos?.intencion || null,\n      idioma: parsed.metadatos?.idioma || null,\n      confianza: parsed.metadatos?.confianza || null,\n      herramientas_usadas: parsed.depuracion?.herramientas_usadas || [],\n      ruta_decision: parsed.depuracion?.ruta_decision || \"\",\n      advertencias: parsed.depuracion?.advertencias || [],\n      raw: parsed,\n      consulta_pendiente_guardar: parsed.consulta_pendiente?.guardar || null,\n      consulta_pendiente_limpiar: parsed.consulta_pendiente?.limpiar || false,\n      consulta_pendiente_retomar: parsed.consulta_pendiente?.retomar || null,\n    }\n  }];\n\n} catch(e) {\n  return [{ \n    json: { \n      respuesta: prepareForHttp(raw),\n      accion_tipo: \"error\",\n      error: \"parse_failed\",\n      error_message: e.message,\n      raw_output: raw\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16048,
        2688
      ],
      "id": "65174940-499c-4586-9911-3f9bc225a62a",
      "name": "Parse response"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0d6214cb-1acb-4f7e-b57e-73e911ebcaa5",
              "leftValue": "={{ $json.value }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -15600,
        2400
      ],
      "id": "311a8a49-ebc4-4fe8-909b-f15697aec0ef",
      "name": "If TIENE DATOS NUEVOS"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9f9974b3-e66f-4160-ab03-0c53c1d05e2c",
              "name": "_id",
              "value": "={{ $('User Data').item.json._id.toString().replace(/^\"(.*)\"$/, '$1') }}",
              "type": "string"
            },
            {
              "id": "1dfe570b-1cba-466b-a975-63089a0d43e1",
              "name": "last_update",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "e05f001b-588a-437f-9800-1ff66d7fac7e",
              "name": "nombre",
              "value": "={{ $('Parse response').item.json.lead_nombre || undefined }}",
              "type": "string"
            },
            {
              "id": "primer_nombre-prepare-001",
              "name": "primer_nombre",
              "value": "={{ $('Parse response').item.json.lead_primer_nombre || undefined }}",
              "type": "string"
            },
            {
              "id": "apellidos-prepare-001",
              "name": "apellidos",
              "value": "={{ $('Parse response').item.json.lead_apellidos || undefined }}",
              "type": "string"
            },
            {
              "id": "18ea17f9-e5f6-4a93-8621-d51912e4f73a",
              "name": "correo",
              "value": "={{ $('Parse response').item.json.lead_correo || undefined }}",
              "type": "string"
            },
            {
              "id": "69fc0996-54d0-435d-9246-fa4146a900b2",
              "name": "telefono",
              "value": "={{ $('Parse response').item.json.lead_telefono || undefined }}",
              "type": "string"
            },
            {
              "id": "0be37564-e330-4d62-8e4a-a99671f75ebf",
              "name": "datos_completos",
              "value": "={{ $('Parse response').item.json.datos_completos ? true : undefined }}",
              "type": "boolean"
            },
            {
              "id": "73b2ce9f-c7db-4bce-9975-21aef53dd1b3",
              "name": "datos_completos_timestamp",
              "value": "={{ $('Parse response').item.json.datos_completos ? $now.toISO() : undefined }}",
              "type": "string"
            },
            {
              "id": "5ddbbdb6-dd3b-4f7a-b5d3-554129d42155",
              "name": "consulta_pendiente",
              "value": "={{ \n  $json.consulta_pendiente_limpiar ? null : \n  ($json.consulta_pendiente_guardar || $('User Data').item.json.consulta_pendiente || undefined) \n}}",
              "type": "string"
            },
            {
              "id": "9e9581f8-4fd4-4faa-9093-946783b656e9",
              "name": "proyecto",
              "value": "={{ \n  $('Parse response').item.json.proyecto || \n  $('User Data').item.json.proyecto || \n  undefined \n}}",
              "type": "string"
            },
            {
              "id": "2e50d498-8d70-4619-a619-d3d242e79de9",
              "name": "conversation_analysis",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -15376,
        2304
      ],
      "id": "6117acba-8e84-4045-a9c4-838ddde01531",
      "name": "Prepare Update"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "550ae3c0-99c3-43fa-8627-e08c78c455eb",
              "name": "value",
              "value": "={{ \n  ($json.lead_nombre !== null && $json.lead_nombre !== '') ||\n  ($json.lead_primer_nombre !== null && $json.lead_primer_nombre !== '') ||\n  ($json.lead_apellidos !== null && $json.lead_apellidos !== '') ||\n  ($json.lead_correo !== null && $json.lead_correo !== '') ||\n  ($json.lead_telefono !== null && $json.lead_telefono !== '') ||\n  ($json.proyecto !== null && $json.proyecto !== '') ||\n  $json.consulta_pendiente_guardar !== null ||\n  $json.consulta_pendiente_limpiar === true\n}}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -15824,
        2400
      ],
      "id": "4169def5-e6b0-45e9-b798-dab356826a0c",
      "name": "Hay Cambios?"
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "users",
        "updateKey": "_id",
        "fields": "={{ Object.keys($json).filter(k => k !== '_id' && $json[k] !== null && $json[k] !== undefined).join(\",\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -15152,
        2304
      ],
      "id": "732e8de5-9f80-4ee1-857b-dd9867219570",
      "name": "Update User Lead",
      "credentials": {
        "mongoDb": {
          "id": "UzcANqeDFO1QLbfd",
          "name": "SPECTRUM - CENTRALIZADO"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -14704,
        2592
      ],
      "id": "d55b309e-522e-4771-9e5f-0e598df64f07",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "description": "=Usa esta tool cuando el usuario haga una pregunta o consulta \nsobre un proyecto inmobiliario y los datos del lead ya están completos. \nBusca en la knowledge base y devuelve una respuesta conversacional.\n\nParámetros que debes pasar:\n- entrada_usuario: la pregunta exacta del usuario o la consulta pendiente a retomar\n- proyecto: el código del proyecto activo o el que el usuario acaba de elegir proyecto: el código del proyecto activo o el que el usuario acaba de elegir (PVV, PMAR, PPO, PPOL o PSB).\n- manychat_id: el ID del usuario",
        "workflowId": {
          "__rl": true,
          "value": "D3LKuNi6CmMIdvzg",
          "mode": "list",
          "cachedResultUrl": "/workflow/D3LKuNi6CmMIdvzg",
          "cachedResultName": "KB SEARCH"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "proyecto": "={{ $fromAI('proyecto', '', 'string') || $('User Data').item.json.proyecto }}",
            "entrada_usuario": "={{ $fromAI('entrada_usuario', ``, 'string') }}",
            "manychat_id": "={{ $('User Data').item.json.manychat_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "manychat_id",
              "displayName": "manychat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "proyecto",
              "displayName": "proyecto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "entrada_usuario",
              "displayName": "entrada_usuario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -16512,
        2912
      ],
      "id": "f4da7ed3-8cac-4130-8fd7-cada1dffc442",
      "name": "kb_search"
    },
    {
      "parameters": {
        "description": "=Función: Iniciar, recopilar o completar el agendamiento de una cita presencial o llamada. Úsala de inmediato si el cliente pide visitar una sala de ventas o agendar una cita/llamada. O si, luego de que tú ofrecieras una cita, el usuario responde afirmativamente (\"sí me parece\", \"dale\"). \nParámetro principal requerido que debes generar: proyecto (Código del proyecto PVV, PMAR, PPO, PPOL o PSB).",
        "workflowId": {
          "__rl": true,
          "value": "TjFPzHs5aimxILH7",
          "mode": "list",
          "cachedResultUrl": "/workflow/TjFPzHs5aimxILH7",
          "cachedResultName": "RSVP"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "manychat_id": "={{ $('User Data').item.json.manychat_id }}",
            "proyecto": "={{ $fromAI('proyecto', '', 'string') || $('User Data').item.json.proyecto }}",
            "nombre": "={{ $('User Data').item.json.nombre || '' }}",
            "correo": "={{ $('User Data').item.json.correo || '' }}",
            "telefono": "={{ $('User Data').item.json.telefono || '' }}",
            "entrada_usuario": "={{ $('CONTEXT 1').item.json.entrada_usuario }}",
            "lista_proyectos": "={{ $('PROJECT LIST').item.json.proyectos }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "manychat_id",
              "displayName": "manychat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "proyecto",
              "displayName": "proyecto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "correo",
              "displayName": "correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "entrada_usuario",
              "displayName": "entrada_usuario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "lista_proyectos",
              "displayName": "lista_proyectos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -16384,
        2912
      ],
      "id": "9fa431d6-5df9-416c-937b-a7d1c7eb783c",
      "name": "rsvp"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3844950b-1b47-4238-a3d7-70fd891a129f",
              "leftValue": "={{ $json.transferir }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -15824,
        2592
      ],
      "id": "f4b937f3-7434-45b1-8acb-dd18fc56aefd",
      "name": "Filter IF TRANSFER"
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "analytics_logs",
        "fields": "={{ Object.keys($json).join(\",\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -13808,
        2400
      ],
      "id": "b33a117c-69d6-4356-8afb-e353dd460e46",
      "name": "Insert Analytics",
      "credentials": {
        "mongoDb": {
          "id": "UzcANqeDFO1QLbfd",
          "name": "SPECTRUM - CENTRALIZADO"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0a394660-4198-4314-8ab0-0cf36fa10917",
              "name": "sessionId",
              "value": "={{ $('PARSE BODY').item.json.current_body.id }}",
              "type": "string"
            },
            {
              "id": "a382a941-bfab-41dd-9f6c-c2a538fef814",
              "name": "response_time_sec",
              "value": "={{ parseFloat((($now.toMillis() - $('Create Body').first().json.start_time) / 1000).toFixed(2)) }}",
              "type": "number"
            },
            {
              "id": "c0422b35-2086-47a0-886a-e56cba84ab28",
              "name": "proyecto",
              "value": "={{ $('User Data').item.json.proyecto || 'No Identificado' }}",
              "type": "string"
            },
            {
              "id": "c2732a35-9768-41d0-86ef-ab5cedde1467",
              "name": "canal",
              "value": "={{ $('User Data').item.json.input_channel }}",
              "type": "string"
            },
            {
              "id": "463cfe71-1fa9-462f-b245-7ef75b47929d",
              "name": "accion_orquestador",
              "value": "={{ $('Parse response').item.json.accion_tipo || 'Desconocida' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -14032,
        2400
      ],
      "id": "e4d8d901-9990-4e27-9456-1b2fd1b31a5e",
      "name": "Calculate Respond Time"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "r1Jf5vwrkBrT4dEu",
          "mode": "list",
          "cachedResultUrl": "/workflow/r1Jf5vwrkBrT4dEu",
          "cachedResultName": "Notifications Master"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tipo_alerta": "nuevo_lead",
            "datos": "={{ \n  {\n    \"proyecto\": $('User Data').item.json.proyecto || 'Parque Vista Verde',\n    \"nombre_lead\": $json.nombre || $('Parse response').item.json.lead_nombre || $('User Data').item.json.nombre || 'No registrado',\n    \"telefono_lead\": $json.telefono || $('Parse response').item.json.lead_telefono || $('User Data').item.json.telefono || 'No registrado',\n    \"correo_lead\": $json.correo || $('Parse response').item.json.lead_correo || $('User Data').item.json.correo || 'No registrado',\n    \"canal\": $('User Data').item.json.input_channel\n  }\n}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tipo_alerta",
              "displayName": "tipo_alerta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "datos",
              "displayName": "datos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -14704,
        2208
      ],
      "id": "044b832d-ad4c-4143-a6cd-a0226f5b0957",
      "name": "'Notifications Master' Nuevos Leads"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "r1Jf5vwrkBrT4dEu",
          "mode": "list",
          "cachedResultUrl": "/workflow/r1Jf5vwrkBrT4dEu",
          "cachedResultName": "Notifications Master"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tipo_alerta": "escalacion",
            "datos": "={{ \n  {\n    \"proyecto\": $('User Data').item.json.proyecto || 'Parque Vista Verde',\n    \"nombre_lead\": $('Parse response').item.json.lead_nombre || $('User Data').item.json.nombre || 'No registrado',\n    \"telefono_lead\": $('Parse response').item.json.lead_telefono || $('User Data').item.json.telefono || 'No registrado',\n    \"correo_lead\": $('Parse response').item.json.lead_correo || $('User Data').item.json.correo || 'No registrado',\n    \"canal\": $('User Data').item.json.input_channel,\n    \"ultima_consulta\": $('CONTEXT 1').item.json.entrada_usuario\n  }\n}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tipo_alerta",
              "displayName": "tipo_alerta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "datos",
              "displayName": "datos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -15600,
        2592
      ],
      "id": "4ab9634f-5556-46e5-8b4a-c7d065151af3",
      "name": "'Notifications Master' Escalation"
    },
    {
      "parameters": {
        "description": "=Usa esta tool cuando el usuario pida explícitamente contenido multimedia \ncomo fotos, imágenes, planos, renders, brochure o amenidades del proyecto.\nParámetros requeridos:\n- tipo_media: la palabra clave de lo que pide (brochure, amenidades, renders, planos)\n- proyecto: el código del proyecto (pvv, pm, pp)\n- canal: el canal por donde escribe el usuario\n- manychat_id: ID del usuario",
        "workflowId": {
          "__rl": true,
          "value": "NtTiyrNy2LHimE7u",
          "mode": "list",
          "cachedResultUrl": "/workflow/NtTiyrNy2LHimE7u",
          "cachedResultName": "SEND MEDIA"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tipo_media": "={{ $fromAI('tipo_media', '', 'string') }}",
            "proyecto": "={{ $fromAI('proyecto', '', 'string') || $('User Data').item.json.proyecto }}",
            "canal": "={{ $('User Data').item.json.input_channel }}",
            "manychat_id": "={{ $('User Data').item.json.manychat_id }}",
            "manychat_api": "={{ $('Get Account Credentials').item.json.api_key }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tipo_media",
              "displayName": "tipo_media",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "proyecto",
              "displayName": "proyecto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "canal",
              "displayName": "canal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "manychat_id",
              "displayName": "manychat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "manychat_api",
              "displayName": "manychat_api",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -16256,
        2912
      ],
      "id": "e6821013-3a83-4fc7-8074-d777bfa126a4",
      "name": "send_media"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -14704,
        2400
      ],
      "id": "708eb40b-3dd0-4cc6-85d0-0e7c9f943bf0",
      "name": "No Operation, do nothing2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "df577d5c-ddf9-44ef-9848-ef135119e484",
              "leftValue": "={{ $('Parse response').item.json.datos_completos }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "49398426-9115-47fb-b997-e06d080b1c2b",
              "leftValue": "={{ $('User Data').item.json.datos_completos }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -14928,
        2304
      ],
      "id": "63b7cd65-7ff2-45b9-9c84-c477adda1138",
      "name": "IF NUEVO LEAD"
    },
    {
      "parameters": {
        "collection": "users_fase_2",
        "options": {},
        "query": "={\"phone\":\"{{ $('PARSE BODY').item.json.current_body.whatsapp_phone }}\"}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -19360,
        2760
      ],
      "id": "16af83aa-1905-422b-aa91-fb35298a0936",
      "name": "Find user by Phone",
      "alwaysOutputData": true,
      "executeOnce": false,
      "credentials": {
        "mongoDb": {
          "id": "UzcANqeDFO1QLbfd",
          "name": "SPECTRUM - CENTRALIZADO"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ca0080ac-2510-4cf9-9468-d7773669c512",
              "leftValue": "={{ $('PARSE BODY').item.json.current_body.custom_fields.canal_ingreso.toLowerCase() }}",
              "rightValue": "whatsapp",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -19584,
        2688
      ],
      "id": "6bf4f0b7-ff42-44a3-9e7e-cac6f26b171c",
      "name": "If NOT WHATSAPP"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f619fe49-00c0-477a-9d5b-776fc503e4d0",
              "leftValue": "={{ $('Find user by Phone').item.json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -19136,
        2760
      ],
      "id": "7715eedd-e829-4f25-a3ff-ea30f2794dac",
      "name": "If NOT EXIST"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ \n{\n  \"manychat_id\": $('PARSE BODY').item.json.current_body.id,\n  \"nombre\": $json.name,\n  \"correo\": $json.email,\n  \"telefono\": $json.phone,\n  \"proyecto\": $('CONTEXT 1').item.json.proyecto,\n  \"last_user_input\": $('CONTEXT 1').item.json.entrada_usuario,\n  \"language\": $('CONTEXT 1').item.json.lenguaje,\n  \"asesoria\": $('CONTEXT 1').item.json.asesoria,\n  \"input_channel\": $('CONTEXT 1').item.json.canal,\n  \"timestamp\": $('PARSE BODY').item.json.timestamp,\n  \"consulta_pendiente\": null,\n  \"first_interaction\": $json.first_interaction.toDateTime().toISO(),\n  \"last_interaction\": $now.toISO(),\n  \"last_message\": $('CONTEXT 1').item.json.entrada_usuario,\n  \"has_reservation\": false,\n  \"datos_completos\": true,\n  \"datos_completos_timestamp\": $json.first_interaction.toDateTime().toISO(),\n}\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -18912,
        2832
      ],
      "id": "794afe10-3fcc-4b9c-916b-3e70b2805fcf",
      "name": "DATA to CREATE FASE 2"
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "users",
        "fields": "={{ Object.keys($json).join(\",\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -18688,
        2832
      ],
      "id": "c27de941-ca3a-416a-8ad3-3dcb4675c00c",
      "name": "Insert User Fase 2",
      "credentials": {
        "mongoDb": {
          "id": "UzcANqeDFO1QLbfd",
          "name": "SPECTRUM - CENTRALIZADO"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d90a4768-5969-4cb1-b612-40627b026990",
              "name": "user_id",
              "value": "={{ $('If NOT EXIST').item.json.user_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -18464,
        2832
      ],
      "id": "83461403-9ce5-4178-9c27-e68b43ed446d",
      "name": "ID - Lead en Fase 2 "
    },
    {
      "parameters": {
        "jsCode": "// 1. Capturar texto base y canal\nconst body = $('PARSE BODY').first().json.current_body;\nconst canal_ingreso = body.custom_fields?.canal_ingreso || \"WhatsApp\";\nlet message_text = body.last_input_text || \"\";\nconst message_lower = message_text.toLowerCase();\n\n// 2. Determinar Código CRM Base (UTM Source numérico)\nlet utm_base = \"100000004\"; // Default WhatsApp\nif (canal_ingreso.includes(\"Instagram\")) utm_base = \"100000012\";\nelse if (canal_ingreso.includes(\"Messenger\")) utm_base = \"100000005\";\n\n// 3. Mapeo de Atribución basado en \"Prefilled Text\" (Tu tabla)\nlet defaultTag = \"Web\";\nlet defaultMedio = \"Página web\";\nif (canal_ingreso.includes(\"Instagram\") || canal_ingreso.includes(\"Messenger\")) {\n  defaultTag = \"Social Media\";\n  defaultMedio = \"Redes sociales Orgánico\";\n}\n\nlet atribucion = {\n  tag: defaultTag,\n  medio: defaultMedio,\n  contacto: \"Chatbot\"\n};\n\n// Detección por frases exactas\nif (message_lower.includes(\"en un anuncio\")) {\n  atribucion = { tag: \"City Core\", medio: \"Comunicación en City Cores\", contacto: \"Chatbot\" };\n} else if (message_lower.includes(\"redes sociales\")) {\n  atribucion = { tag: \"Social Media\", medio: \"Redes sociales Orgánico\", contacto: \"Chatbot\" };\n} else if (message_lower.includes(\"fan page\")) {\n  atribucion = { tag: \"Fan Page\", medio: \"Encabezado de fan page\", contacto: \"Chatbot/Página web\" };\n} else if (message_lower.includes(\"por email\")) {\n  atribucion = { tag: \"Mail\", medio: \"Mailings\", contacto: \"Chatbot\" };\n} else if (message_lower.includes(\"en el banco\")) {\n  atribucion = { tag: \"Banco\", medio: \"Bancos\", contacto: \"Chatbot\" };\n} else if (message_lower.includes(\"quiero información\") || message_lower.includes(\"info de\")) {\n  atribucion = { tag: \"Web\", medio: \"Página web\", contacto: \"Chatbot\" };\n}\n\n// 4. Detección de Proyectos (Mantenemos la lógica actual)\nlet proyecto = null;\nif (message_lower.includes(\"vista verde\") || message_lower.includes(\"pvv\")) proyecto = \"PVV\";\nelse if (message_lower.includes(\"mariscal\") || message_lower.includes(\"pmar\")) proyecto = \"PMAR\";\nelse if (message_lower.includes(\"portales\") || message_lower.includes(\"ppo\")) proyecto = \"PPO\";\nelse if (message_lower.includes(\"polanco\") || message_lower.includes(\"ppol\")) proyecto = \"PPOL\";\nelse if (message_lower.includes(\"soto bosque\") || message_lower.includes(\"sotobosque\") ||\n  message_lower.includes(\"psb\")) proyecto = \"PSB\";\n\nreturn [{\n    json: {\n        ...$input.item.json,\n        extracted_campaign_data: {\n            proyecto_detectado: proyecto,\n            utm_source_crm: utm_base,\n            // Nuevos campos detallados\n            atribucion_tag: atribucion.tag,\n            atribucion_medio: atribucion.medio,\n            atribucion_contacto: atribucion.contacto\n        }\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -24768,
        2688
      ],
      "id": "5093aa82-cc2c-4337-8613-1007f890eb28",
      "name": "Extraer CAMPAIGN DATA"
    },
    {
      "parameters": {
        "operation": "delete",
        "collection": "users_fase_2",
        "query": "={\"user_id\": \"{{ $json.user_id }}\"}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -18240,
        2832
      ],
      "id": "f9875443-207d-4732-9704-7bba8b49c229",
      "name": "Delete Lead FASE 2",
      "credentials": {
        "mongoDb": {
          "id": "UzcANqeDFO1QLbfd",
          "name": "SPECTRUM - CENTRALIZADO"
        }
      }
    },
    {
      "parameters": {
        "collection": "manychat_settings",
        "options": {},
        "query": "={ \"page_id\": \"{{ $json.current_body.page_id }}\" }"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -24992,
        2688
      ],
      "id": "8571a7c3-fee2-4254-b109-952678503fc3",
      "name": "Get Account Credentials",
      "retryOnFail": false,
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "UzcANqeDFO1QLbfd",
          "name": "SPECTRUM - CENTRALIZADO"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.manychat.com/fb/subscriber/setCustomFieldByName",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get Account Credentials').item.json.api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"subscriber_id\": \"{{ $('PARSE BODY').item.json.current_body.id }}\",\n  \"field_name\": \"proyecto_interes\",\n  \"field_value\": \"{{ $json.proyecto }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -15600,
        2784
      ],
      "id": "fa9a4b5d-ccf8-4227-9ceb-de74dd006d76",
      "name": "UPDATE - Proyecto Interes"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "43c8a26b-80ae-4bbc-9c96-c87e721c9c61",
              "leftValue": "={{ $json.proyecto }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -15824,
        2784
      ],
      "id": "0758e7a0-b726-4151-b6b3-0206f7a43a13",
      "name": "Filtrar Proyecto Existente"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.manychat.com/fb/subscriber/setCustomFieldByName",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get Account Credentials').item.json.api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"subscriber_id\": \"{{ $('PARSE BODY').item.json.current_body.id }}\",\n  \"field_name\": \"proyecto_utm_source\", \n  \"field_value\": \"{{ $('Extraer CAMPAIGN DATA').item.json.extracted_campaign_data.utm_source_crm }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -15824,
        2976
      ],
      "id": "156e15f8-c07b-4ab6-aa0c-0c03bb900a2a",
      "name": "UPDATE - UTM Source"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b9c1d2e3-f4a5-6789-bcde-f01234567891",
              "leftValue": "={{ $('Lenguaje & Asesoria').item.json.output.interes_precios }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -13584,
        2400
      ],
      "id": "364eb61e-84f8-4ec0-939f-1448dbaaa779",
      "name": "IF INTERES PRECIOS"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "r1Jf5vwrkBrT4dEu",
          "mode": "list",
          "cachedResultUrl": "/workflow/r1Jf5vwrkBrT4dEu",
          "cachedResultName": "Notifications Master"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tipo_alerta": "interes_precios",
            "datos": "={{ \n  {\n    \"proyecto\": $('User Data').item.json.proyecto || 'No identificado',\n    \"nombre_lead\": $('Parse response').item.json.lead_nombre || $('User Data').item.json.nombre || 'No registrado',\n    \"telefono_lead\": $('Parse response').item.json.lead_telefono || $('User Data').item.json.telefono || 'No registrado',\n    \"correo_lead\": $('Parse response').item.json.lead_correo || $('User Data').item.json.correo || 'No registrado',\n    \"ultima_consulta\": $('CONTEXT 1').item.json.entrada_usuario\n  }\n}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tipo_alerta",
              "displayName": "tipo_alerta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "datos",
              "displayName": "datos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -13360,
        2400
      ],
      "id": "a0aa8b89-9b6e-4534-99bc-3b103aec8a60",
      "name": "'Notifications Master' Interés Precios"
    }
  ],
  "connections": {
    "RESPOND TO MANYCHAT": {
      "main": [
        [
          {
            "node": "Calculate Respond Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parameter Type": {
      "main": [
        [
          {
            "node": "RESPOND TO MANYCHAT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Data": {
      "main": [
        [
          {
            "node": "PRINCIPAL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "CONTEXT 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If NO WHATSAPP": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Proyecto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Proyecto": {
      "main": [
        [
          {
            "node": "CONTEXT 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lenguaje & Asesoria": {
      "main": [
        [
          {
            "node": "If NO WHATSAPP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Proyecto",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Update User": {
      "main": [
        [
          {
            "node": "User Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert User": {
      "main": [
        [
          {
            "node": "User Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find User": {
      "main": [
        [
          {
            "node": "If USER NOT EXIST",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CONTEXT 1": {
      "main": [
        [
          {
            "node": "If NOT WHATSAPP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DATA to CREATE": {
      "main": [
        [
          {
            "node": "Insert User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DATA to UPDATE": {
      "main": [
        [
          {
            "node": "Update User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If USER NOT EXIST": {
      "main": [
        [
          {
            "node": "DATA to CREATE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DATA to UPDATE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PARSE BODY": {
      "main": [
        [
          {
            "node": "Get Account Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JOINNING MESSAGE": {
      "main": [
        [
          {
            "node": "DELETE MESSAGES",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PROJECT LIST": {
      "main": [
        [
          {
            "node": "Lenguaje & Asesoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "JOINNING MESSAGE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DELETE MESSAGES": {
      "main": [
        [
          {
            "node": "PROJECT LIST",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "GET MESSAGE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET MESSAGE": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SAVE MESSAGE": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INPUT FINAL": {
      "main": [
        [
          {
            "node": "SAVE MESSAGE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "audio input": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "image input": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "text input": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "HTTP IF AUDIO": {
      "main": [
        [
          {
            "node": "TRANSCRIBE AUDIO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ANALIZA IMAGEN": {
      "main": [
        [
          {
            "node": "image input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Lenguaje & Asesoria",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "INPUT FINAL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TRANSCRIBE AUDIO": {
      "main": [
        [
          {
            "node": "audio input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ES AUDIO / IMAGEN": {
      "main": [
        [
          {
            "node": "HTTP IF AUDIO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ANALIZA IMAGEN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "ES AUDIO / IMAGEN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ES ARCHIVO": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "text input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Body": {
      "main": [
        [
          {
            "node": "PARSE BODY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Create Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "PRINCIPAL",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "PRINCIPAL",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "PRINCIPAL": {
      "main": [
        [
          {
            "node": "Parse response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lead_collector": {
      "ai_tool": [
        [
          {
            "node": "PRINCIPAL",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Parse response": {
      "main": [
        [
          {
            "node": "Hay Cambios?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter IF TRANSFER",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filtrar Proyecto Existente",
            "type": "main",
            "index": 0
          },
          {
            "node": "UPDATE - UTM Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If TIENE DATOS NUEVOS": {
      "main": [
        [
          {
            "node": "Prepare Update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Update": {
      "main": [
        [
          {
            "node": "Update User Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hay Cambios?": {
      "main": [
        [
          {
            "node": "If TIENE DATOS NUEVOS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update User Lead": {
      "main": [
        [
          {
            "node": "IF NUEVO LEAD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing1": {
      "main": [
        [
          {
            "node": "Parameter Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "kb_search": {
      "ai_tool": [
        [
          {
            "node": "PRINCIPAL",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "rsvp": {
      "ai_tool": [
        [
          {
            "node": "PRINCIPAL",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Filter IF TRANSFER": {
      "main": [
        [
          {
            "node": "'Notifications Master' Escalation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Analytics": {
      "main": [
        [
          {
            "node": "IF INTERES PRECIOS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Respond Time": {
      "main": [
        [
          {
            "node": "Insert Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "'Notifications Master' Nuevos Leads": {
      "main": [
        [
          {
            "node": "Parameter Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send_media": {
      "ai_tool": [
        [
          {
            "node": "PRINCIPAL",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing2": {
      "main": [
        [
          {
            "node": "Parameter Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF NUEVO LEAD": {
      "main": [
        [
          {
            "node": "'Notifications Master' Nuevos Leads",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find user by Phone": {
      "main": [
        [
          {
            "node": "If NOT EXIST",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If NOT WHATSAPP": {
      "main": [
        [
          {
            "node": "Find User",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Find user by Phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If NOT EXIST": {
      "main": [
        [
          {
            "node": "Find User",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DATA to CREATE FASE 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DATA to CREATE FASE 2": {
      "main": [
        [
          {
            "node": "Insert User Fase 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert User Fase 2": {
      "main": [
        [
          {
            "node": "ID - Lead en Fase 2 ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ID - Lead en Fase 2 ": {
      "main": [
        [
          {
            "node": "Delete Lead FASE 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer CAMPAIGN DATA": {
      "main": [
        [
          {
            "node": "ES ARCHIVO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Lead FASE 2": {
      "main": [
        [
          {
            "node": "Find User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Account Credentials": {
      "main": [
        [
          {
            "node": "Extraer CAMPAIGN DATA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Proyecto Existente": {
      "main": [
        [
          {
            "node": "UPDATE - Proyecto Interes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF INTERES PRECIOS": {
      "main": [
        [
          {
            "node": "'Notifications Master' Interés Precios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Webhook": [
      {
        "headers": {
          "host": "agentsprod.redtec.ai",
          "user-agent": "ManyChat",
          "content-length": "1044",
          "content-type": "application/json; charset=utf-8",
          "x-forwarded-for": "63.179.139.135",
          "x-forwarded-host": "agentsprod.redtec.ai",
          "x-forwarded-port": "443",
          "x-forwarded-proto": "https",
          "x-forwarded-server": "2a862d2f5b19",
          "x-real-ip": "63.179.139.135",
          "accept-encoding": "gzip"
        },
        "params": {},
        "query": {},
        "body": {
          "key": "user:1322293733",
          "id": "1322293733",
          "page_id": "113179411695050",
          "user_refs": [],
          "status": "active",
          "first_name": "Merari",
          "last_name": "de Mata",
          "name": "Merari de Mata",
          "gender": null,
          "profile_pic": "https://app.manychat.com/ava/113179411695050/1322293733/9da4902eb52023d77fb667d94c0ed6e2",
          "locale": null,
          "language": null,
          "timezone": "UTC±00",
          "live_chat_url": "https://app.manychat.com/fb113179411695050/chat/1322293733",
          "last_input_text": "Ok gracias \nSi me gustaría",
          "optin_phone": false,
          "phone": null,
          "optin_email": false,
          "email": null,
          "subscribed": "2026-05-12T09:57:51-06:00",
          "last_interaction": null,
          "ig_last_interaction": "2026-05-12T10:24:03-06:00",
          "last_seen": null,
          "ig_last_seen": "2026-05-12T10:24:03-06:00",
          "is_followup_enabled": true,
          "ig_username": "mery_dmata",
          "ig_id": 1590114552046851,
          "whatsapp_phone": null,
          "whatsapp_bsuid": null,
          "whatsapp_username": null,
          "optin_whatsapp": false,
          "phone_country_code": null,
          "last_growth_tool": null,
          "custom_fields": {
            "canal_ingreso": "Instagram",
            "proyecto": "PPO",
            "proyecto_interes": null,
            "proyecto_utm_source": null
          }
        },
        "webhookUrl": "https://agentsprod.redtec.ai/webhook/spectrum-agent",
        "executionMode": "production"
      }
    ]
  },
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp",
    "instanceId": "d4ab02fb1ef8b6ca2c1c5c1f280ee696b0514d7d92cee5fb0da1784dbe393998"
  }
}