SPECTRUM AGENTE/Agente Unificado/KB SEARCH.json
{
  "name": "KB SEARCH",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "manychat_id"
            },
            {
              "name": "proyecto"
            },
            {
              "name": "entrada_usuario"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -32,
        -32
      ],
      "id": "779db0c9-9865-48a4-b60d-42f58e1836e2",
      "name": "START"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5f6644e3-d0d4-4eb7-af2b-3d8ec7573def",
              "name": "proyecto",
              "value": "={{ $json.proyecto }}",
              "type": "string"
            },
            {
              "id": "5f1d031b-b8d8-4482-8070-518d3ab17d39",
              "name": "entrada_usuario",
              "value": "={{ $json.entrada_usuario }}",
              "type": "string"
            },
            {
              "id": "f949887b-cae2-4df4-9db7-ab7561bd986b",
              "name": "manychat_id",
              "value": "={{ $json.manychat_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        -32
      ],
      "id": "9a6add53-2538-47de-85d7-84117b6ba777",
      "name": "Search Context"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.entrada_usuario }}",
        "options": {
          "systemMessage": "=## KNOWLEDGE BASE 芒聙聰 INFORMACI脙聯N ENCONTRADA ##\n{{ $json.contexto }}\n\n---\n\n# AGENTE CONVERSACIONAL 芒聙聰 SPECTRUM VIVIENDA\nProyecto activo: {{ \n  $json.proyecto === 'PVV' ? 'Parque Vista Verde (Zona 15)' : \n  $json.proyecto === 'PMAR' ? 'Parque Mariscal (Zona 11)' : \n  $json.proyecto === 'PPO' ? 'Parque Portales (Zona 17)' : \n  $json.proyecto === 'PPOL' ? 'Polanco Parque Boutique (Zona 10)' : \n  $json.proyecto === 'PSB' ? 'Sotobosque Parque Boutique (Zona 15)' : \n  'Proyecto Spectrum'\n}}\n\n## REGLAS DE ORO\n1. Responde 脙職NICAMENTE con informaci脙鲁n del KNOWLEDGE BASE de arriba.\n2. NUNCA inventes datos. Si no est脙隆 en el KB, indica que un asesor puede ayudar.\n3. Texto plano. M脙隆ximo 500 caracteres. Sin markdown.\n- Excepci脙鲁n: listas de amenidades pueden superar el l脙颅mite. \n  FORMATO OBLIGATORIO para amenidades 芒聙聰 cada 脙颅tem en l脙颅nea separada con bullet 芒聙垄:\n  \"Cuenta con X amenidades:\\n芒聙垄 Piscina\\n芒聙垄 Gimnasio\\n芒聙垄 ...\"\n  NUNCA en una sola l脙颅nea separada por comas.\n4. CTA al final si no hay rechazos previos.\n\n## GESTI脙聯N DE RESPUESTAS ESPECIALES\n\n### Pregunta con 芒職聽茂赂聫 DATO PENDIENTE\nResponde con lo disponible y cierra con CTA. NUNCA digas \"DATO PENDIENTE\" al usuario.\n\n### Menci脙鲁n de mascota propia\n\"脗隆Qu脙漏 lindo! 冒聼聬戮 Sabemos lo importante que es que tu [mascota] tambi脙漏n se sienta en casa. Queremos ayudarte a encontrar el espacio ideal 冒聼聫隆冒聼聮聸. [CTA]\"\n\n### Pregunta ajena al proyecto\n- Primera vez: \"Eso escapa un poco de mi especialidad. 脗驴Hay algo sobre el proyecto en lo que pueda ayudarte? 冒聼聵聤\"\n- Segunda vez: \"Como soy un asistente virtual, no tengo esa informaci脙鲁n. Derivar脙漏 tu consulta para que un ejecutivo te contacte a la brevedad 冒聼聵聤.\"\n\n### Mensaje ambiguo\nInterpreta siempre a favor del proyecto inmobiliario.\n\n## VARIANTES DE CTA (rota en orden)\n1. \"脗驴Te gustar脙颅a agendar? Podemos hacer una visita presencial, una cita virtual o coordinamos una llamada. 驴Cu谩l prefieres? 冒聼聵聤\"\n2. \"Si gustas, podemos agendar una visita presencial, una cita virtual o llamarte directamente. 脗驴Cu脙隆l te queda mejor? 冒聼聵聤\"\n3. \"Un asesor puede atenderte en persona, de forma virtual o por llamada. 驴Cu谩l prefieres? 冒聼聵聤\"\n\n## PROHIBICIONES\n- 芒聺聦 Pedir datos de contacto\n- 芒聺聦 Inventar informaci脙鲁n no presente en el KB\n- 芒聺聦 Decir \"DATO PENDIENTE\" al usuario\n- 芒聺聦 Usar markdown\n\n## FORMATO DE SALIDA\nResponde 脙職NICAMENTE con este JSON en una sola l脙颅nea:\n{\"response\": \"<texto conversacional>\", \"escalate\": false}\n\nescalate: true SOLO si el usuario pide hablar con un asesor humano."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        992,
        -32
      ],
      "id": "602ae002-8908-47ac-b443-2b7b48cab0dc",
      "name": "GENERAL AGENT"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nif (!items || items.length === 0) {\n  return [{ json: { \n    contexto: \"No se encontr脙鲁 informaci脙鲁n relevante.\",\n    proyecto: $('Search Context').item.json.proyecto,\n    entrada_usuario: $('Search Context').item.json.entrada_usuario\n  }}];\n}\n\nconst contexto = items.map((item, i) => {\n  const doc = item.json.document || {};\n  return `[${i+1}] ${doc.pageContent || ''}`;\n}).join('\\n\\n---\\n\\n');\n\nreturn [{ json: { \n  contexto,\n  proyecto: $('Search Context').item.json.proyecto,\n  entrada_usuario: $('Search Context').item.json.entrada_usuario\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        -32
      ],
      "id": "14f2464b-60b5-427b-88b4-1e80d4d34194",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "mode": "load",
        "mongoCollection": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "embedding": "spectrum_embedding",
        "metadata_field": "respuesta",
        "vectorIndexName": "spectrum_vector_index",
        "prompt": "={{ $('Search Context').item.json.entrada_usuario }}",
        "options": {
          "preFilter": "={{ JSON.stringify({ \"proyecto\": { \"$eq\": $('Search Context').item.json.proyecto } }) }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreMongoDBAtlas",
      "typeVersion": 1.3,
      "position": [
        416,
        -32
      ],
      "id": "c7c9c2bb-d328-4652-8baf-11812de6d871",
      "name": "Knowledge Base"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        992,
        176
      ],
      "id": "0ef54d90-60ed-43fe-b243-521a330f2bb6",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1eb21b84-5b4c-4bec-905f-5c6f1301e9a6",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1344,
        -32
      ],
      "id": "5e8c771d-7dca-4ef2-aef1-9cd6f938e71c",
      "name": "RESPONSE"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        416,
        160
      ],
      "id": "79739b0d-b695-4be9-8a37-756c01a8f689",
      "name": "Embeddings OpenAI"
    }
  ],
  "connections": {
    "START": {
      "main": [
        [
          {
            "node": "Search Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Context": {
      "main": [
        [
          {
            "node": "Knowledge Base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GENERAL AGENT": {
      "main": [
        [
          {
            "node": "RESPONSE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "GENERAL AGENT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Knowledge Base": {
      "ai_tool": [
        []
      ],
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "GENERAL AGENT",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Knowledge Base",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "id": "D3LKuNi6CmMIdvzg",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}