SPECTRUM AGENTE/Agente Unificado/KB SEARCH.json
{
    "nodes": [
        {
            "parameters": {
                "workflowInputs": {
                    "values": [
                        {
                            "name": "manychat_id"
                        },
                        {
                            "name": "proyecto"
                        },
                        {
                            "name": "entrada_usuario"
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.executeWorkflowTrigger",
            "typeVersion": 1.1,
            "position": [-32, -32],
            "id": "779db0c9-9865-48a4-b60d-42f58e1836e2",
            "name": "START"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "5f6644e3-d0d4-4eb7-af2b-3d8ec7573def",
                            "name": "proyecto",
                            "value": "={{ $json.proyecto }}",
                            "type": "string"
                        },
                        {
                            "id": "5f1d031b-b8d8-4482-8070-518d3ab17d39",
                            "name": "entrada_usuario",
                            "value": "={{ $json.entrada_usuario }}",
                            "type": "string"
                        },
                        {
                            "id": "f949887b-cae2-4df4-9db7-ab7561bd986b",
                            "name": "manychat_id",
                            "value": "={{ $json.manychat_id }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [192, -32],
            "id": "9a6add53-2538-47de-85d7-84117b6ba777",
            "name": "Search Context"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $json.entrada_usuario }}",
                "options": {
                    "systemMessage": "=## KNOWLEDGE BASE — INFORMACIÓN ENCONTRADA ##\n{{ $json.contexto }}\n\n---\n\n# AGENTE CONVERSACIONAL — SPECTRUM VIVIENDA\nProyecto activo: {{ \n  $json.proyecto === 'PVV' ? 'Parque Vista Verde (Zona 15)' : \n  $json.proyecto === 'PMAR' ? 'Parque Mariscal (Zona 11)' : \n  $json.proyecto === 'PPO' ? 'Parque Portales (Zona 17)' : \n  $json.proyecto === 'PPOL' ? 'Polanco Parque Boutique (Zona 10)' : \n  $json.proyecto === 'PSB' ? 'Sotobosque Parque Boutique (Zona 15)' : \n  'Proyecto Spectrum'\n}}\n\n## REGLAS DE ORO\n1. Responde ÚNICAMENTE con información del KNOWLEDGE BASE de arriba.\n2. NUNCA inventes datos. Si no está en el KB, indica que un asesor puede ayudar.\n3. Texto plano. Máximo 500 caracteres. Sin markdown.\n- Excepción: listas de amenidades pueden superar el límite. \n  FORMATO OBLIGATORIO para amenidades — cada ítem en línea separada con bullet •:\n  \"Cuenta con X amenidades:\\n• Piscina\\n• Gimnasio\\n• ...\"\n  NUNCA en una sola línea separada por comas.\n4. CTA al final si no hay rechazos previos.\n\n## GESTIÓN DE RESPUESTAS ESPECIALES\n\n### Pregunta con ⚠️ DATO PENDIENTE\nResponde con lo disponible y cerrá con CTA. NUNCA digas \"DATO PENDIENTE\" al usuario.\n\n### Mención de mascota propia\n\"¡Qué lindo! 🐾 Sabemos lo importante que es que tu [mascota] también se sienta en casa. Queremos ayudarte a encontrar el espacio ideal 🏡💛. [CTA]\"\n\n### Pregunta ajena al proyecto\n- Primera vez: \"Eso escapa un poco de mi especialidad. ¿Hay algo sobre el proyecto en lo que pueda ayudarte? 😊\"\n- Segunda vez: \"Como soy un asistente virtual, no tengo esa información. Derivaré tu consulta para que un ejecutivo te contacte a la brevedad 😊.\"\n\n### Mensaje ambiguo\nInterpreta siempre a favor del proyecto inmobiliario.\n\n## VARIANTES DE CTA (rota en orden)\n1. \"¿Te gustaría agendar? Podemos hacer una visita presencial, una cita virtual o coordinamos una llamada. ¿Cuál prefieres? 😊\"\n2. \"Si gustas, podemos agendar una visita presencial, una cita virtual o llamarte directamente. ¿Cuál te queda mejor? 😉\"\n3. \"Un asesor puede atenderte en persona, de forma virtual o por llamada. ¿Cuál prefieres? 🙌\"\n\n## PROHIBICIONES\n- ❌ Pedir datos de contacto\n- ❌ Inventar información no presente en el KB\n- ❌ Decir \"DATO PENDIENTE\" al usuario\n- ❌ Usar markdown\n\n## FORMATO DE SALIDA\nResponde ÚNICAMENTE con este JSON en una sola línea:\n{\"response\": \"<texto conversacional>\", \"escalate\": false}\n\nescalate: true SOLO si el usuario pide hablar con un asesor humano."
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 3.1,
            "position": [992, -32],
            "id": "602ae002-8908-47ac-b443-2b7b48cab0dc",
            "name": "GENERAL AGENT"
        },
        {
            "parameters": {
                "jsCode": "const items = $input.all();\n\nif (!items || items.length === 0) {\n  return [{ json: { \n    contexto: \"No se encontró información relevante.\",\n    proyecto: $('Search Context').item.json.proyecto,\n    entrada_usuario: $('Search Context').item.json.entrada_usuario\n  }}];\n}\n\nconst contexto = items.map((item, i) => {\n  const doc = item.json.document || {};\n  return `[${i+1}] ${doc.pageContent || ''}`;\n}).join('\\n\\n---\\n\\n');\n\nreturn [{ json: { \n  contexto,\n  proyecto: $('Search Context').item.json.proyecto,\n  entrada_usuario: $('Search Context').item.json.entrada_usuario\n}}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [768, -32],
            "id": "14f2464b-60b5-427b-88b4-1e80d4d34194",
            "name": "Code in JavaScript"
        },
        {
            "parameters": {
                "mode": "load",
                "mongoCollection": {
                    "__rl": true,
                    "value": "documents",
                    "mode": "list",
                    "cachedResultName": "documents"
                },
                "embedding": "spectrum_embedding",
                "metadata_field": "respuesta",
                "vectorIndexName": "spectrum_vector_index",
                "prompt": "={{ $('Search Context').item.json.entrada_usuario }}",
                "options": {
                    "preFilter": "={{ JSON.stringify({ \"proyecto\": { \"$eq\": $('Search Context').item.json.proyecto } }) }}"
                }
            },
            "type": "@n8n/n8n-nodes-langchain.vectorStoreMongoDBAtlas",
            "typeVersion": 1.3,
            "position": [416, -32],
            "id": "c7c9c2bb-d328-4652-8baf-11812de6d871",
            "name": "Knowledge Base",
            "credentials": {
                "mongoDb": {
                    "id": "UzcANqeDFO1QLbfd",
                    "name": "SPECTRUM - CENTRALIZADO"
                }
            }
        },
        {
            "parameters": {
                "model": {
                    "__rl": true,
                    "value": "gpt-4.1-mini",
                    "mode": "list",
                    "cachedResultName": "gpt-4.1-mini"
                },
                "responsesApiEnabled": false,
                "options": {
                    "temperature": 0.1
                }
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1.3,
            "position": [992, 176],
            "id": "0ef54d90-60ed-43fe-b243-521a330f2bb6",
            "name": "OpenAI Chat Model",
            "credentials": {
                "openAiApi": {
                    "id": "mwtQQFLfYjj6JZcg",
                    "name": "Spectrum - Parque Verde"
                }
            }
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "1eb21b84-5b4c-4bec-905f-5c6f1301e9a6",
                            "name": "response",
                            "value": "={{ $json.output }}",
                            "type": "object"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [1344, -32],
            "id": "5e8c771d-7dca-4ef2-aef1-9cd6f938e71c",
            "name": "RESPONSE"
        },
        {
            "parameters": {
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
            "typeVersion": 1.2,
            "position": [416, 160],
            "id": "79739b0d-b695-4be9-8a37-756c01a8f689",
            "name": "Embeddings OpenAI",
            "credentials": {
                "openAiApi": {
                    "id": "LtzIKoi61tZvaeua",
                    "name": "Vectorizer Agent - Knowledge Bases"
                }
            }
        }
    ],
    "connections": {
        "START": {
            "main": [
                [
                    {
                        "node": "Search Context",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Search Context": {
            "main": [
                [
                    {
                        "node": "Knowledge Base",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "GENERAL AGENT": {
            "main": [
                [
                    {
                        "node": "RESPONSE",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Code in JavaScript": {
            "main": [
                [
                    {
                        "node": "GENERAL AGENT",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Knowledge Base": {
            "ai_tool": [[]],
            "main": [
                [
                    {
                        "node": "Code in JavaScript",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "GENERAL AGENT",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Embeddings OpenAI": {
            "ai_embedding": [
                [
                    {
                        "node": "Knowledge Base",
                        "type": "ai_embedding",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "d4ab02fb1ef8b6ca2c1c5c1f280ee696b0514d7d92cee5fb0da1784dbe393998"
    }
}
