SPECTRUM AGENTE/Agente Unificado/Send Media.json
{
  "nodes": [
    {
      "parameters": {
        "jsCode": "const proyecto = $input.item.json.proyecto || \"PVV\";\nconst tipo = ($input.item.json.tipo_media || \"amenidades\").toLowerCase().trim();\nconst canal = ($input.item.json.canal || \"whatsapp\").toLowerCase().trim();\n\n// Mapeo inicial de recursos multimedia por proyecto.\n// Debes cambiar estos URLs por los oficiales de cada proyecto.\nconst database = {\n  \"PVV\": {\n    \"amenidades\": \"https://res.cloudinary.com/dif0pqsok/image/upload/v1763745364/amenidades_dble4k.png\",\n    \"renders\": \"https://res.cloudinary.com/dif0pqsok/image/upload/v1763745364/amenidades_dble4k.png\", // Reemplazar\n    \"planos\": \"https://res.cloudinary.com/dif0pqsok/image/upload/v1763745364/amenidades_dble4k.png\", // Reemplazar\n    \"brochure\": \"https://res.cloudinary.com/dif0pqsok/image/upload/v1763745364/amenidades_dble4k.png\" // Reemplazar\n  },\n  \"PMAR\": {\n    \"amenidades\": \"https://link-de-prueba.com/amenidades.png\",\n    \"renders\": \"https://link-de-prueba.com/renders.png\",\n    \"planos\": \"https://link-de-prueba.com/planos.png\",\n    \"brochure\": \"https://link-de-prueba.com/brochure.png\"\n  },\n  \"PPO\": {\n    \"amenidades\": \"https://link-de-prueba.com/amenidades.png\",\n    \"renders\": \"https://link-de-prueba.com/renders.png\",\n    \"planos\": \"https://link-de-prueba.com/planos.png\",\n    \"brochure\": \"https://link-de-prueba.com/brochure.png\"\n  },\n  \"PPOL\": {\n    \"amenidades\": \"https://link-de-prueba.com/polanco-amenidades.png\",\n    \"renders\": \"https://link-de-prueba.com/polanco-renders.png\",\n    \"planos\": \"https://link-de-prueba.com/polanco-planos.png\",\n    \"brochure\": \"https://link-de-prueba.com/polanco-brochure.png\"\n  },\n  \"PSB\": {\n    \"amenidades\": \"https://link-de-prueba.com/sotobosque-amenidades.png\",\n    \"renders\": \"https://link-de-prueba.com/sotobosque-renders.png\",\n    \"planos\": \"https://link-de-prueba.com/sotobosque-planos.png\",\n    \"brochure\": \"https://link-de-prueba.com/sotobosque-brochure.png\"\n  }\n};\n\nconst projectData = database[proyecto] || database[\"PVV\"];\nlet url = projectData[tipo];\n\n// Fallback: si piden algo que no está en la lista, mandamos amenidades por defecto\nif (!url) {\n  url = projectData[\"amenidades\"];\n}\n\n// Lógica extraída del flujo antiguo: Si es whatsapp y la cuenta manda urls en vez de imagen pura, \n// mantenemos esa estructura (envíar como texto en whatsapp, o como imagen en IG/FB).\nconst objectType = canal === 'whatsapp' ? 'text' : 'image';\nconst keyName = canal === 'whatsapp' ? 'text' : 'url';\n\nreturn [{\n  json: {\n    manychat_id: $input.item.json.manychat_id,\n    canal: canal,\n    url: url,\n    objectType: objectType,\n    keyName: keyName\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        -48
      ],
      "id": "a4953767-6691-4a1d-a1e8-22c5183383af",
      "name": "Map Media Resources"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/sending/sendContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('START').item.json.manychat_api }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"subscriber_id\": \"{{ $json.manychat_id }}\",\n  \"data\": {\n    \"version\": \"v2\",\n    \"content\": {\n      \"type\": \"{{ $json.canal }}\",\n      \"messages\": [\n        {\n          \"type\": \"{{ $json.objectType }}\",\n          \"{{ $json.keyName }}\": \"{{ $json.url }}\"\n        }\n      ]\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        -48
      ],
      "id": "5b4a895d-c69f-4d85-ae0b-9a89807e3030",
      "name": "Send API ManyChat"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b3e21820-2c70-4976-8051-789a6be3db9d",
              "name": "response",
              "value": "Media enviada. Dile al usuario con entusiasmo que ya le enviaste lo que solicitó y pregúntale qué le parece el proyecto.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        384,
        -48
      ],
      "id": "1ccd2c84-4ba5-42f6-a885-5f43752a0b83",
      "name": "Response To Agent"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "tipo_media"
            },
            {
              "name": "proyecto"
            },
            {
              "name": "canal"
            },
            {
              "name": "manychat_id"
            },
            {
              "name": "manychat_api"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -304,
        -48
      ],
      "id": "0d1c59f1-2ba6-4d49-80cb-4ebf8ad6d415",
      "name": "START"
    }
  ],
  "connections": {
    "Map Media Resources": {
      "main": [
        [
          {
            "node": "Send API ManyChat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send API ManyChat": {
      "main": [
        [
          {
            "node": "Response To Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "START": {
      "main": [
        [
          {
            "node": "Map Media Resources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "d4ab02fb1ef8b6ca2c1c5c1f280ee696b0514d7d92cee5fb0da1784dbe393998"
  }
}