SPECTRUM AGENTE/Agente Unificado/Sync_CRM.json_clean
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        1328,
        624
      ],
      "id": "46be3337-aa07-48e3-bf62-c156d8cf6ab8",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2000,
        624
      ],
      "id": "4e22ae0d-34c4-4294-961a-da1ee927fdf2",
      "name": "Loop Over Users"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ad37ff15-8600-45b7-b912-b284a9e0157d",
              "name": "lead_messages",
              "value": "={{ $('LEAD').item.json.lead_messages ?? \"No hay\" }}",
              "type": "string"
            },
            {
              "id": "2ec7f63b-931b-4b46-aaa9-001b6c2e93b4",
              "name": "rsvp_messages",
              "value": "={{ $('RSVP').item.json.RSVP_messages ?? \"No hay\" }}",
              "type": "string"
            },
            {
              "id": "6fb0062c-596a-478f-aebb-25416e4aa396",
              "name": "principal_messages",
              "value": "={{ $('PRINCIPAL').item.json.principal_messages ?? \"No hay\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3792,
        448
      ],
      "id": "1296a600-ae0d-442b-ba73-2285bde93f4f",
      "name": "Messages",
      "executeOnce": false
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3344,
        432
      ],
      "id": "084c3289-f54c-4b74-aec4-5fb609bac28f",
      "name": "Merge"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "responsesApiEnabled": false,
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        4096,
        672
      ],
      "id": "8311047a-dd17-440d-9527-7a4a91a7c302",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "mwtQQFLfYjj6JZcg",
          "name": "Spectrum - Parque Verde"
        }
      }
    },
    {
      "parameters": {
        "collection": "appointments",
        "options": {},
        "query": "={\"manychat_id\": \"{{ $('Loop Over Users').item.json.manychat_id }}\"}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        2448,
        400
      ],
      "id": "54edd89f-ce49-429c-b63c-40eae75164a8",
      "name": "Find Appointment",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "UzcANqeDFO1QLbfd",
          "name": "SPECTRUM - CENTRALIZADO"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "333ef0a2-5347-49b3-9a2e-94f8780dec53",
              "name": "manychat_user_id",
              "value": "={{ $('Loop Over Users').item.json.manychat_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2672,
        400
      ],
      "id": "1e9bda8f-ec9e-42a8-9aba-061611c8542a",
      "name": "Manychat User ID"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    cutoff: new Date(Date.now() - 15 * 60 * 1000).toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        624
      ],
      "id": "8774a149-ec47-48a8-864f-687e4fe736d6",
      "name": "Time-15min"
    },
    {
      "parameters": {
        "text": "=DATOS ACTUALES EN SISTEMA:\n- Proyecto: {{ $('Loop Over Users').item.json.proyecto }}\n- Habitaciones: {{ $('Find Appointment').item.json.habitaciones || 'No especificado' }}\n- Intención: {{ $('Find Appointment').item.json.intencion || 'No especificada' }}\n- Cita: {{ $('Find Appointment').item.json.fecha_hora ? 'Agendada para ' + $('Find Appointment').item.json.fecha_hora : 'No agendada' }}\n\nHISTORIAL DE CONVERSACIÓN COMPLETO:\n\nHistorial del lead agent:{{ Array.isArray($json.lead_messages) ? $json.lead_messages.map(m => m.role + ': ' + m.content).join('\\\\n') : $json.lead_messages }} \n\nHistorial del rsvp agent: \n{{ Array.isArray($json.rsvp_messages) ? $json.rsvp_messages.map(m => m.role + ': ' + m.content).join('\\\\n') : $json.rsvp_messages }}\n\nHistorial del principal agent: \n{{ Array.isArray($json.principal_messages) ? $json.principal_messages.map(m => m.role + ': ' + m.content).join('\\\\n') : $json.principal_messages }}",
        "attributes": {
          "attributes": [
            {
              "name": "Presupuesto",
              "description": "Presupuesto mencionado por el cliente (ej: 'Q800,000', 'No mencionado').",
              "required": true
            },
            {
              "name": "Dormitorios",
              "description": "Número de habitaciones o tipo de unidad que busca.",
              "required": true
            },
            {
              "name": "Requisitos",
              "description": "Requisitos específicos o amenidades de interés (ej: 'piso alto', 'con balcón', 'cerca de amenidades').",
              "required": true
            },
            {
              "name": "Resumen",
              "description": "Resumen narrativo de la conversación, qué información se le dio y en qué punto quedó.",
              "required": true
            },
            {
              "name": "Dudas",
              "description": "Lista numerada de todas las preguntas o dudas que expresó el cliente durante la conversación. Si no hay dudas explícitas, escribe 'Ninguna'. Formato: 1. ... 2. ... 3. ...",
              "required": true
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        4016,
        448
      ],
      "id": "6939e57a-adb2-4d63-8db2-1fa4f6301336",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "29811091-f623-46a3-920e-a37d4484e9f2",
              "name": "_id",
              "value": "={{ $('Loop Over Users').item.json._id.toJsonString().replace(/^\"(.*)\"$/, '$1') }}",
              "type": "string"
            },
            {
              "id": "fd8c37c0-b8b9-4e6d-8514-43839e17ca8e",
              "name": "conversation_analysis",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "ab7c37c0-b8b9-4e6d-8514-43839e17ca8f",
              "name": "conversation_ressume",
              "value": "={{ $json.output }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4368,
        448
      ],
      "id": "521acc8d-7d9e-41e1-8506-9f04ed44af87",
      "name": "EXTRACTOR RESPONSE"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://crm.spectrum.com.gt:8055/Spectrum_WS_GeneracionLead/Service.asmx",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "SOAPAction",
              "value": "http://tempuri.org/CreacionClientePotencialBot"
            },
            {
              "name": "Content-Type",
              "value": "text/xml; charset=utf-8"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/xml; charset=utf-8",
        "body": "={{ $('Body').item.json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5040,
        448
      ],
      "id": "4953f8ad-2286-4460-b77d-7191edd80aaf",
      "name": "GENERAR LEAD CONTACT"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        5264,
        448
      ],
      "id": "c16d0b30-2179-4347-b69f-56f6bfb22749",
      "name": "XML BODY"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "29bc8a2a-9b6e-4b09-ae6d-30b74ab45b94",
              "name": "body",
      "value": "=<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<soap:Envelope xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\">\n<soap:Body>\n<CreacionClientePotencialBot xmlns=\"http://tempuri.org/\">\n<_OrigenCliente>{{ $('Loop Over Users').item.json.CRM_Data?._OrigenCliente || 100000001 }}</_OrigenCliente>\n<_Proyecto>{{ $('Loop Over Users').item.json.proyecto }}</_Proyecto>\n<_Nombre>{{ $('Loop Over Users').item.json.nombre?.split(\" \")[0] || \"Cliente\" }}</_Nombre>\n<_Apellido>{{ $('Loop Over Users').item.json.nombre?.split(\" \").slice(1).join(\" \") || \"N/A\" }}</_Apellido>\n<_TelefonoMovil>{{ $('Loop Over Users').item.json.telefono || \"\" }}</_TelefonoMovil>\n<_CorreEletronico>{{ $('Loop Over Users').item.json.correo || \"\" }}</_CorreEletronico>\n{{ $('Loop Over Users').item.json.correo_secundario ? '<_CorreoSecundario>' + $('Loop Over Users').item.json.correo_secundario + '</_CorreoSecundario>' : '' }}\n<_UTMSource>{{ $('Loop Over Users').item.json.utm_source_crm || 100000004 }}</_UTMSource>\n<_UTMCampaing>{{ ({\"Web\":\"Cliente atendido desde chatbot a través de web\",\"City Core\":\"Cliente atendido desde chatbot a través de anuncios\",\"Social Media\":\"Cliente atendido desde chatbot a través de redes sociales\",\"Fan Page\":\"Cliente atendido desde chatbot a través de fan page\",\"Mail\":\"Cliente atendido desde chatbot a través de email\",\"Banco\":\"Cliente atendido desde chatbot a través de banco\"})[$('Loop Over Users').item.json.atribucion_tag] || \"Cliente atendido desde chatbot a través de web\" }}</_UTMCampaing>\n<_MetodocontactoPref>{{ \n  ($('Find Appointment').item.json?.contacto_pref == \"correo\" ? 2 : \n   $('Find Appointment').item.json?.contacto_pref == \"llamada\" ? 3 : \n   $('Find Appointment').item.json?.contacto_pref == \"whatsapp\" ? 4 : \n   $('Find Appointment').item.json?.contacto_pref == \"cualquier_forma\" ? 5 : \n   Number($('Loop Over Users').item.json.CRM_Data?._MetodocontactoPref || 5)) \n}}</_MetodocontactoPref>\n<_Comentarios>{{ $('Loop Over Users').item.json.atribucion_contacto || \"Chatbot\" }}</_Comentarios>\n{{ \n  ($('Find Appointment').item.json?.habitaciones == \"1\" ? '<_NumeroHabitaciones>100000000</_NumeroHabitaciones>' : \n   $('Find Appointment').item.json?.habitaciones == \"2\" ? '<_NumeroHabitaciones>100000001</_NumeroHabitaciones>' : \n   $('Find Appointment').item.json?.habitaciones == \"3\" ? '<_NumeroHabitaciones>100000002</_NumeroHabitaciones>' : \n   ($('Loop Over Users').item.json.CRM_Data?._NumeroHabitaciones ? '<_NumeroHabitaciones>' + $('Loop Over Users').item.json.CRM_Data._NumeroHabitaciones + '</_NumeroHabitaciones>' : '')) \n}}\n{{ \n  ($('Find Appointment').item.json?.estado_civil == \"soltero\" ? '<_EstadoCivil>100000000</_EstadoCivil>' : \n   $('Find Appointment').item.json?.estado_civil == \"casado\" ? '<_EstadoCivil>100000001</_EstadoCivil>' : \n   $('Find Appointment').item.json?.estado_civil == \"divorciado\" ? '<_EstadoCivil>100000002</_EstadoCivil>' : \n   $('Find Appointment').item.json?.estado_civil == \"union_libre\" ? '<_EstadoCivil>100000003</_EstadoCivil>' : \n   ($('Loop Over Users').item.json.CRM_Data?._EstadoCivil ? '<_EstadoCivil>' + $('Loop Over Users').item.json.CRM_Data._EstadoCivil + '</_EstadoCivil>' : '')) \n}}\n{{ \n  ($('Find Appointment').item.json?.intencion == \"I\" ? '<_MotivoInteres>100000001</_MotivoInteres>' : \n   $('Find Appointment').item.json?.intencion == \"V\" ? '<_MotivoInteres>100000003</_MotivoInteres>' : \n   ($('Loop Over Users').item.json.CRM_Data?._MotivoInteres ? '<_MotivoInteres>' + $('Loop Over Users').item.json.CRM_Data._MotivoInteres + '</_MotivoInteres>' : '')) \n}}\n{{ \n  $('Find Appointment').item.json?.fecha_hora ? '<_FechaCita>' + new Date($('Find Appointment').item.json.fecha_hora).toISOString() + '</_FechaCita>' : \n  ($('Loop Over Users').item.json.CRM_Data?._FechaCita ? '<_FechaCita>' + $('Loop Over Users').item.json.CRM_Data._FechaCita + '</_FechaCita>' : '') \n}}\n{{ \n  ($('Find Appointment').item.json?.tipo == \"cita_presencial\" ? '<_TipoCita>100000000</_TipoCita>' : \n   ['cita_virtual', 'llamada'].includes($('Find Appointment').item.json?.tipo) ? '<_TipoCita>100000001</_TipoCita>' : \n   ($('Loop Over Users').item.json.CRM_Data?._TipoCita ? '<_TipoCita>' + $('Loop Over Users').item.json.CRM_Data._TipoCita + '</_TipoCita>' : '')) \n}}\n<_ResumenConversacion>{{ \n  'PRESUPUESTO: ' + ($json.conversation_ressume?.Presupuesto || 'No mencionado') + '\\n' + \n  'DORMITORIOS: ' + ($json.conversation_ressume?.Dormitorios || 'No mencionado') + '\\n' + \n  'REQUISITOS: ' + ($json.conversation_ressume?.Requisitos || 'Ninguno') + '\\n\\n' + \n  'RESUMEN:\\n' + ($json.conversation_ressume?.Resumen || '') \n}}</_ResumenConversacion>\n<_DudasCliente>{{ $json.conversation_ressume?.Dudas || \"\" }}</_DudasCliente>\n</CreacionClientePotencialBot>\n</soap:Body>\n</soap:Envelope>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4592,
        448
      ],
      "id": "156b589a-38a9-4790-8eca-33918a49f76c",
      "name": "Body"
    },
    {
      "parameters": {
        "dataPropertyName": "body",
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        4816,
        448
      ],
      "id": "baa7b96e-7e10-4885-abca-9a69583ba175",
      "name": "PARSE BODY"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        7184,
        624
      ],
      "id": "5f34e6ac-0ef0-4a0a-a31a-3d5fdda05a82",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "collection": "users",
        "options": {},
        "query": "={\n  \"datos_completos\": true,\n  \"conversation_analysis\": { \"$ne\": true },\n  \"last_interaction\": { \"$lt\": \"{{ $json.cutoff }}\" },\n  \"proyecto\": { \"$exists\": true, \"$nin\": [null, \"\"] }\n}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        1776,
        624
      ],
      "id": "fadfdf15-4f6b-40fc-b3d9-44087a95aa95",
      "name": "Find Users to Sync",
      "alwaysOutputData": false,
      "credentials": {
        "mongoDb": {
          "id": "UzcANqeDFO1QLbfd",
          "name": "SPECTRUM - CENTRALIZADO"
        }
      }
    },
    {
      "parameters": {
        "collection": "chat_histories_lead",
        "options": {},
        "query": "={\"sessionId\": \"{{ $('Manychat User ID').item.json.manychat_user_id }}\"}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        2896,
        256
      ],
      "id": "94d995b1-b324-441a-9cee-991cce04179c",
      "name": "Chat Lead",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "UzcANqeDFO1QLbfd",
          "name": "SPECTRUM - CENTRALIZADO"
        }
      }
    },
    {
      "parameters": {
        "collection": "chat_histories_rsvp",
        "options": {},
        "query": "={\"sessionId\": \"{{ $('Manychat User ID').item.json.manychat_user_id }}\"}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        2896,
        448
      ],
      "id": "2696ac00-f836-4b5c-b76d-6d95edbea06c",
      "name": "Chat RSVP",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "UzcANqeDFO1QLbfd",
          "name": "SPECTRUM - CENTRALIZADO"
        }
      }
    },
    {
      "parameters": {
        "collection": "chat_histories",
        "options": {},
        "query": "={\"sessionId\": \"{{ $('Manychat User ID').item.json.manychat_user_id }}\"}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        2896,
        640
      ],
      "id": "587eecf5-1316-42a2-a118-f83d50599bac",
      "name": "Chat",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "UzcANqeDFO1QLbfd",
          "name": "SPECTRUM - CENTRALIZADO"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "conversation",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        3568,
        448
      ],
      "id": "070cf003-d564-4d51-8e03-0007b7464e65",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3607b95d-eec6-47fc-8b07-afdcf62f14ed",
              "name": "lead_messages",
              "value": "={{ $json.messages }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3120,
        256
      ],
      "id": "1cf35879-a77b-4d7d-918d-b1707a3c09de",
      "name": "LEAD"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b33f15a9-f6d3-46e7-a874-29c3fd3fc960",
              "name": "RSVP_messages",
              "value": "={{ $json.messages }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3120,
        448
      ],
      "id": "418603de-19c2-4189-a37e-166de07a0632",
      "name": "RSVP"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f56ae14-c394-4836-9b6a-1844357a4718",
              "name": "principal_messages",
              "value": "={{ $json.messages }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3120,
        640
      ],
      "id": "9e197825-3a22-410f-9b02-026247eeb7dd",
      "name": "PRINCIPAL"
    },
    {
      "parameters": {
        "text": "=Lead Agent:\n{{ Array.isArray($('Messages').item.json.lead_messages) ? $('Messages').item.json.lead_messages.map(m => m.role + ': ' + m.content).join('\\n') : $('Messages').item.json.lead_messages }}\n\nRSVP Agent:\n{{ Array.isArray($('Messages').item.json.rsvp_messages) ? $('Messages').item.json.rsvp_messages.map(m => m.role + ': ' + m.content).join('\\n') : $('Messages').item.json.rsvp_messages }}\n\nPrincipal Agent:\n{{ Array.isArray($('Messages').item.json.principal_messages) ? $('Messages').item.json.principal_messages.map(m => m.role + ': ' + m.content).join('\\n') : $('Messages').item.json.principal_messages }}",
        "attributes": {
          "attributes": [
            {
              "name": "funnel_stage",
              "description": "=Etapa del funnel: 'nuevo' (solo saludó), 'identificado' (dio datos), 'proyecto_activo' (eligió proyecto), 'consultando' (hizo preguntas), 'en_rsvp' (inició agendamiento), 'cita_confirmada' (confirmó cita), 'escalado' (pidió humano)",
              "required": true
            },
            {
              "name": "intencion_detectada",
              "description": "=En una frase corta, qué buscaba el usuario en esta conversación",
              "required": true
            },
            {
              "name": "tools_correctas",
              "description": "=¿El agente usó las tools correctas en el momento correcto? Describe brevemente si lead_collector, kb_search, rsvp y send_media se usaron apropiadamente. Si no se usó alguna tool necesaria, indícalo.",
              "required": true
            },
            {
              "name": "errores_detectados",
              "description": "=Lista numerada de errores en la lógica del agente: respuestas incorrectas, loops, confusión de contexto, preguntas innecesarias. Escribe 'Ninguno' si no hay errores.",
              "required": true
            },
            {
              "name": "oportunidades_perdidas",
              "description": "=Momentos donde el agente pudo avanzar en el funnel o mejorar la experiencia pero no lo hizo. Escribe 'Ninguna' si no aplica.",
              "required": true
            },
            {
              "name": "tono_agente",
              "description": "=Evaluación del tono: 'natural y correcto', 'muy formal', 'robotico', 'confuso', 'repetitivo'",
              "required": true
            },
            {
              "name": "puntuacion",
              "description": "=Puntuación del 1 al 10. Criterios: correcta identificación de intención (20%), uso apropiado de tools (20%), tono natural (20%), avance en el funnel (20%), ausencia de errores (20%).",
              "required": true
            },
            {
              "name": "recomendacion",
              "description": "=Una recomendación concreta y accionable para el desarrollador sobre cómo mejorar el comportamiento del agente en conversaciones similares a esta.",
              "required": true
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        6384,
        448
      ],
      "id": "283136e0-d97f-45f2-ade8-ac60611aeefb",
      "name": "Quality Auditor"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "responsesApiEnabled": false,
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        6464,
        672
      ],
      "id": "a5b166f3-173a-4a07-b833-b376a03f1297",
      "name": "OpenAI Quality Model",
      "credentials": {
        "openAiApi": {
          "id": "mwtQQFLfYjj6JZcg",
          "name": "Spectrum - Parque Verde"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const output = $input.first().json.output;\nconst user = $('Loop Over Users').item.json;\nconst resumen = $('EXTRACTOR RESPONSE').item.json.conversation_ressume;\n\nreturn [{\n  json: {\n    manychat_id: user.manychat_id,\n    nombre: user.nombre || 'Desconocido',\n    proyecto: user.proyecto || null,\n    fecha_analisis: $now.toISO(),\n    resumen_conversacion: resumen || null,\n    funnel_stage: output.funnel_stage || null,\n    intencion_detectada: output.intencion_detectada || null,\n    tools_correctas: output.tools_correctas || null,\n    errores_detectados: output.errores_detectados || null,\n    oportunidades_perdidas: output.oportunidades_perdidas || null,\n    tono_agente: output.tono_agente || null,\n    puntuacion: Number(output.puntuacion) || null,\n    recomendacion: output.recomendacion || null\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6736,
        448
      ],
      "id": "b63d3584-2c41-4754-9749-0b6e457c97e6",
      "name": "Build Quality Log"
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "quality_logs",
        "fields": "={{ Object.keys($json).join(',') }}",
        "options": {
          "dateFields": "fecha_analisis"
        }
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        6960,
        448
      ],
      "id": "910fca21-328e-45c6-ba53-d9e1baed5611",
      "name": "Insert quality_logs",
      "credentials": {
        "mongoDb": {
          "id": "UzcANqeDFO1QLbfd",
          "name": "SPECTRUM - CENTRALIZADO"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "users",
        "updateKey": "_id",
        "fields": "conversation_analysis,conversation_ressume",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        6160,
        448
      ],
      "id": "c97b7511-deb5-4074-8b2f-c95e5de70eaa",
      "name": "Update Conversation Analysis",
      "credentials": {
        "mongoDb": {
          "id": "UzcANqeDFO1QLbfd",
          "name": "SPECTRUM - CENTRALIZADO"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $('EXTRACTOR RESPONSE').item.json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5936,
        448
      ],
      "id": "e06da6e3-cc9e-4408-b97b-d1f3d4f1d602",
      "name": "DATA to UPDATE"
    },
    {
      "parameters": {
        "collection": "manychat_settings",
        "options": {},
        "query": "={ \"page_id\": \"{{ $json.page_id }}\" }"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        2224,
        400
      ],
      "id": "4b6f6f38-8359-4b47-9a5b-ec8b0b569687",
      "name": "Find User Credentials",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "UzcANqeDFO1QLbfd",
          "name": "SPECTRUM - CENTRALIZADO"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.manychat.com/fb/subscriber/setCustomFieldByName",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Find User Credentials').item.json.api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"subscriber_id\": \"{{ $('Manychat User ID').item.json.manychat_user_id }}\",\n  \"field_name\": \"proyecto_interes\",\n  \"field_value\": \"{{ $('Loop Over Users').item.json.proyecto || '' }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        5712,
        448
      ],
      "id": "f7587206-c2eb-4b14-8b79-c16c532a98d6",
      "name": "UPDATE - Proyecto Interes Manychat"
    },
    {
      "parameters": {
        "url": "https://api.manychat.com/fb/page/getCustomFields",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Find User Credentials').item.json.api_key }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        5488,
        448
      ],
      "id": "a4434c8b-8774-4429-a16b-3cebd233fb6b",
      "name": "Campos Usuario"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Time-15min",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Users": {
      "main": [
        [],
        [
          {
            "node": "Find User Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Messages": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Find Appointment": {
      "main": [
        [
          {
            "node": "Manychat User ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manychat User ID": {
      "main": [
        [
          {
            "node": "Chat Lead",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chat",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chat RSVP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Time-15min": {
      "main": [
        [
          {
            "node": "Find Users to Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "EXTRACTOR RESPONSE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EXTRACTOR RESPONSE": {
      "main": [
        [
          {
            "node": "Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GENERAR LEAD CONTACT": {
      "main": [
        [
          {
            "node": "XML BODY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML BODY": {
      "main": [
        [
          {
            "node": "Campos Usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Body": {
      "main": [
        [
          {
            "node": "PARSE BODY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PARSE BODY": {
      "main": [
        [
          {
            "node": "GENERAR LEAD CONTACT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Loop Over Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Users to Sync": {
      "main": [
        [
          {
            "node": "Loop Over Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Lead": {
      "main": [
        [
          {
            "node": "LEAD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat RSVP": {
      "main": [
        [
          {
            "node": "RSVP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat": {
      "main": [
        [
          {
            "node": "PRINCIPAL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LEAD": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSVP": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "PRINCIPAL": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Quality Auditor": {
      "main": [
        [
          {
            "node": "Build Quality Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Quality Model": {
      "ai_languageModel": [
        [
          {
            "node": "Quality Auditor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Build Quality Log": {
      "main": [
        [
          {
            "node": "Insert quality_logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert quality_logs": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Conversation Analysis": {
      "main": [
        [
          {
            "node": "Quality Auditor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DATA to UPDATE": {
      "main": [
        [
          {
            "node": "Update Conversation Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find User Credentials": {
      "main": [
        [
          {
            "node": "Find Appointment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UPDATE - Proyecto Interes Manychat": {
      "main": [
        [
          {
            "node": "DATA to UPDATE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Campos Usuario": {
      "main": [
        [
          {
            "node": "UPDATE - Proyecto Interes Manychat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d4ab02fb1ef8b6ca2c1c5c1f280ee696b0514d7d92cee5fb0da1784dbe393998"
  }
}
