SPECTRUM AGENTE/Agente Unificado/Vectorizar los KBs.json
{
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        128,
        -384
      ],
      "id": "abc8face-44f6-44fc-aeff-089459429e78",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "LtzIKoi61tZvaeua",
          "name": "Vectorizer Agent - Knowledge Bases"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.pregunta }}. {{ $json.respuesta }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "id",
                "value": "={{ $json.id }}"
              },
              {
                "name": "categoria",
                "value": "={{ $json.categoria }}"
              },
              {
                "name": "tags",
                "value": "={{ $json.tags }}"
              },
              {
                "name": "pregunta",
                "value": "={{ $json.pregunta }}"
              },
              {
                "name": "respuesta",
                "value": "={{ $json.respuesta }}"
              },
              {
                "name": "proyecto",
                "value": "={{ $json.proyecto }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        320,
        -384
      ],
      "id": "8e8ac53a-3212-442f-abbd-16b1a266b02a",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "chunks",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -48,
        -608
      ],
      "id": "bf196608-e15b-454b-87ea-993c85e74caf",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "352fa218-4b91-49ac-9a84-1501d98a396c",
              "name": "chunks",
              "value": "=[\n  {\n    \"id\": \"ppol_medidas_balcon\",\n    \"proyecto\": \"PPOL\",\n    \"categoria\": \"modelos\",\n    \"tags\": [\"balcón\", \"balcon\", \"medidas\", \"tamaño\", \"dimensiones\", \"cuanto mide\", \"grande\"],\n    \"pregunta\": \"¿Qué medidas tiene el balcón?\",\n    \"respuesta\": \"🏡 Todos nuestros modelos cuentan con balcón, pensado para brindarte un espacio adicional de confort y conexión con el exterior.\\n\\n📐 Las medidas exactas pueden variar según el modelo y se te comparten con total detalle durante la visita, donde además podrás apreciarlo directamente.\\n\\n📅 Si te parece bien, puedo ayudarte a agendar una visita presencial o virtual con un asesor, para que revises este y otros atributos del apartamento 🤝✨\"\n  },\n  {\n    \"id\": \"pl_resumen_general\",\n    \"proyecto\": \"PPOL\",\n    \"categoria\": \"proyecto\",\n    \"tags\": [\"resumen\", \"polanco\", \"zona10\", \"boutique\", \"inversion\", \"lujo\"],\n    \"pregunta\": \"¿Qué es Polanco Parque Boutique?\",\n    \"respuesta\": \"Polanco es un proyecto residencial de lujo de la línea Parque Boutique de Spectrum, ubicado en la Zona 10, el corazón financiero y corporativo de Ciudad de Guatemala. Consta de una torre de 22 niveles con 175 apartamentos distribuidos en 9 modelos más Penthouse. Es el único proyecto de Spectrum que permite rentas en plataformas como Airbnb, lo que lo convierte en una excelente oportunidad de inversión. También es ideal para profesionales que desean vivir en el centro de negocios de la ciudad.\"\n  },\n  {\n    \"id\": \"pl_ubicacion_direccion\",\n    \"proyecto\": \"PPOL\",\n    \"categoria\": \"ubicacion\",\n    \"tags\": [\"direccion\", \"zona10\", \"oakland place\", \"zona viva\", \"donde queda\", \"como llegar\"],\n    \"pregunta\": \"¿Dónde se ubica exactamente Polanco?\",\n    \"respuesta\": \"Polanco está ubicado en la 15 Calle A 13-28, Zona 10, Ciudad de Guatemala. Se encuentra a pocos pasos de Oakland Place, La Estación, AVIA y los principales centros de negocios y restaurantes de la Zona Viva.\"\n  },\n  {\n    \"id\": \"pl_vistas_orientacion\",\n    \"proyecto\": \"PPOL\",\n    \"categoria\": \"ubicacion\",\n    \"tags\": [\"vistas\", \"orientacion\", \"norte\", \"sur\", \"este\", \"oeste\", \"zona viva\", \"vista hermosa\", \"zona14\"],\n    \"pregunta\": \"¿Qué vistas tienen los apartamentos en Polanco?\",\n    \"respuesta\": \"Las vistas desde Polanco se dividen por orientación:\\n- Sur: vistas hacia Zona 14.\\n- Este: vistas hacia Vista Hermosa.\\n- Oeste: vistas hacia la Zona Viva.\\n- Norte: vistas hacia Colonia Oakland.\"\n  },\n  {\n    \"id\": \"pl_entorno_ecosistema\",\n    \"proyecto\": \"PPOL\",\n    \"categoria\": \"ubicacion\",\n    \"tags\": [\"entorno\", \"cercania\", \"colegios\", \"comercio\", \"mascotas\", \"restaurantes\", \"servicios\"],\n    \"pregunta\": \"¿Qué lugares de interés, colegios y comercios hay cerca de Polanco?\",\n    \"respuesta\": \"El entorno cercano de Polanco incluye:\\n- Educación: Colegio Altamira, UFM.\\n- Comercio y conveniencia: Oakland Place, La Estación, Fontabella, AVIA, La Torre, NOVEX, Cemaco, farmacias.\\n- Servicios para mascotas: WUF Doggy Daycare, Veterinaria Petmed y Animédica Hospital Veterinario.\\n- Amplia oferta de restaurantes, cafeterías y servicios de la Zona Viva.\"\n  },\n  {\n    \"id\": \"pl_desarrollador_spectrum\",\n    \"proyecto\": \"PPOL\",\n    \"categoria\": \"desarrollador\",\n    \"tags\": [\"spectrum\", \"desarrollador\", \"trayectoria\", \"proyectos\", \"confianza\", \"experiencia\", \"boutique\"],\n    \"pregunta\": \"¿Quién desarrolla Polanco? ¿Qué experiencia tiene Spectrum?\",\n    \"respuesta\": \"Spectrum es el desarrollador de Polanco. Con más de 30 años de trayectoria en Guatemala y más de 30 proyectos entregados (más de 11,000 unidades habitacionales), Spectrum opera en 3 líneas de producto: Línea Parque (proyectos residenciales urbanos), Línea Reserva (proyectos premium) y Línea Parque Boutique (proyectos de lujo exclusivo, donde se ubica Polanco junto a Sotobosque).\"\n  },\n  {\n    \"id\": \"pl_garantias_normativas\",\n    \"proyecto\": \"PPOL\",\n    \"categoria\": \"desarrollador\",\n    \"tags\": [\"garantia\", \"normativas\", \"fha\", \"calidad\", \"aval\", \"bancos\", \"inspeccion\"],\n    \"pregunta\": \"¿Qué respaldo legal y técnico tiene Polanco?\",\n    \"respuesta\": \"Polanco cumple con todas las normativas vigentes y cuenta con el aval del FHA (Instituto de Fomento de Hipotecas Aseguradas), que realiza inspecciones durante el proceso constructivo para verificar obra civil, instalaciones y acabados. También cuenta con el respaldo de las principales entidades bancarias del país, certificado de garantía para las unidades y canales de atención post-venta.\"\n  },\n  {\n    \"id\": \"pl_programa_conviviendo\",\n    \"proyecto\": \"PPOL\",\n    \"categoria\": \"desarrollador\",\n    \"tags\": [\"conviviendo\", \"comunidad\", \"valor propiedad\", \"areas comunes\", \"gestion social\"],\n    \"pregunta\": \"¿Qué es Conviviendo by Spectrum?\",\n    \"respuesta\": \"Conviviendo by Spectrum es un programa de gestión social que impulsa comunidades organizadas, funcionales y sostenibles. Fortalece la convivencia y el buen uso de áreas comunes, mejora la estabilidad operativa del proyecto y contribuye a que el valor de la propiedad crezca con el tiempo.\"\n  },\n  {\n    \"id\": \"pl_sostenibilidad_recursos\",\n    \"proyecto\": \"PPOL\",\n    \"categoria\": \"sostenibilidad\",\n    \"tags\": [\"sostenible\", \"ahorro\", \"energia\", \"agua\", \"eficiencia\", \"medio ambiente\", \"green building\"],\n    \"pregunta\": \"¿Cómo contribuye Polanco al medio ambiente?\",\n    \"respuesta\": \"A través de 'Spectrum Sostenible', Polanco reduce en un 26% el consumo proyectado de energía y un 26% el consumo de agua. Utiliza iluminación eficiente, grifería de bajo flujo y vegetación nativa que requiere poco riego, con el apoyo técnico del Guatemala Green Building Council.\"\n  },\n  {\n    \"id\": \"pl_especificaciones_tecnicas\",\n    \"proyecto\": \"PPOL\",\n    \"categoria\": \"especificaciones\",\n    \"tags\": [\"ventaneria\", \"low-e\", \"acustica\", \"tecnologia\", \"acabados\", \"alta gama\"],\n    \"pregunta\": \"¿Qué características técnicas especiales tiene la construcción de Polanco?\",\n    \"respuesta\": \"Polanco destaca por el uso de ventanería con tecnología Low-E (baja emisividad), que aísla el calor y el ruido exterior, garantizando mayor confort térmico y acústico. El edificio cuenta con pozo propio, cisterna y 2 módulos de elevadores de alta velocidad. Los acabados son de alta gama, acordes con la línea Parque Boutique.\"\n  },\n  {\n    \"id\": \"pl_modelos_habitaciones\",\n    \"proyecto\": \"PPOL\",\n    \"categoria\": \"modelos\",\n    \"tags\": [\"modelos\", \"cuantos modelos\", \"opciones\", \"s39\", \"s42\", \"s58\", \"s67\", \"s86\", \"s87\", \"s91\", \"s92\", \"penthouse\"],\n    \"pregunta\": \"¿Cuáles son los modelos de apartamentos en Polanco?\",\n    \"respuesta\": \"Polanco ofrece 9 modelos de apartamentos más Penthouse:\\n- S-39 (1 hab, 39 m²)\\n- S-42 (1 hab, 42 m², con balcón)\\n- S-58 (2 hab, 58 m², 2 parqueos tándem)\\n- S-67 (2 hab, 67 m², 2 parqueos individuales)\\n- S-86 (3 hab, 86 m², 2 parqueos individuales)\\n- S-87 A (3 hab, 87 m², 2 parqueos individuales)\\n- S-87 B (3 hab, 87 m², 2 parqueos individuales)\\n- S-91 (3 hab, 91 m², 2 parqueos individuales)\\n- S-92 (3 hab + sala familiar, 92 m², 2 parqueos individuales)\\n\\nTodos incluyen balcón y están diseñados para maximizar la entrada de luz natural.\"\n  },\n  {\n    \"id\": \"pl_modelos_comparacion\",\n    \"proyecto\": \"PPOL\",\n    \"categoria\": \"modelos\",\n    \"tags\": [\"comparacion\", \"modelos\", \"resumen\", \"diferencias\", \"cual elegir\", \"todos los modelos\"],\n    \"pregunta\": \"¿Cuáles son las diferencias entre los modelos de Polanco?\",\n    \"respuesta\": \"Resumen comparativo de los 9 modelos de Polanco:\\n\\n1 dormitorio:\\n- S-39: 39 m², 1 baño, 1 parqueo individual.\\n- S-42: 42 m², 1 baño, 1 parqueo individual, con balcón.\\n\\n2 dormitorios:\\n- S-58: 58 m², 2 baños, 2 parqueos tándem.\\n- S-67: 67 m², 2 baños, 2 parqueos individuales.\\n\\n3 dormitorios:\\n- S-86: 86 m², 2 baños, 2 parqueos individuales.\\n- S-87 A: 87 m², 2 baños, 2 parqueos individuales.\\n- S-87 B: 87 m², 2 baños, 2 parqueos individuales.\\n- S-91: 91 m², 2 baños, 2 parqueos individuales.\\n- S-92: 92 m² + sala familiar, 2 baños, 2 parqueos individuales.\\n\\nTodos incluyen lavandería y acceso a las 16 amenidades del edificio.\"\n  },\n  {\n    \"id\": \"pl_modelo_s39\",\n    \"proyecto\": \"PPOL\",\n    \"categoria\": \"modelos\",\n    \"tags\": [\"s39\", \"s-39\", \"39m2\", \"1 habitacion\", \"modelo\", \"parqueo\"],\n    \"pregunta\": \"¿Cómo es el modelo S-39 en Polanco?\",\n    \"respuesta\": \"El modelo S-39 tiene 39 m². Cuenta con 1 habitación (master con clóset), 1 baño completo, sala, cocina, comedor y lavandería. Incluye 1 parqueo individual.\"\n  },\n  {\n    \"id\": \"pl_modelo_s42\",\n    \"proyecto\": \"PPOL\",\n    \"categoria\": \"modelos\",\n    \"tags\": [\"s42\", \"s-42\", \"42m2\", \"1 habitacion\", \"modelo\", \"balcon\"],\n    \"pregunta\": \"¿Cómo es el modelo S-42 en Polanco?\",\n    \"respuesta\": \"El modelo S-42 tiene 42 m². Cuenta con 1 habitación (master con clóset), 1 baño completo, sala, cocina, comedor, lavandería y balcón. Incluye 1 parqueo individual.\"\n  },\n  {\n    \"id\": \"pl_modelo_s58_detalle\",\n    \"proyecto\": \"PPOL\",\n    \"categoria\": \"modelos\",\n    \"tags\": [\"s58\", \"s-58\", \"58m2\", \"2 habitaciones\", \"modelo\", \"tandem\"],\n    \"pregunta\": \"¿Cómo es el modelo S-58 en Polanco?\",\n    \"respuesta\": \"El modelo S-58 tiene 58 m². Cuenta con 2 habitaciones (master con clóset y secundario con clóset), 2 baños completos, sala, cocina, comedor, lavandería y balcón. Incluye 2 parqueos tipo tándem.\"\n  },\n  {\n    \"id\": \"pl_modelo_s67\",\n    \"proyecto\": \"PPOL\",\n    \"categoria\": \"modelos\",\n    \"tags\": [\"s67\", \"s-67\", \"67m2\", \"2 habitaciones\", \"modelo\", \"parqueos individuales\"],\n    \"pregunta\": \"¿Cómo es el modelo S-67 en Polanco?\",\n    \"respuesta\": \"El modelo S-67 tiene 67 m². Cuenta con 2 habitaciones (master con clóset y baño privado, secundario con clóset), baño completo compartido, sala-comedor, cocina, lavandería y balcón. Incluye 2 parqueos individuales.\"\n  },\n  {\n    \"id\": \"pl_modelo_s86_detalle\",\n    \"proyecto\": \"PPOL\",\n    \"categoria\": \"modelos\",\n    \"tags\": [\"s86\", \"s-86\", \"86m2\", \"3 habitaciones\", \"modelo\", \"walk-in closet\"],\n    \"pregunta\": \"¿Cómo es el modelo S-86 en Polanco?\",\n    \"respuesta\": \"El modelo S-86 tiene 86 m². Cuenta con 3 habitaciones (master con walk-in clóset y baño privado, 2 secundarios con clóset), baño compartido, sala-comedor, cocina, vestíbulo, lavandería y balcón. Incluye 2 parqueos individuales.\"\n  },\n  {\n    \"id\": \"pl_modelo_s87a\",\n    \"proyecto\": \"PPOL\",\n    \"categoria\": \"modelos\",\n    \"tags\": [\"s87a\", \"s-87a\", \"87m2\", \"3 habitaciones\", \"modelo\"],\n    \"pregunta\": \"¿Cómo es el modelo S-87 A en Polanco?\",\n    \"respuesta\": \"El modelo S-87 A tiene 87 m². Cuenta con 3 habitaciones (master con walk-in clóset y baño privado, 2 secundarios con clóset), baño compartido, sala-comedor, cocina, vestíbulo, lavandería y balcón. Incluye 2 parqueos individuales.\"\n  },\n  {\n    \"id\": \"pl_modelo_s87b\",\n    \"proyecto\": \"PPOL\",\n    \"categoria\": \"modelos\",\n    \"tags\": [\"s87b\", \"s-87b\", \"87m2\", \"3 habitaciones\", \"modelo\"],\n    \"pregunta\": \"¿Cómo es el modelo S-87 B en Polanco?\",\n    \"respuesta\": \"El modelo S-87 B tiene 87 m². Cuenta con 3 habitaciones (master con walk-in clóset y baño privado, 2 secundarios con clósets), baño compartido, sala-comedor, cocina, vestíbulo, lavandería y balcón. Incluye 2 parqueos individuales.\"\n  },\n  {\n    \"id\": \"pl_modelo_s91\",\n    \"proyecto\": \"PPOL\",\n    \"categoria\": \"modelos\",\n    \"tags\": [\"s91\", \"s-91\", \"91m2\", \"3 habitaciones\", \"modelo\"],\n    \"pregunta\": \"¿Cómo es el modelo S-91 en Polanco?\",\n    \"respuesta\": \"El modelo S-91 tiene 91 m². Cuenta con 3 habitaciones (master con walk-in clóset y baño privado, 2 secundarios con clóset), baño compartido, sala-comedor, cocina, vestíbulo, lavandería y balcón. Incluye 2 parqueos individuales.\"\n  },\n  {\n    \"id\": \"pl_modelo_s92_detalle\",\n    \"proyecto\": \"PPOL\",\n    \"categoria\": \"modelos\",\n    \"tags\": [\"s92\", \"s-92\", \"92m2\", \"3 habitaciones\", \"modelo\", \"sala familiar\", \"mas grande\"],\n    \"pregunta\": \"¿Cómo es el modelo S-92 en Polanco?\",\n    \"respuesta\": \"El modelo S-92 tiene 92 m². Cuenta con 3 habitaciones (master con walk-in clóset y baño privado, 2 secundarios con clóset), baño compartido, sala-comedor, sala familiar adicional, cocina, lavandería y balcón. Incluye 2 parqueos individuales. Es el modelo más amplio de la línea estándar.\"\n  },\n  {\n    \"id\": \"pl_modelo_penthouse\",\n    \"proyecto\": \"PPOL\",\n    \"categoria\": \"modelos\",\n    \"tags\": [\"penthouse\", \"ultimo nivel\", \"premium\", \"lujo\", \"exclusivo\"],\n    \"pregunta\": \"¿Polanco tiene Penthouse? ¿Cómo son?\",\n    \"respuesta\": \"Sí, Polanco cuenta con unidades Penthouse de lujo en sus niveles superiores. Para conocer los detalles específicos de metraje, distribución, precio y disponibilidad del Penthouse, te invitamos a contactar directamente con tu asesor comercial o visitar nuestro Centro de Experiencia en Oakland Place, Sótano 2.\"\n  },\n  {\n    \"id\": \"pl_precio_general\",\n    \"proyecto\": \"PPOL\",\n    \"categoria\": \"precios\",\n    \"tags\": [\"precio\", \"costo\", \"cuanto cuesta\", \"valor\", \"desde cuanto\", \"rango\"],\n    \"pregunta\": \"¿Cuánto cuesta un apartamento en Polanco?\",\n    \"respuesta\": \"Los precios en Polanco inician desde Q1,044,000, dependiendo del modelo. Para conocer el precio exacto por modelo y unidades disponibles, contacta con tu asesor comercial o visita nuestro Centro de Experiencia en Oakland Place, Sótano 2.\"\n  },\n  {\n    \"id\": \"pl_precio_reserva\",\n    \"proyecto\": \"PPOL\",\n    \"categoria\": \"precios\",\n    \"tags\": [\"reserva\", \"costo reserva\", \"apartar\", \"bloquear\", \"15000 quetzales\"],\n    \"pregunta\": \"¿Cuánto cuesta reservar un apartamento en Polanco?\",\n    \"respuesta\": \"El costo de reserva es de Q15,000 (únicamente se aceptan quetzales). Este monto bloquea la unidad elegida para que no pueda ser ofrecida a otro cliente. Para realizarla, puedes visitar nuestro Centro de Experiencia en Oakland Place, Sótano 2, o solicitarlo directamente con tu asesor comercial. La reserva debe estar debidamente firmada para ser válida.\"\n  },\n  {\n    \"id\": \"pl_financiamiento_general\",\n    \"proyecto\": \"PPOL\",\n    \"categoria\": \"precios\",\n    \"tags\": [\"financiamiento\", \"credito\", \"banco\", \"hipoteca\", \"enganche\", \"mensualidad\", \"cuota\", \"banco industrial\", \"fha\"],\n    \"pregunta\": \"¿Con qué bancos se puede financiar un apartamento en Polanco?\",\n    \"respuesta\": \"Polanco cuenta con financiamiento a través de FHA y Banco Industrial. Con financiamiento bancario, las cuotas mensuales inician desde aproximadamente Q7,800. Para conocer la tabla de financiamiento completa, el enganche requerido e ingresos mínimos según tu perfil, consulta con tu asesor comercial.\"\n  },\n  {\n    \"id\": \"pl_financiamiento_fha\",\n    \"proyecto\": \"PPOL\",\n    \"categoria\": \"precios\",\n    \"tags\": [\"fha\", \"enganche\", \"hipoteca asegurada\", \"primera vivienda\", \"accesible\"],\n    \"pregunta\": \"¿Polanco tiene aval FHA? ¿Qué ventaja tiene el FHA?\",\n    \"respuesta\": \"Sí, Polanco cuenta con aval FHA (Instituto de Fomento de Hipotecas Aseguradas). El FHA permite acceder a enganches más bajos y también realiza inspecciones durante la construcción como garantía adicional de calidad para el comprador. Para conocer el porcentaje de enganche exacto con FHA, consulta con tu asesor.\"\n  },\n  {\n    \"id\": \"pl_proceso_compra_pasos\",\n    \"proyecto\": \"PPOL\",\n    \"categoria\": \"proceso_compra\",\n    \"tags\": [\"proceso compra\", \"pasos\", \"como comprar\", \"steps\", \"compraventa\", \"como adquirir\"],\n    \"pregunta\": \"¿Cuál es el proceso para comprar un apartamento en Polanco?\",\n    \"respuesta\": \"El proceso tiene 5 pasos:\\n1) Reserva (Q15,000 para bloquear la unidad elegida).\\n2) Acuerdo de Compraventa (documento que establece las condiciones de venta, firmado por el comprador y el asesor).\\n3) Formulario de Autorización de Referencias (investigación crediticia en InforNet, EQUIFAX, TransUnion y WORLDCHECKONE).\\n4) Promesa de Compraventa (contrato legal con legalización de firmas ante notario).\\n5) Escritura Pública de Compraventa (instrumento final de transferencia de propiedad).\"\n  },\n  {\n    \"id\": \"pl_proceso_reserva_como\",\n    \"proyecto\": \"PPOL\",\n    \"categoria\": \"proceso_compra\",\n    \"tags\": [\"como reservar\", \"reserva\", \"apartar unidad\", \"proceso reserva\", \"formulario\"],\n    \"pregunta\": \"¿Cómo puedo realizar una reserva en Polanco?\",\n    \"respuesta\": \"La reserva puede realizarse visitando nuestro Centro de Experiencia en Oakland Place, Sótano 2, o directamente con tu asesor comercial. El costo es de Q15,000 (únicamente en quetzales) y el formulario debe estar debidamente completado y firmado por el cliente para que sea válido.\"\n  },\n  {\n    \"id\": \"pl_proceso_legal_factura\",\n    \"proyecto\": \"PPOL\",\n    \"categoria\": \"proceso_compra\",\n    \"tags\": [\"factura\", \"escritura\", \"nombre\", \"legal\", \"registro propiedad\", \"mismo nombre\"],\n    \"pregunta\": \"¿Puedo poner el apartamento a nombre de otra persona diferente a la factura?\",\n    \"respuesta\": \"No. La factura y las escrituras de compraventa deben estar a nombre de la misma persona. Es un requisito al presentar el testimonio de la escritura pública ante el Registro General de la Propiedad.\"\n  },\n  {\n    \"id\": \"pl_proceso_legal_ceder\",\n    \"proyecto\": \"PPOL\",\n    \"categoria\": \"proceso_compra\",\n    \"tags\": [\"ceder derechos\", \"vender antes\", \"transferir\", \"terceros\", \"antes de escriturar\"],\n    \"pregunta\": \"¿Puedo vender o ceder los derechos de mi apartamento antes de escriturar?\",\n    \"respuesta\": \"No. La promesa de compraventa establece claramente que el comprador no puede ceder los derechos a terceras personas antes de escriturar. La misma parte compradora debe formalizar la escritura pública.\"\n  },\n  {\n    \"id\": \"pl_volumen_parqueos\",\n    \"proyecto\": \"PPOL\",\n    \"categoria\": \"proyecto\",\n    \"tags\": [\"volumen\", \"niveles\", \"parqueos\", \"sotanos\", \"visitas\", \"bicicleta\", \"apartamentos\"],\n    \"pregunta\": \"¿Cuántos niveles, apartamentos y sótanos tiene Polanco?\",\n    \"respuesta\": \"Polanco cuenta con 22 niveles, 175 apartamentos (9 modelos + Penthouse), 2 módulos de elevadores de alta velocidad y 1 módulo de gradas. Las unidades habitacionales están en los niveles 2 al 19. Dispone de 8 sótanos de estacionamiento, racks de bicicletas y 17 parqueos de visita.\"\n  },\n  {\n    \"id\": \"pl_amenidades_lista\",\n    \"proyecto\": \"PPOL\",\n    \"categoria\": \"amenidades\",\n    \"tags\": [\"amenidades\", \"que tiene\", \"servicios\", \"comodidades\", \"lista\", \"16 amenidades\"],\n    \"pregunta\": \"¿Qué amenidades ofrece Polanco?\",\n    \"respuesta\": \"Polanco ofrece 16 amenidades premium distribuidas en dos niveles:\\n- Social Kitchen, Gourmet Kitchen, Private Dining.\\n- Coworking y salas de reuniones privadas.\\n- Sports Lounge, gimnasio y área de Spa.\\n- Piscina.\\n- Grill Cabanas y Children's Playground.\\n- Lounge con Fire Pit.\\n- Panoramic Lounge con vistas panorámicas a toda la ciudad (Nivel 21).\"\n  },\n  {\n    \"id\": \"pl_amenidades_niveles\",\n    \"proyecto\": \"PPOL\",\n    \"categoria\": \"amenidades\",\n    \"tags\": [\"amenidades\", \"nivel 1\", \"nivel 21\", \"zonificacion\", \"donde estan\"],\n    \"pregunta\": \"¿Dónde están ubicadas las amenidades en Polanco?\",\n    \"respuesta\": \"Las amenidades de Polanco están distribuidas en dos niveles:\\n- Nivel 01: Lobby, Drop Off, Private Dining, Coworking, Grill Cabanas, Children's Playground, Lounge, Pool, Spa, Meeting Rooms, Gourmet Kitchen, Sports Lounge y Workout Area.\\n- Nivel 21: Panoramic Lounge y Fire Pit.\"\n  },\n  {\n    \"id\": \"pl_experiencia_inmersiva\",\n    \"proyecto\": \"PPOL\",\n    \"categoria\": \"contacto\",\n    \"tags\": [\"showroom\", \"recorrido virtual\", \"tecnologia\", \"conocer proyecto\", \"visitar\"],\n    \"pregunta\": \"¿Cómo puedo conocer el proyecto Polanco antes de comprar?\",\n    \"respuesta\": \"Polanco ofrece una experiencia inmersiva en su Centro de Experiencia de Oakland Place (Sótano 2). Es un recorrido virtual que permite apreciar los acabados y las vistas reales de los apartamentos antes de su entrega. Te invitamos a visitarnos para vivirla en persona.\"\n  },\n  {\n    \"id\": \"pl_infraestructura\",\n    \"proyecto\": \"PPOL\",\n    \"categoria\": \"amenidades\",\n    \"tags\": [\"elevadores\", \"gradas\", \"pozo\", \"cisterna\", \"infraestructura\", \"servicios basicos\"],\n    \"pregunta\": \"¿Qué infraestructura tiene el edificio de Polanco?\",\n    \"respuesta\": \"Polanco cuenta con: 2 módulos de elevadores de alta velocidad, 1 módulo de gradas de emergencia, 8 sótanos de estacionamiento, pozo propio y cisterna para garantizar la continuidad del agua, y ventanería Low-E en toda la torre para confort térmico y acústico.\"\n  },\n  {\n    \"id\": \"pl_seguridad\",\n    \"proyecto\": \"PPOL\",\n    \"categoria\": \"amenidades\",\n    \"tags\": [\"seguridad\", \"vigilancia\", \"camaras\", \"accesos\", \"24/7\", \"control acceso\"],\n    \"pregunta\": \"¿Qué seguridad tiene Polanco?\",\n    \"respuesta\": \"Polanco cuenta con acceso controlado de entrada y salida para residentes y visitas. Para conocer el detalle completo del sistema de seguridad del edificio, te invitamos a consultarlo con tu asesor comercial o visitando nuestro Centro de Experiencia en Oakland Place, Sótano 2.\"\n  },\n  {\n    \"id\": \"pl_mantenimiento\",\n    \"proyecto\": \"PPOL\",\n    \"categoria\": \"mantenimiento\",\n    \"tags\": [\"cuota mantenimiento\", \"mensualidad\", \"areas comunes\", \"cuanto pago\", \"que incluye\"],\n    \"pregunta\": \"¿Cuánto es la cuota de mantenimiento en Polanco y qué cubre?\",\n    \"respuesta\": \"Polanco cuenta con cuota de mantenimiento mensual para preservar las áreas comunes y amenidades del edificio. El monto varía según el modelo. Para conocer la cuota exacta correspondiente a tu unidad y lo que incluye, consulta con tu asesor comercial.\"\n  },\n  {\n    \"id\": \"pl_perfil_cliente\",\n    \"proyecto\": \"PPOL\",\n    \"categoria\": \"perfil_cliente\",\n    \"tags\": [\"inversion\", \"vivienda\", \"airbnb\", \"para vivir\", \"para rentar\", \"primera vivienda\", \"profesionales\", \"inversionistas\"],\n    \"pregunta\": \"¿Polanco es para vivir o para inversión? ¿Se permite Airbnb?\",\n    \"respuesta\": \"Polanco es ideal tanto para vivir como para invertir. Es el único proyecto de Spectrum con política Airbnb Friendly, lo que permite a los propietarios rentar su apartamento en plataformas como Airbnb y generar ingresos. También es perfecto para jóvenes profesionales que desean vivir en el corazón corporativo de Zona 10. Para información sobre si aplica para Primera Vivienda, consulta con tu asesor comercial.\"\n  },\n  {\n    \"id\": \"pl_entrega_proyecto\",\n    \"proyecto\": \"PPOL\",\n    \"categoria\": \"proyecto\",\n    \"tags\": [\"entrega\", \"fecha\", \"construccion\", \"cuando\", \"mudarse\", \"2027\", \"2028\"],\n    \"pregunta\": \"¿Cuándo entregan los apartamentos de Polanco?\",\n    \"respuesta\": \"Polanco se encuentra en construcción y comercialización. La fecha estimada de entrega es 2027/2028. Para la fecha más actualizada y el avance actual de obra, consulta directamente con tu asesor comercial.\"\n  },\n  {\n    \"id\": \"pl_contacto\",\n    \"proyecto\": \"PPOL\",\n    \"categoria\": \"contacto\",\n    \"tags\": [\"contacto\", \"telefono\", \"whatsapp\", \"web\", \"asesor\", \"agendar cita\", \"comunicacion\"],\n    \"pregunta\": \"¿Cómo puedo contactar a Polanco o agendar una visita?\",\n    \"respuesta\": \"Puedes conocer Polanco visitando nuestro Centro de Experiencia en Oakland Place, Sótano 2, Ciudad de Guatemala. También puedes solicitarlo a través de este chat y un asesor se comunicará contigo a la brevedad para brindarte atención personalizada.\"\n  },\n  {\n    \"id\": \"pl_diferenciadores\",\n    \"proyecto\": \"PPOL\",\n    \"categoria\": \"proyecto\",\n    \"tags\": [\"diferenciadores\", \"ventajas\", \"por que elegir\", \"competencia\", \"valor agregado\", \"airbnb\", \"zona10\"],\n    \"pregunta\": \"¿Por qué elegir Polanco sobre otros proyectos de la zona?\",\n    \"respuesta\": \"Polanco destaca por:\\n- Airbnb Friendly: el único proyecto de Spectrum que permite rentas en plataformas como Airbnb, ideal para inversionistas.\\n- Ubicación privilegiada en Zona 10, el corazón financiero y corporativo de Guatemala.\\n- 16 amenidades premium de clase internacional (Spa, Private Dining, Panoramic Lounge, Fire Pit).\\n- Tecnología constructiva Low-E para mayor confort térmico y acústico.\\n- 9 modelos disponibles, con opciones desde 1 hasta 3 dormitorios + Penthouse.\\n- Centro de Experiencia: showroom inmersivo en Oakland Place para conocer el proyecto antes de comprar.\\n- Respaldo del FHA y amplia trayectoria de Spectrum.\"\n  }\n]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -272,
        -608
      ],
      "id": "6315e50f-b459-4b1e-b93a-40fd2f036fc2",
      "name": "LISTA de CHUNKS"
    },
    {
      "parameters": {
        "mode": "insert",
        "mongoCollection": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "embedding": "spectrum_embedding",
        "vectorIndexName": "spectrum_vector_index",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreMongoDBAtlas",
      "typeVersion": 1.3,
      "position": [
        176,
        -608
      ],
      "id": "310477ca-75df-4b6b-a51e-80f78ce14cf4",
      "name": "MongoDB Atlas Vector Store CHUNKS",
      "credentials": {
        "mongoDb": {
          "id": "UzcANqeDFO1QLbfd",
          "name": "SPECTRUM - CENTRALIZADO"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -496,
        -608
      ],
      "id": "e5075db2-8f3e-4d98-85e0-7a61298c6f20",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "connections": {
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "MongoDB Atlas Vector Store CHUNKS",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "MongoDB Atlas Vector Store CHUNKS",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "MongoDB Atlas Vector Store CHUNKS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LISTA de CHUNKS": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "LISTA de CHUNKS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d4ab02fb1ef8b6ca2c1c5c1f280ee696b0514d7d92cee5fb0da1784dbe393998"
  }
}