Company-Knowledge Supabase.json
{
  "name": "Company-Knowledge Supabase",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        96,
        -16
      ],
      "id": "c5fd9710-450c-493e-abd8-0315caff6d44",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data[0].mimetype }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e5d0d910-4a7f-4112-896a-65ef50efec90"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8f6c34f9-d90b-4b11-9240-ce65d957e28b",
                    "leftValue": "={{ $json.data[0].filename }}",
                    "rightValue": "csv",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CSV"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        320,
        -80
      ],
      "id": "cdce405a-7f4f-4f73-8c16-bd20792f3b78",
      "name": "Switch4"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        544,
        -80
      ],
      "id": "63e3a3ea-b715-4364-ae06-d5414844f2bd",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "lapista_documents",
          "mode": "list",
          "cachedResultName": "lapista_documents"
        },
        "options": {
          "queryName": "match_lapista_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        800,
        -288
      ],
      "id": "cb4e6b46-6bab-4bde-9987-4c05a56c8657",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "xqzM8Sevw2x669Nj",
          "name": "Supabase GAROO"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        768,
        -64
      ],
      "id": "49d8d4b4-53c5-449a-a3bb-96aec8677427",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "LtzIKoi61tZvaeua",
          "name": "Vectorizer Agent - Knowledge Bases"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.text }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "id",
                "value": "={{ $json.info.Title+$json.info.CreationDate }}"
              },
              {
                "name": "name",
                "value": "={{ $('Loop Over Items').item.json.data[0].filename }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        896,
        -64
      ],
      "id": "59fd7daa-145a-4f02-92dc-63e79eee3619",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        976,
        144
      ],
      "id": "eb2b0844-7d55-4f61-bd69-9cfc99f249c3",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        544,
        528
      ],
      "id": "a532601b-800f-455a-829c-7ba92193cc24",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "lapista_documents",
          "mode": "list",
          "cachedResultName": "lapista_documents"
        },
        "options": {
          "queryName": "match_lapista_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        800,
        528
      ],
      "id": "81a5a385-13c9-4fcd-9e47-e04cfb66410b",
      "name": "Supabase Vector Store2",
      "credentials": {
        "supabaseApi": {
          "id": "xqzM8Sevw2x669Nj",
          "name": "Supabase GAROO"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        768,
        752
      ],
      "id": "c2abe92a-a06c-4ffe-9930-46894c07dc12",
      "name": "Embeddings OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "LtzIKoi61tZvaeua",
          "name": "Vectorizer Agent - Knowledge Bases"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "id",
                "value": "={{ $('Edit Fields7').item.json.id }}"
              },
              {
                "name": "confirmation_no",
                "value": "={{ $json.confirmation_no }}"
              },
              {
                "name": "=arrival",
                "value": "={{ $('Extract from File1').item.json.arrival }}"
              },
              {
                "name": "products",
                "value": "={{ $json.products }}"
              },
              {
                "name": "resort",
                "value": "={{ $json.resort }}"
              },
              {
                "name": "full_name",
                "value": "={{ $json.full_name }}"
              },
              {
                "name": "arrival_time",
                "value": "={{ $json.arrival_time }}"
              },
              {
                "name": "departure_time",
                "value": "={{ $json.departure_time }}"
              },
              {
                "name": "market_code",
                "value": "={{ $json.market_code }}"
              },
              {
                "name": "rate_code",
                "value": "={{ $json.rate_code }}"
              },
              {
                "name": "departure",
                "value": "={{ $json.departure }}"
              },
              {
                "name": "guarantee_code",
                "value": "={{ $json.guarantee_code }}"
              },
              {
                "name": "bill_to_address",
                "value": "={{ $json.bill_to_address }}"
              },
              {
                "name": "origin_of_booking",
                "value": "={{ $json.origin_of_booking }}"
              },
              {
                "name": "effective_rate_amount",
                "value": "={{ $json.effective_rate_amount }}"
              },
              {
                "name": "adults",
                "value": "={{ $json.adults }}"
              },
              {
                "name": "children",
                "value": "={{ $json.children }}"
              },
              {
                "name": "persons",
                "value": "={{ $json.persons }}"
              },
              {
                "name": "deposit_pade",
                "value": "={{ $json.deposit_paid }}"
              },
              {
                "name": "room_no",
                "value": "={{ $json.room_no }}"
              },
              {
                "name": "share_amount",
                "value": "={{ $json.share_amount }}"
              },
              {
                "name": "last_room",
                "value": "={{ $json.last_room }}"
              },
              {
                "name": "count_comments",
                "value": "={{ $json.count_comments }}"
              },
              {
                "name": "count_res_comments",
                "value": "={{ $json.count_res_comments }}"
              },
              {
                "name": "count_traces",
                "value": "={{ $json.count_traces }}"
              },
              {
                "name": "count_fixed_charges",
                "value": "={{ $json.count_fixed_charges }}"
              },
              {
                "name": "room_category_label",
                "value": "={{ $json.room_category_label }}"
              },
              {
                "name": "company_ name",
                "value": "={{ $json.company_name }}"
              },
              {
                "name": "vip",
                "value": "={{ $json.vip }}"
              },
              {
                "name": "comp_house",
                "value": "={{ $json.comp_house }}"
              },
              {
                "name": "arrival_transport_type",
                "value": "={{ $json.arrival_transport_type }}"
              },
              {
                "name": "arrival_carrier_code",
                "value": "={{ $json.arrival_carrier_code }}"
              },
              {
                "name": "count_inventory_items",
                "value": "={{ $json.count_inventory_items }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        896,
        752
      ],
      "id": "2bc87322-cace-4baf-aa79-f404ff7ba48c",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        976,
        960
      ],
      "id": "43fea295-2410-4cc1-ad7f-ef5aaf383c03",
      "name": "Recursive Character Text Splitter1"
    },
    {
      "parameters": {
        "formTitle": "Vectorizacion de Base de Conocimientos",
        "formFields": {
          "values": [
            {
              "fieldLabel": "data",
              "fieldType": "file",
              "acceptFileTypes": ".pdf, .csv",
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -128,
        -16
      ],
      "id": "34ae7c5c-da21-4508-a2f7-c96c1b56f8ca",
      "name": "On form submission",
      "webhookId": "7c60acb7-a6a5-4602-be94-47db577e0b5a"
    }
  ],
  "pinData": {},
  "connections": {
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Switch4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch4": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5b88a86d-66ae-4b6f-a912-07116282fac3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d4ab02fb1ef8b6ca2c1c5c1f280ee696b0514d7d92cee5fb0da1784dbe393998"
  },
  "id": "1NP0wf372wd6UTrd",
  "tags": []
}