Municipalidad.json
{
  "name": "Municipalidad",
  "nodes": [
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "text": "Eres un experto en describir imagenes para un chatbot responde lo que ves en la imagen de esta manera. \"El usuario envió una imagen etc...\"",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        32,
        288
      ],
      "id": "100d1ea7-7948-4615-ac0b-0addd4ebf9a9",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "tk8JD0kvueNt0zB2",
          "name": "Bravante"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const current_key = $input.first().json.body.key;\n\nconst current_body = $input.first().json.body;\n\nconst timestamp = new Date().toISOString();\n\nconst start_time = Date.now();\n\nconst result_body = {\n current_body,\n  timestamp\n}\n\nreturn [{\n  key: current_key,\n  body: JSON.stringify(result_body),\n  timestamp,\n  start_time\n}]\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1456,
        288
      ],
      "id": "d835f29a-e680-4ea2-ace0-87389da38f07",
      "name": "Create Body"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "92200249-f6e4-4f84-bd28-bc36de22beb3",
              "leftValue": "={{ $('PARSE Body').item.json.current_body.last_input_text }}",
              "rightValue": "https://manybot-files",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "b5bd48d1-851e-43bc-a097-e16c0dcca59c",
              "leftValue": "={{ $('PARSE Body').item.json.current_body.last_input_text }}",
              "rightValue": "https://lookaside.fbsbx.com",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -864,
        288
      ],
      "id": "4a1ca4a3-6c62-46b7-a4e4-2c06d71ace16",
      "name": "ES ARCHIVO"
    },
    {
      "parameters": {
        "url": "={{ $json.current_body.last_input_text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -640,
        176
      ],
      "id": "1ce11bd1-ec22-4934-b4b0-bcc1a4c78ffc",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "92200249-f6e4-4f84-bd28-bc36de22beb3",
              "leftValue": "={{ $('HTTP Request').item.binary.data.mimeType }}",
              "rightValue": "audio/ogg",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "b5bd48d1-851e-43bc-a097-e16c0dcca59c",
              "leftValue": "={{ $('HTTP Request').item.binary.data.mimeType }}",
              "rightValue": "video/mp4",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -416,
        176
      ],
      "id": "8c4d6872-78dd-44d7-ad12-f002b3e37fb0",
      "name": "ES AUDIO / IMAGEN"
    },
    {
      "parameters": {
        "url": "={{ $json.current_body.last_input_text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -192,
        80
      ],
      "id": "bc6cfb60-5d36-4999-8c08-09d1a13533a4",
      "name": "HTTP ISAUDIO"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        32,
        80
      ],
      "id": "d97a5e49-1406-43c0-b05f-7e10f2f51dde",
      "name": "TRANSCRIBE AUDIO",
      "credentials": {
        "openAiApi": {
          "id": "tk8JD0kvueNt0zB2",
          "name": "Bravante"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ea8c9284-e11f-4e87-a742-4392a692da2a",
              "name": "mensaje",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "1f2fe528-cff0-4713-9dcb-4221b508c597",
              "name": "hora_llegada",
              "value": "={{ $json.timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        80
      ],
      "id": "b84dd590-dd4a-43cc-bbe8-cf5e44458d8c",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ea8c9284-e11f-4e87-a742-4392a692da2a",
              "name": "mensaje",
              "value": "={{ $json.content }}",
              "type": "string"
            },
            {
              "id": "1f2fe528-cff0-4713-9dcb-4221b508c597",
              "name": "hora_llegada",
              "value": "={{ $json.timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        288
      ],
      "id": "42de9848-86d7-4658-8a6d-d4ca62b65ffd",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ea8c9284-e11f-4e87-a742-4392a692da2a",
              "name": "mensaje",
              "value": "={{ $json.current_body.last_input_text }}",
              "type": "string"
            },
            {
              "id": "1f2fe528-cff0-4713-9dcb-4221b508c597",
              "name": "hora_llegada",
              "value": "={{ $json.timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        480
      ],
      "id": "31120613-1271-41c9-9f8d-b7a39a6dcaad",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "hora_llegada"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        704,
        288
      ],
      "id": "608fe0e2-f295-45d3-9044-8b18ff245a1a",
      "name": "Sort"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "mensaje"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        896,
        288
      ],
      "id": "f6f8fbf4-4f80-4f00-bafc-c681bcd912ec",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1c4c388-e572-4502-9cf1-51d28b4d022d",
              "name": "input",
              "value": "={{ $json.mensaje.join(\" \") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        288
      ],
      "id": "b528706f-c9ef-42d9-8b78-b1d752670af1",
      "name": "Pregunta"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ JSON.parse($json.body) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1232,
        288
      ],
      "id": "371b4859-3827-4518-89b6-ab571c913a9e",
      "name": "PARSE Body"
    },
    {
      "parameters": {
        "jsCode": "function prepareForHttp(text) {\n  if (text === null || text === undefined) return \"\";\n\n  return String(text)\n    .replace(/\\\\/g, \"\\\\\\\\\")     // Escapar barras invertidas primero\n    .replace(/\"/g, '\\\\\"')       // Escapar comillas dobles\n    .replace(/\\r\\n/g, \"\\\\n\")    // Saltos Windows\n    .replace(/\\n/g, \"\\\\n\")      // Saltos Unix\n    .replace(/\\t/g, \"\\\\t\")      // Tabulaciones\n    .replace(/\\*\\*/g, \"*\")      // Eliminar doble asterisco\n    .trim();\n}\n\n// Obtiene el input correctamente aunque venga como array\nconst incoming = $('AI Agent Conversacional').first().json;\n\n// Si viene como array de objetos\nlet text = \"\";\n\nif (Array.isArray(incoming) && incoming[0]?.response) {\n  text = incoming[0].response;\n} else if (incoming.response) {\n  text = incoming.response;\n} else if (incoming.output) {\n  text = incoming.output;\n}\n\nconst modified_text = prepareForHttp(text);\n\nreturn { modified_text };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3872,
        480
      ],
      "id": "f4e505ae-d0a9-4aff-8dca-a62191f915f4",
      "name": "Code"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        3280,
        880
      ],
      "id": "8eebfdcd-04be-4e5f-9d76-5b42701b9b2b",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "LtzIKoi61tZvaeua",
          "name": "Vectorizer Agent - Knowledge Bases"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2864,
        720
      ],
      "id": "ec8b78fa-6fc8-424d-8b60-87e407581cfb",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "LtzIKoi61tZvaeua",
          "name": "Vectorizer Agent - Knowledge Bases"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.key }}",
        "collectionName": "chat_histories",
        "databaseName": "Municipalidad",
        "contextWindowLength": 2
      },
      "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
      "typeVersion": 1,
      "position": [
        3488,
        320
      ],
      "id": "547eedf0-3c79-4daa-8942-650e76a79a7b",
      "name": "MongoDB Chat Memory",
      "credentials": {
        "mongoDb": {
          "id": "k7CZm1spT8xwInEc",
          "name": "MunicipialidadDB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nlet id = input.id;\nconst last_interaction = input.last_interaction;\nconst last_message = input.last_message;\n\n// Si viene como {$oid}\nif (typeof id === \"object\" && id !== null && id.$oid) {\n  id = id.$oid;\n}\n\n// Si es string, limpiamos comillas accidentales\nif (typeof id === \"string\") {\n  id = id.replace(/^\"+|\"+$/g, \"\");\n}\n\n// Validación defensiva (opcional pero recomendada)\nif (!/^[a-fA-F0-9]{24}$/.test(id)) {\n  throw new Error(`_id inválido para MongoDB: ${id}`);\n}\n\nreturn [\n  {\n    json: {\n      _id: id,\n      last_interaction,\n      last_message,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1936,
        192
      ],
      "id": "e80d9c8d-217f-4aea-90b8-f557b0a5a794",
      "name": "Data to Update Normalization"
    },
    {
      "parameters": {
        "content": "## Actualizar ultimo mensaje del Usuario\n",
        "height": 496,
        "width": 464,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1744,
        112
      ],
      "typeVersion": 1,
      "id": "767329a2-e8cd-42b1-9791-5de871ac6255",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "collection": "users",
        "options": {},
        "query": "={\"user_id\":\"{{ $('Webhook').item.json.body.id }}\"}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        1376,
        288
      ],
      "id": "9c915cee-47f9-4765-a97d-47bbae883206",
      "name": "Find user",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "k7CZm1spT8xwInEc",
          "name": "MunicipialidadDB"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "06a3df45-ba51-4622-924a-2fb0f33049af",
              "leftValue": "={{ $json.user_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1600,
        288
      ],
      "id": "f5a022ce-9c29-4818-9c72-de2be5a6e4b9",
      "name": "if_exists"
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "users",
        "updateKey": "=_id",
        "fields": "last_interaction,last_message",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        2080,
        192
      ],
      "id": "7b15c070-4e18-4b1a-9469-294ea59f8ffb",
      "name": "Update user",
      "credentials": {
        "mongoDb": {
          "id": "k7CZm1spT8xwInEc",
          "name": "MunicipialidadDB"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "users",
        "fields": "user_id,name,last_interaction,first_interaction,last_message,has_reservation,input_channel,last_agent_message",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        2048,
        384
      ],
      "id": "5c3b0f8b-9be7-4828-af39-6fc5ba17e263",
      "name": "Insert user",
      "credentials": {
        "mongoDb": {
          "id": "k7CZm1spT8xwInEc",
          "name": "MunicipialidadDB"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "77c38aac-532c-4334-8544-318697e36aad",
              "name": "user_id",
              "value": "={{ $('Webhook').item.json.body.id }}",
              "type": "string"
            },
            {
              "id": "30b4fb52-776f-4488-8ccd-56568597d17d",
              "name": "name",
              "value": "={{ $('Webhook').item.json.body.name }}",
              "type": "string"
            },
            {
              "id": "7459d3db-c3bc-447c-a366-c8a44db163b4",
              "name": "last_interaction",
              "value": "={{ new Date($('Create Body').item.json.timestamp) }}",
              "type": "object"
            },
            {
              "id": "bdf75099-fe0f-492f-803a-0b8ef340fcd8",
              "name": "first_interaction",
              "value": "={{ new Date($('Create Body').item.json.timestamp) }}",
              "type": "object"
            },
            {
              "id": "e777e0a0-6ee5-466a-a4f6-4106928bc239",
              "name": "last_message",
              "value": "={{ $('Webhook').item.json.body.last_input_text }}",
              "type": "string"
            },
            {
              "id": "5a4f1121-73cb-4db9-b471-f3135889d3d7",
              "name": "has_reservation",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "2c95e78b-1439-4e4e-8d98-a14f777705e8",
              "name": "input_channel",
              "value": "={{ $('Webhook').item.json.body.custom_fields.canal_ingreso }}",
              "type": "string"
            },
            {
              "id": "472723eb-b516-433e-a163-37618b27b808",
              "name": "last_agent_message",
              "value": "",
              "type": "string"
            },
            {
              "id": "6150cd9b-11a1-4762-b6af-ae54dccba619",
              "name": "interest",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1824,
        384
      ],
      "id": "6035e61f-74b8-4b27-a713-f2e27d2183ae",
      "name": "user to create"
    },
    {
      "parameters": {
        "modelName": "rerank-multilingual-v3.0"
      },
      "type": "@n8n/n8n-nodes-langchain.rerankerCohere",
      "typeVersion": 1,
      "position": [
        3504,
        880
      ],
      "id": "5b87fa0f-e6b3-4920-979b-5215c596a963",
      "name": "Reranker Cohere1",
      "credentials": {
        "cohereApi": {
          "id": "ijq4l9FO7z50cukk",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Vectorizado de la Municipalidad",
        "mongoCollection": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "embedding": "municipalidad_embedding",
        "vectorIndexName": "vector_index",
        "topK": 5,
        "includeDocumentMetadata": false,
        "useReranker": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreMongoDBAtlas",
      "typeVersion": 1.3,
      "position": [
        3328,
        704
      ],
      "id": "91f40872-b152-4e9b-a778-eb43f0b6275a",
      "name": "MEMORIA DE RAG",
      "credentials": {
        "mongoDb": {
          "id": "k7CZm1spT8xwInEc",
          "name": "MunicipialidadDB"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Mensaje del Usuario:{{ $('Webhook').item.json.body.last_input_text }}\nFecha Actual: {{ $now }}",
        "options": {
          "systemMessage": "-NUNCA RESPONDAS SIN USAR  TUS HERRAMIENTAS.\n -SIEMPRE USA LA HERRAMIENTA \"memoria rag\" PAR RESPONDER.\n-ESTA TOTALMENTE PROHIBIDO RESPONDER SIN USAR LA HERRAMIENTA Memoria Rag\n\nEres un agente oficial de atención ciudadana de la Municipalidad de Pérez Zeledón.\nTu función es brindar información institucional, clara, precisa, verificable y alineada con los registros oficiales del Gobierno Local, orientada a apoyar y guiar adecuadamente a la ciudadanía.\nTu comunicación debe ser:\nFormal y respetuosa\nClara y fácil de comprender\nOrientada al servicio público\nLevemente cercana y empática, sin perder neutralidad\nPuedes utilizar muy pocos emojis (1 o 2 como máximo) cuando ayuden a una mejor comprensión o a una atención más cordial 🙂\nREGLAS OBLIGATORIAS (CRÍTICAS)\n1. Jerarquía estricta de uso de herramientas\nDebes seguir obligatoriamente el siguiente orden, sin excepciones:\nHerramienta “Memoria de RAG” (fuente primaria y obligatoria)\nHerramienta “BÚSQUEDA WEB” (solo como respaldo excepcional)\n2. Uso obligatorio de la herramienta “Memoria de RAG”\nAntes de generar cualquier respuesta, DEBES consultar siempre la herramienta Memoria de RAG.\nEstá estrictamente prohibido:\nResponder usando conocimiento previo del modelo\nUtilizar memoria interna o conversaciones anteriores\nHacer suposiciones, inferencias o interpretaciones externas\nToda la información entregada al ciudadano debe estar respaldada explícitamente por datos obtenidos desde la herramienta Memoria de RAG.\n3. Condición estricta para usar la herramienta “BÚSQUEDA WEB”\nLa herramienta BÚSQUEDA WEB solo puede utilizarse cuando:\nLa herramienta Memoria de RAG no retorna información relevante, o\nLa información obtenida es insuficiente, incompleta o inexistente para responder la consulta.\nEstá terminantemente prohibido utilizar BÚSQUEDA WEB si existe información válida en Memoria de RAG.\nLa información obtenida mediante BÚSQUEDA WEB debe:\nProvenir exclusivamente de fuentes oficiales o institucionales\nUsarse solo para complementar o confirmar la respuesta\nPresentarse de forma clara, prudente y sin extrapolaciones\n4. Prohibiciones explícitas\nNo está permitido:\nInventar información\nCompletar datos faltantes con supuestos\nExtrapolar o reinterpretar información no contenida en las herramientas\nMezclar conocimiento externo con información institucional sin respaldo\nSi ninguna herramienta devuelve información suficiente, debes indicarlo de forma clara y honesta al ciudadano.\nCOHERENCIA INSTITUCIONAL\nMantén un tono formal, claro y orientado al servicio público\nRedacta respuestas comprensibles para la ciudadanía\nEvita tecnicismos innecesarios\nLa información debe ser neutral, precisa y respetuosa\n\nCOMPORTAMIENTO DEL AGENTE\nInicia siempre consultando la herramienta Memoria de RAG\nRedacta las respuestas exclusivamente con base en la información recuperada\nSi existen múltiples registros relevantes, prioriza:\nEl más reciente\nEl más directamente relacionado con la consulta del ciudadano\nSi el ciudadano solicita información adicional, vuelve a consultar las herramientas, respetando siempre la jerarquía establecida antes de responder.\n\nOBJETIVO DEL AGENTE\nGarantizar que toda la información entregada por el agente de la Municipalidad de Pérez Zeledón sea:\nVerificable\nConsistente\nClara para la ciudadanía\nAlineada con los registros oficiales\nUtilizando la herramienta Memoria de RAG como única fuente primaria de verdad y la herramienta BÚSQUEDA WEB únicamente como respaldo excepcional y controlado."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        3392,
        480
      ],
      "id": "6ce447f8-53dd-4129-a1ee-bb961e0fb50c",
      "name": "AI Agent Conversacional"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "17b55485-7776-4dbd-9bb0-01bc979bbeaf",
                    "leftValue": "={{ $json.intencion }}",
                    "rightValue": "EVIDENCIA_ESTRUCTURADA",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ESTRUCTURA"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intencion }}",
                    "rightValue": "=CONTEXTO_GENERAL",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "5f9161ef-935a-49b8-9f66-af7d382104ed"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "GENERAL"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        2848,
        256
      ],
      "id": "36e8a18e-3856-487f-961b-a3004474a674",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "// Obtener el texto del LLM\nconst rawText = $input.first().json.text;\n\nif (!rawText || typeof rawText !== \"string\") {\n  throw new Error(\"Salida inválida del clasificador\");\n}\n\n// Limpiar bloques ```json ``` o ```\nlet cleaned = rawText\n  .replace(/```json/gi, \"\")\n  .replace(/```/g, \"\")\n  .trim();\n\n// 🔹 NORMALIZACIÓN CLAVE 🔹\n// Eliminar numeraciones tipo \"1._\", \"2.\", \"2._\"\ncleaned = cleaned.replace(/^\\d+\\s*[\\._-]?\\s*/g, \"\").trim();\n\n// Convertir a formato esperado\nconst allowed = [\"EVIDENCIA_ESTRUCTURADA\", \"CONTEXTO_GENERAL\"];\n\nlet intencion;\n\n// CASO 1: texto plano normalizado\nif (allowed.includes(cleaned)) {\n  intencion = cleaned;\n}\n\n// CASO 2: JSON\nelse {\n  let parsed;\n  try {\n    parsed = JSON.parse(cleaned);\n  } catch (e) {\n    throw new Error(`No se pudo parsear el JSON del clasificador. Valor recibido: ${cleaned}`);\n  }\n\n  if (!parsed.intencion || !allowed.includes(parsed.intencion)) {\n    throw new Error(`Intención inválida: ${parsed.intencion}`);\n  }\n\n  intencion = parsed.intencion;\n}\n\n// Salida final normalizada\nreturn {\n  intencion\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2672,
        256
      ],
      "id": "538d3a6b-4d4d-414b-9419-f9d6c61d4272",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "39c23609-713a-46fe-a18a-bde5b35b4644",
              "name": "mensaje",
              "value": "={{ $('Webhook').item.json.body.last_input_text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3168,
        480
      ],
      "id": "23880d52-0689-49a5-b1bf-fecd6cec7a6e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "39c23609-713a-46fe-a18a-bde5b35b4644",
              "name": "mensaje",
              "value": "={{ $('Webhook').item.json.body.last_input_text }}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3168,
        128
      ],
      "id": "ee0c9516-632f-4ed7-a79d-3ebd7f684d72",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "jsCode": "function prepareForHttp(text) {\n  if (text === null || text === undefined) return \"\";\n\n  return String(text)\n    .replace(/\\\\/g, \"\\\\\\\\\")     // Escapar barras invertidas primero\n    .replace(/\"/g, '\\\\\"')       // Escapar comillas dobles\n    .replace(/\\r\\n/g, \"\\\\n\")    // Saltos Windows\n    .replace(/\\n/g, \"\\\\n\")      // Saltos Unix\n    .replace(/\\t/g, \"\\\\t\")      // Tabulaciones\n    .replace(/\\*\\*/g, \"*\")      // Eliminar doble asterisco\n    .trim();\n}\n\n// Obtiene el input correctamente aunque venga como array\nconst incoming = $('AI Agent Estructuras').first().json;\n\n// Si viene como array de objetos\nlet text = \"\";\n\nif (Array.isArray(incoming) && incoming[0]?.response) {\n  text = incoming[0].response;\n} else if (incoming.response) {\n  text = incoming.response;\n} else if (incoming.output) {\n  text = incoming.output;\n}\n\nconst modified_text = prepareForHttp(text);\n\nreturn { modified_text };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3856,
        128
      ],
      "id": "62278efa-b81a-49db-a1c7-d0abddda6067",
      "name": "Code1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Mensaje del Usuario:{{ $('Webhook').item.json.body.last_input_text }}\nFecha Actual: {{ $now }}",
        "options": {
          "systemMessage": "-NUNCA RESPONDAS SIN USAR  TUS HERRAMIENTAS.\n -SIEMPRE USA LA HERRAMIENTA \"HORARIOS\" PAR RESPONDER.\n-ESTA TOTALMENTE PROHIBIDO RESPONDER SIN USAR LA HERRAMIENTA HORARIOS\n-PARA RESPONDER DA FECHAS EXACTAS\nEres un agente oficial de atención ciudadana de la Municipalidad de Pérez Zeledón.\nTu misión es brindar información clara, precisa, actualizada y verificable sobre los horarios de los servicios municipales, con especial énfasis en la recolección de residuos y servicios asociados.\nTu comunicación debe ser:\nClara y directa\nFormal, pero cercana y comprensible\nOrientada al ciudadano\nLevemente empática, sin perder rigor institucional\nPuedes usar muy pocos emojis (1 o 2 como máximo), solo si ayudan a una mejor comprensión 😊\n\nREGLAS OBLIGATORIAS (CRÍTICAS)\n1. Jerarquía estricta de uso de herramientas\nDebes seguir obligatoriamente este orden, sin excepciones:\nHerramienta “HORARIO” (fuente primaria y obligatoria)\nHerramienta “BÚSQUEDA WEB1” (solo como respaldo excepcional)\n\n2. Uso obligatorio de la herramienta “HORARIO”\nAntes de redactar cualquier respuesta, DEBES consultar siempre la herramienta HORARIO.\nEstá terminantemente prohibido:\nResponder con base en memoria\nUsar conocimiento previo\nHacer suposiciones\nReutilizar respuestas anteriores\nToda la información entregada al ciudadano debe provenir exclusivamente de los datos obtenidos desde la herramienta HORARIO.\n\n3. Uso restringido de la herramienta “BÚSQUEDA WEB1”\nLa herramienta BÚSQUEDA WEB1 solo puede utilizarse cuando:\nHORARIO no retorna información relevante, o\nLa información es incompleta, insuficiente o inexistente\n⚠️ Nunca utilices BÚSQUEDA WEB1 sin haber consultado primero HORARIO.\n⚠️ Nunca uses BÚSQUEDA WEB1 si HORARIO contiene información válida.\n\n4. Uso obligatorio de la fecha actual\nDebes considerar siempre la fecha actual al momento de responder.\nSi el ciudadano consulta por:\n“Próximos días”\n“Próximo servicio”\n“Siguiente recolección”\nLas fechas deben calcularse exclusivamente a partir de la fecha actual.\n\n5. Cálculo de fechas futuras\n\nCuando el servicio tenga frecuencia:\nSemanal\nQuincenal\nMensual\nDebes:\nIdentificar la última fecha válida desde HORARIO\nCalcular correctamente las siguientes fechas futuras\nGarantizar coherencia cronológica\nNunca mencionar fechas pasadas como próximas\n\n6. Precisión institucional\nNo inventes horarios, fechas, rutas ni servicios\nSi un servicio no se realiza, indícalo claramente\nMantén un lenguaje institucional, pero accesible\n\nCOMPORTAMIENTO DEL AGENTE\nInicia siempre consultando la herramienta HORARIO\nVerifica la coherencia con la fecha actual\nResponde de forma clara, ordenada y orientada al ciudadano\nSi el ciudadano solicita información adicional, vuelve a consultar las herramientas, respetando la jerarquía establecida\n\nOBJETIVO FINAL\nBrindar a la ciudadanía información confiable, actualizada y verificable sobre los horarios de los servicios municipales de la Municipalidad de Pérez Zeledón, garantizando:\nExactitud operativa\nCoherencia temporal\nClaridad comunicativa\nAlineación institucional\nTodo esto utilizando HORARIO como única fuente primaria de verdad y BÚSQUEDA WEB1 únicamente como respaldo excepcional."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        3392,
        128
      ],
      "id": "a20ef1c7-989e-42de-90a9-f152e03deac1",
      "name": "AI Agent Estructuras"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Mensaje del usuario: {{ $('Webhook').item.json.body.last_input_text }}",
        "messages": {
          "messageValues": [
            {
              "message": "Eres un clasificador de intención para el sistema conversacional de la Municipalidad de Pérez Zeledón.|⚠️ Tu tarea NO es responder al ciudadano.⚠️ Tu única función es clasificar la intención del mensaje.OBJETIVO DEL CLASIFICADORDeterminar si el mensaje del usuario requiere consultar información estructurada oficial (proveniente de un archivo Excel con horarios, rutas, sectores y calendarios exactos), o si puede resolverse con información general institucional contenida en documentos de contexto (RAG).FUENTES DISPONIBLES EN EL SISTEMARegistro estructurado (Excel / Sheet “HORARIO”)Calendarios de recolecciónDías exactosFrecuencias (semanal, quincenal)Zonas, distritos, sectores, barriosValidaciones por fecha (hoy, mañana, día específico)Información general (RAG / PDF institucional)Horarios de atenciónRequisitos y trámitesProcedimientosNormativaInformación institucional y de contactoCATEGORÍAS DE CLASIFICACIÓN⚠️ Debes elegir UNA sola categoría  1._EVIDENCIA_ESTRUCTURADAUsa EXCLUSIVAMENTE esta categoría cuando el mensaje del usuario requiera datos exactos, no inferibles, que obligatoriamente deben consultarse en el Excel oficial.Incluye, pero no se limita a preguntas sobre:Días de recolección de basura, reciclaje u orgánicosHorarios específicos por comunidad, sector o barrioRutas de recolecciónSectores, distritos o zonas específicasConfirmaciones temporales como:“¿Pasan hoy?”“¿Mañana hay recolección?”“¿Qué día pasa el reciclaje en…?”Fechas exactas (especialmente recolección quincenal)Validación de servicios en una fecha concretaRegla clave:Si la respuesta puede variar según ubicación o fecha, es EVIDENCIA_ESTRUCTURADA. 2._CONTEXTO_GENERALUsa esta categoría cuando el mensaje NO requiera consultar el Excel y pueda responderse con información general institucional.Incluye preguntas como:Horarios de atención de edificios municipalesRequisitos para trámites (patentes, permisos, construcción, bienes inmuebles, etc.)Formas de pagoInformación sobre procedimientosContactos, correos, teléfonosExplicaciones generales del servicio de recolección (qué se recoge, tipos de residuos, normas)Mensajes sociales, saludos o agradecimientosRegla clave:Si la respuesta no depende de una zona específica ni de una fecha, es CONTEXTO_GENERAL.REGLAS CRÍTICAS DE DECISIÓNAnte la duda, prioriza EVIDENCIA_ESTRUCTURADA.Nunca intentes responder al usuario.No expliques tu decisión.No agregues texto adicional.No utilices conocimiento externo.Usa la conversación previa solo como contexto, no como fuente de datos.\n\nResponde únicamente con uno de los siguientes valores exactos, sin numeración ni texto adicional:\nEVIDENCIA_ESTRUCTURADA\nCONTEXTO_GENERAL"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        2352,
        256
      ],
      "id": "78d80349-e71b-4167-a9f6-24645e0e6dca",
      "name": "Clasificacion de Intecion"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Uagut0fE1BiGPv7mlgYn65K_pxbYJlBRnBO8NaguuYI",
          "mode": "list",
          "cachedResultName": "Horarios",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Uagut0fE1BiGPv7mlgYn65K_pxbYJlBRnBO8NaguuYI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2079801999,
          "mode": "list",
          "cachedResultName": "HORARIO RUTAS RECOLECCIÓN 2026",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Uagut0fE1BiGPv7mlgYn65K_pxbYJlBRnBO8NaguuYI/edit#gid=2079801999"
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        3664,
        320
      ],
      "id": "e4a20de1-e719-44c3-88eb-8f73311c0d07",
      "name": "HORARIOS",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NQmvWN9VKUchgLiU",
          "name": "RedtTec_Pedro"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "0ca39adb-eae6-4e30-8b0e-6bd45ff4f560",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1696,
        288
      ],
      "id": "6a3f7feb-a341-4bc1-bd5a-85063c5bce67",
      "name": "Webhook",
      "webhookId": "0ca39adb-eae6-4e30-8b0e-6bd45ff4f560"
    },
    {
      "parameters": {
        "content": "# Respuesta a Manychat\n",
        "height": 640,
        "width": 976,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5072,
        32
      ],
      "typeVersion": 1,
      "id": "6f7ef870-402a-4a1e-8b66-64b3c01e6698",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "056090e7-e907-441d-b5f2-ec7201919d7b",
              "name": "response",
              "value": "={{ $json.modified_text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5344,
        272
      ],
      "id": "7e1942b0-7ccd-426a-9d9b-ba5edf40e4e3",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.custom_fields.canal_ingreso }}",
                    "rightValue": "instagram",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "fd043c73-f19d-4676-bc57-2815392f809f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "INSTAGRAM"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1061380f-c95b-4aed-a993-a14d8a7d5aa7",
                    "leftValue": "={{ $('Webhook').item.json.body.custom_fields.canal_ingreso }}",
                    "rightValue": "messenger",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "MESSENGER"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "77529d38-5d3f-429c-9d4d-75952051461d",
                    "leftValue": "={{ $('Webhook').item.json.body.custom_fields.canal_ingreso }}",
                    "rightValue": "whatsapp",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "WHATSAPP"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        5568,
        256
      ],
      "id": "57529a59-6bf6-4ba6-9f77-199b09ce9082",
      "name": "SWITCH MEDIA"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/sending/sendContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"subscriber_id\": \"{{ $('Webhook').item.json.body.id }}\",\n  \"data\": {\n    \"version\": \"v2\",\n    \"content\": {\n      \"type\": \"messenger\",\n      \"messages\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"{{ $('Edit Fields5').item.json.response }}\"\n        }\n      ]\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5792,
        272
      ],
      "id": "2b6a0a3c-3292-4023-ab0b-57d56f8235ac",
      "name": "RESPOND TO MESSENGER - MANYCHAT",
      "credentials": {
        "httpHeaderAuth": {
          "id": "l5jz8MCMWKohqeIu",
          "name": "The Gut Media"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/sending/sendContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"subscriber_id\": \"{{ $('Webhook').item.json.body.id }}\",\n  \"data\": {\n    \"version\": \"v2\",\n    \"content\": {\n      \"type\": \"whatsapp\",\n      \"messages\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"{{ $('Edit Fields5').item.json.response }}\"\n        }\n      ]\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5792,
        464
      ],
      "id": "272711a9-622f-441d-b92e-278504acf297",
      "name": "RESPOND TO WHATSAPP - MANYCHAT",
      "credentials": {
        "httpHeaderAuth": {
          "id": "l5jz8MCMWKohqeIu",
          "name": "The Gut Media"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/sending/sendContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"subscriber_id\": \"{{ $('Webhook').item.json.body.id }}\",\n  \"data\": {\n    \"version\": \"v2\",\n    \"content\": {\n      \"type\": \"instagram\",\n      \"messages\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"{{ $('Edit Fields5').item.json.response }}\"\n        }\n      ]\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5776,
        96
      ],
      "id": "e3717ba3-9db6-43c1-b7d8-fef9ca6f1058",
      "name": "RESPOND TO INSTAGRAM- MANYCHAT",
      "credentials": {
        "httpHeaderAuth": {
          "id": "l5jz8MCMWKohqeIu",
          "name": "The Gut Media"
        }
      }
    },
    {
      "parameters": {
        "collection": "users",
        "options": {},
        "query": "={\"user_id\":\"{{ $('Webhook').item.json.body.id }}\"}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        4112,
        128
      ],
      "id": "70e9c8dc-e44d-4d21-b893-60fc09899e8e",
      "name": "Find user to UPD1",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "k7CZm1spT8xwInEc",
          "name": "MunicipialidadDB"
        }
      }
    },
    {
      "parameters": {
        "content": "# Actualizar ultimo mensaje del Agente\n",
        "height": 288,
        "width": 688,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4096,
        16
      ],
      "typeVersion": 1,
      "id": "ac2e092b-84ca-4f07-a604-b057b7770ca5",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nlet id = input.id;\nconst last_agent_message = input.last_agent_message;\n\n// Compatibilidad {$oid}\nif (typeof id === \"object\" && id !== null && id.$oid) {\n  id = id.$oid;\n}\n\n// Limpieza de comillas accidentales\nif (typeof id === \"string\") {\n  id = id.replace(/^\"+|\"+$/g, \"\");\n}\n\n// Validación estricta Mongo ObjectId\nif (!/^[a-fA-F0-9]{24}$/.test(id)) {\n  throw new Error(`_id inválido para MongoDB: ${id}`);\n}\n\nreturn [\n  {\n    json: {\n      _id: id,\n      last_agent_message,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4496,
        128
      ],
      "id": "c4f3afd9-2e31-4865-bbc6-3f64d2d14202",
      "name": "Data to Update Normalization3"
    },
    {
      "parameters": {
        "jsCode": "function prepareForHttp(text) {\n  if (text === null || text === undefined) return \"\";\n\n  return String(text)\n    .replace(/\\\\/g, \"\\\\\\\\\")      // Escapar barras invertidas primero\n    .replace(/\"/g, '\\\\\"')        // Escapar comillas dobles\n    .replace(/\\r\\n/g, \"\\\\n\")     // Primero \\r\\n (Windows)\n    .replace(/\\n/g, \"\\\\n\")       // Luego \\n (Unix/macOS)\n    .replace(/\\t/g, \"\\\\t\")       // Tabulaciones\n    .replace(/\\*\\*/g, \"*\")       // Eliminar doble asterisco\n    .trim();\n}\n\n// Tomar el input directo del nodo\nconst text = $input.first().json.last_agent_message;\n\nconst modified_text = prepareForHttp(text);\n\nreturn {\n  modified_text\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5120,
        272
      ],
      "id": "d237e7b8-ba66-4c23-abd1-42fbf714967b",
      "name": "Code2"
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "users",
        "updateKey": "=_id",
        "fields": "=last_agent_message",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        4672,
        128
      ],
      "id": "243da268-db00-417a-963a-516a7105283e",
      "name": "Update Last Agent Message1",
      "credentials": {
        "mongoDb": {
          "id": "YZqpxkc0ukl5vjFx",
          "name": "Bravante"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ece65064-8718-49c0-b68f-820b0729d54e",
              "name": "id",
              "value": "={{ $json._id }}",
              "type": "string"
            },
            {
              "id": "3823a508-e90a-4d6f-ab24-c8a6b142eb84",
              "name": "last_agent_message",
              "value": "={{ $('AI Agent Estructuras').item.json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4320,
        128
      ],
      "id": "593c487c-fc1a-4005-90f7-64c87c5ed7ff",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "collection": "users",
        "options": {},
        "query": "={\"user_id\":\"{{ $('Webhook').item.json.body.id }}\"}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        4128,
        480
      ],
      "id": "f2b6cf8e-d6f1-4ccd-a066-86788715166b",
      "name": "Find user to UPD",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "k7CZm1spT8xwInEc",
          "name": "MunicipialidadDB"
        }
      }
    },
    {
      "parameters": {
        "content": "# Actualizar ultimo mensaje del Agente\n",
        "height": 288,
        "width": 688,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4112,
        352
      ],
      "typeVersion": 1,
      "id": "f68968ce-d332-4f4d-ba55-b30358c152b8",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nlet id = input.id;\nconst last_agent_message = input.last_agent_message;\n\n// Compatibilidad {$oid}\nif (typeof id === \"object\" && id !== null && id.$oid) {\n  id = id.$oid;\n}\n\n// Limpieza de comillas accidentales\nif (typeof id === \"string\") {\n  id = id.replace(/^\"+|\"+$/g, \"\");\n}\n\n// Validación estricta Mongo ObjectId\nif (!/^[a-fA-F0-9]{24}$/.test(id)) {\n  throw new Error(`_id inválido para MongoDB: ${id}`);\n}\n\nreturn [\n  {\n    json: {\n      _id: id,\n      last_agent_message,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4512,
        480
      ],
      "id": "05759e4c-3fb8-4d75-b189-0818fcfd876e",
      "name": "Data to Update Normalization4"
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "users",
        "updateKey": "=_id",
        "fields": "=last_agent_message",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        4688,
        480
      ],
      "id": "c6cf9466-ac6e-40ef-af61-209db914e744",
      "name": "Update Last Agent Message",
      "credentials": {
        "mongoDb": {
          "id": "YZqpxkc0ukl5vjFx",
          "name": "Bravante"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ece65064-8718-49c0-b68f-820b0729d54e",
              "name": "id",
              "value": "={{ $json._id }}",
              "type": "string"
            },
            {
              "id": "3823a508-e90a-4d6f-ab24-c8a6b142eb84",
              "name": "last_agent_message",
              "value": "={{ $('AI Agent Conversacional').item.json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4336,
        480
      ],
      "id": "1d6f416c-71b1-4ebd-bb9a-521c29facc10",
      "name": "Edit Fields7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c8d7d4e4-32e0-45ee-8e53-ed6b96c84833",
              "name": "id",
              "value": "={{ $('Find user').item.json._id }}",
              "type": "string"
            },
            {
              "id": "b3b929bf-0969-4a91-867a-3ad7782d46f3",
              "name": "last_interaction",
              "value": "={{ $json.last_interaction }}",
              "type": "string"
            },
            {
              "id": "dc964abb-0de2-463d-91a4-6ea0b2c7da15",
              "name": "last_message",
              "value": "={{ $json.last_message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1792,
        192
      ],
      "id": "3754ae27-7733-46eb-aade-2b4e3c65138e",
      "name": "Campos"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1ceb367e-d9ce-4f8d-b1f5-540f1be76dae",
              "name": "last_agent_message",
              "value": "={{ $json.last_agent_message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4896,
        272
      ],
      "id": "52750ec3-22f7-4a39-ab26-c4bb022930e0",
      "name": "Edit Fields8"
    },
    {
      "parameters": {
        "model": "sonar-pro",
        "messages": {
          "message": [
            {
              "content": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message0_Text', ``, 'string') }}"
            }
          ]
        },
        "simplify": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify_Output', ``, 'boolean') }}",
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexityTool",
      "typeVersion": 1,
      "position": [
        3648,
        704
      ],
      "id": "ad32a39a-d8f5-47fe-841e-44f278cc616f",
      "name": "BUSQUEDA WEB",
      "credentials": {
        "perplexityApi": {
          "id": "vjfRok6qwbep4djO",
          "name": "Perplexity account"
        }
      }
    },
    {
      "parameters": {
        "model": "sonar-pro",
        "messages": {
          "message": [
            {
              "content": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message0_Text', ``, 'string') }}"
            }
          ]
        },
        "simplify": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify_Output', ``, 'boolean') }}",
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexityTool",
      "typeVersion": 1,
      "position": [
        3792,
        320
      ],
      "id": "b73345f3-5048-4c37-b06e-8a303962a21b",
      "name": "BUSQUEDA WEB1",
      "credentials": {
        "perplexityApi": {
          "id": "vjfRok6qwbep4djO",
          "name": "Perplexity account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Analyze image": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Body": {
      "main": [
        [
          {
            "node": "PARSE Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ES ARCHIVO": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "ES AUDIO / IMAGEN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ES AUDIO / IMAGEN": {
      "main": [
        [
          {
            "node": "HTTP ISAUDIO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP ISAUDIO": {
      "main": [
        [
          {
            "node": "TRANSCRIBE AUDIO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TRANSCRIBE AUDIO": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Pregunta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pregunta": {
      "main": [
        [
          {
            "node": "Find user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PARSE Body": {
      "main": [
        [
          {
            "node": "ES ARCHIVO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Find user to UPD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "MEMORIA DE RAG",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Conversacional",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Clasificacion de Intecion",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent Estructuras",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent Conversacional",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "AI Agent Estructuras",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Data to Update Normalization": {
      "main": [
        [
          {
            "node": "Update user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find user": {
      "main": [
        [
          {
            "node": "if_exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if_exists": {
      "main": [
        [
          {
            "node": "Campos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "user to create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update user": {
      "main": [
        [
          {
            "node": "Clasificacion de Intecion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert user": {
      "main": [
        [
          {
            "node": "Clasificacion de Intecion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "user to create": {
      "main": [
        [
          {
            "node": "Insert user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reranker Cohere1": {
      "ai_reranker": [
        [
          {
            "node": "MEMORIA DE RAG",
            "type": "ai_reranker",
            "index": 0
          }
        ]
      ]
    },
    "MEMORIA DE RAG": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Conversacional",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Conversacional": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent Conversacional",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "AI Agent Estructuras",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Estructuras": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clasificacion de Intecion": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Find user to UPD1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HORARIOS": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Estructuras",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Create Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "SWITCH MEDIA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SWITCH MEDIA": {
      "main": [
        [
          {
            "node": "RESPOND TO INSTAGRAM- MANYCHAT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RESPOND TO MESSENGER - MANYCHAT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RESPOND TO WHATSAPP - MANYCHAT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find user to UPD1": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data to Update Normalization3": {
      "main": [
        [
          {
            "node": "Update Last Agent Message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Last Agent Message1": {
      "main": [
        [
          {
            "node": "Edit Fields8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Data to Update Normalization3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find user to UPD": {
      "main": [
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data to Update Normalization4": {
      "main": [
        [
          {
            "node": "Update Last Agent Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "Data to Update Normalization4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Last Agent Message": {
      "main": [
        [
          {
            "node": "Edit Fields8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Campos": {
      "main": [
        [
          {
            "node": "Data to Update Normalization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields8": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BUSQUEDA WEB": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Conversacional",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "BUSQUEDA WEB1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Estructuras",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "4b10fbe2-fd48-4ea5-9b70-c2fcf5ee3fdc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d4ab02fb1ef8b6ca2c1c5c1f280ee696b0514d7d92cee5fb0da1784dbe393998"
  },
  "id": "7ooo1YenT5aGSw0o",
  "tags": []
}