Oakland Mall Bot DEMO.json
{
  "name": "Oakland Mall Bot DEMO",
  "nodes": [
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "text": "Eres un experto en describir imagenes para un chatbot responde lo que ves en la imagen de esta manera. \"El usuario envió una imagen etc...\"",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -656,
        -128
      ],
      "id": "65f536e8-72ee-4a55-bba8-ce65a7142cd6",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "tk8JD0kvueNt0zB2",
          "name": "Bravante"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const current_key = $input.first().json.body.key;\n\nconst current_body = $input.first().json.body;\n\nconst timestamp = new Date().toISOString();\n\nconst start_time = Date.now();\n\nconst result_body = {\n current_body,\n  timestamp\n}\n\nreturn [{\n  key: current_key,\n  body: JSON.stringify(result_body),\n  timestamp,\n  start_time\n}]\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2144,
        -128
      ],
      "id": "18e224de-e339-4e89-b5ba-8909e66a623b",
      "name": "Create Body"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "92200249-f6e4-4f84-bd28-bc36de22beb3",
              "leftValue": "={{ $('PARSE Body').item.json.current_body.last_input_text }}",
              "rightValue": "https://manybot-files",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "b5bd48d1-851e-43bc-a097-e16c0dcca59c",
              "leftValue": "={{ $('PARSE Body').item.json.current_body.last_input_text }}",
              "rightValue": "https://lookaside.fbsbx.com",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1552,
        -128
      ],
      "id": "f14b8bc1-9ab1-4c7c-b099-d6d6c32f3951",
      "name": "ES ARCHIVO"
    },
    {
      "parameters": {
        "url": "={{ $json.current_body.last_input_text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1328,
        -240
      ],
      "id": "d3c84fd4-703a-4f75-a2e8-c749c1988209",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "92200249-f6e4-4f84-bd28-bc36de22beb3",
              "leftValue": "={{ $('HTTP Request').item.binary.data.mimeType }}",
              "rightValue": "audio/ogg",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "b5bd48d1-851e-43bc-a097-e16c0dcca59c",
              "leftValue": "={{ $('HTTP Request').item.binary.data.mimeType }}",
              "rightValue": "video/mp4",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1104,
        -240
      ],
      "id": "84db82d0-9db2-4b4d-a066-ae4befec0e0d",
      "name": "ES AUDIO / IMAGEN"
    },
    {
      "parameters": {
        "url": "={{ $json.current_body.last_input_text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -880,
        -336
      ],
      "id": "1266c6a8-1a35-432f-8151-bc8763b674fe",
      "name": "HTTP ISAUDIO"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -656,
        -336
      ],
      "id": "885154e8-a685-4ad6-938c-e879cfc9452d",
      "name": "TRANSCRIBE AUDIO",
      "credentials": {
        "openAiApi": {
          "id": "tk8JD0kvueNt0zB2",
          "name": "Bravante"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ea8c9284-e11f-4e87-a742-4392a692da2a",
              "name": "mensaje",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "1f2fe528-cff0-4713-9dcb-4221b508c597",
              "name": "hora_llegada",
              "value": "={{ $json.timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -432,
        -336
      ],
      "id": "c3ae3acb-71e0-45ec-818f-ead6cf4c149b",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ea8c9284-e11f-4e87-a742-4392a692da2a",
              "name": "mensaje",
              "value": "={{ $json.content }}",
              "type": "string"
            },
            {
              "id": "1f2fe528-cff0-4713-9dcb-4221b508c597",
              "name": "hora_llegada",
              "value": "={{ $json.timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -432,
        -128
      ],
      "id": "9c1ed233-2e35-45d5-9b77-28b253987985",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ea8c9284-e11f-4e87-a742-4392a692da2a",
              "name": "mensaje",
              "value": "={{ $json.current_body.last_input_text }}",
              "type": "string"
            },
            {
              "id": "1f2fe528-cff0-4713-9dcb-4221b508c597",
              "name": "hora_llegada",
              "value": "={{ $json.timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -432,
        64
      ],
      "id": "1b119ff5-8986-48fc-b484-cbb12a2d6be7",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "hora_llegada"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        16,
        -128
      ],
      "id": "400b78d3-790b-456f-b088-75d0dc804bdd",
      "name": "Sort"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "mensaje"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        208,
        -128
      ],
      "id": "9399bba1-6e20-499c-9bad-337f08f0f958",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1c4c388-e572-4502-9cf1-51d28b4d022d",
              "name": "input",
              "value": "={{ $json.mensaje.join(\" \") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        -128
      ],
      "id": "2abb1208-110a-4703-9e6f-66b75b58664d",
      "name": "Pregunta"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ JSON.parse($json.body) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1920,
        -128
      ],
      "id": "05969503-a19f-4a8b-9b23-7206c350d0b1",
      "name": "PARSE Body"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "mall",
          "mode": "list",
          "cachedResultName": "mall"
        },
        "embeddingBatchSize": 64,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        2768,
        496
      ],
      "id": "8899b420-5c73-4967-b4c5-4711fef24bd3",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "QunwrSLgolKu0s6h",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        2960,
        736
      ],
      "id": "109bca62-ef8d-4a18-bd2c-8a6e6ad5a025",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 700,
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        3072,
        928
      ],
      "id": "e3b75892-56de-4402-a104-05b58e45a1a5",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b3346a93-1369-4bcc-adb0-6266e767b251",
              "name": "id",
              "value": "={{ $json.message.chat.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2048,
        -288
      ],
      "id": "828f09a1-3099-4c2f-92f9-539cc492c34c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "content": "## RAG FUNCIONAL LOCAL EN TELEGRAM",
        "height": 1472,
        "width": 1712
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1552,
        -352
      ],
      "typeVersion": 1,
      "id": "6486a36b-5061-4756-9c97-21541a556643",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "modelName": "embed-multilingual-v3.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        2672,
        704
      ],
      "id": "e714e2eb-f5b5-475b-b146-22b8e8ec6258",
      "name": "Embeddings Cohere",
      "credentials": {
        "cohereApi": {
          "id": "ijq4l9FO7z50cukk",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1872,
        496
      ],
      "id": "2b3af24d-89cd-4389-b348-909b569ff8a1",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Ni4W20gDcaTapqfh",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1rlGCjuRUbZE6OIZVUm3KUEcjoeiYPHqB",
          "mode": "list",
          "cachedResultName": "Demo Oakland Mall",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1rlGCjuRUbZE6OIZVUm3KUEcjoeiYPHqB"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        1680,
        496
      ],
      "id": "56df5420-bb80-488b-b314-365483a3b7e5",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Ni4W20gDcaTapqfh",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        2080,
        496
      ],
      "id": "a7db93d3-aea5-456c-a034-f4f6e232e5e0",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "content": "## TRANSFORMACION Y CARGA DE DOCUMENTOS",
        "height": 656,
        "width": 1568,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1632,
        384
      ],
      "typeVersion": 1,
      "id": "bc2d3d3a-590b-4cc4-80d4-78429b46b9a5",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e974e86a-1929-47df-a42b-f62aef1a10a3",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2368,
        -128
      ],
      "id": "763e9468-5bf1-4b18-af8d-29ff1d3efbf6",
      "name": "Webhook",
      "webhookId": "e974e86a-1929-47df-a42b-f62aef1a10a3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/sending/sendContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"subscriber_id\": \"{{ $('Campos de usuario').item.json.user_id }}\",\n  \"data\": {\n    \"version\": \"v2\",\n    \"content\": {\n      \"type\": \"instagram\",\n      \"messages\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"{{ $('Respuesta').item.json.response }}\"\n        }\n      ]\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2608,
        -336
      ],
      "id": "78cbbb0f-ba04-419f-924c-bf61ce57f5e2",
      "name": "HTTP Request5",
      "credentials": {
        "httpHeaderAuth": {
          "id": "2KClojasxcPLSibd",
          "name": "Manychat"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('PARSE Body').item.json.current_body.custom_fields.canal_ingreso }}",
                    "rightValue": "Instagram",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "fd043c73-f19d-4676-bc57-2815392f809f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "INSTAGRAM"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1061380f-c95b-4aed-a993-a14d8a7d5aa7",
                    "leftValue": "={{ $('PARSE Body').item.json.current_body.custom_fields.canal_ingreso }}",
                    "rightValue": "Messenger",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "MESSENGER"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "77529d38-5d3f-429c-9d4d-75952051461d",
                    "leftValue": "={{ $('PARSE Body').item.json.current_body.custom_fields.canal_ingreso }}",
                    "rightValue": "WhatsApp",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "WHATSAPP"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2384,
        -160
      ],
      "id": "677b566f-fdd5-4c79-894f-a15c9e8dd112",
      "name": "SWITCH MEDIA"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/sending/sendContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"subscriber_id\": \"{{ $('Webhook').item.json.body.id }}\",\n  \"data\": {\n    \"version\": \"v2\",\n    \"content\": {\n      \"type\": \"messenger\",\n      \"messages\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"{{ $json.modified_text }}\"\n        }\n      ]\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2608,
        -144
      ],
      "id": "e096d1dd-a3b9-4161-b34c-512d98415c07",
      "name": "HTTP Request8",
      "credentials": {
        "httpHeaderAuth": {
          "id": "2KClojasxcPLSibd",
          "name": "Manychat"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/sending/sendContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"subscriber_id\": \"{{ $('Campos de usuario').item.json.user_id }}\",\n  \"data\": {\n    \"version\": \"v2\",\n    \"content\": {\n      \"type\": \"whatsapp\",\n      \"messages\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"{{ $('Respuesta').item.json.response }}\"\n        }\n      ]\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2608,
        48
      ],
      "id": "c1c6eae4-4da0-4c27-96cb-421b5684674e",
      "name": "HTTP Request9",
      "credentials": {
        "httpHeaderAuth": {
          "id": "2KClojasxcPLSibd",
          "name": "Manychat"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function prepareForHttp(text) {\n  if (text === null || text === undefined) return \"\";\n\n  return String(text)\n    .replace(/\\\\/g, \"\\\\\\\\\")     // Escapar barras invertidas primero\n    .replace(/\"/g, '\\\\\"')       // Escapar comillas dobles\n    .replace(/\\r\\n/g, \"\\\\n\")    // Saltos Windows\n    .replace(/\\n/g, \"\\\\n\")      // Saltos Unix\n    .replace(/\\t/g, \"\\\\t\")      // Tabulaciones\n    .replace(/\\*\\*/g, \"*\")      // Eliminar doble asterisco\n    .trim();\n}\n\n// Obtiene el input correctamente aunque venga como array\nconst incoming = $('AI Agent').first().json;\n\n// Si viene como array de objetos\nlet text = \"\";\n\nif (Array.isArray(incoming) && incoming[0]?.response) {\n  text = incoming[0].response;\n} else if (incoming.response) {\n  text = incoming.response;\n} else if (incoming.output) {\n  text = incoming.output;\n}\n\nconst modified_text = prepareForHttp(text);\n\nreturn { modified_text };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2256,
        -144
      ],
      "id": "90a2c842-708c-49a6-9799-3246905abe23",
      "name": "Code"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Mensaje del Usuario: {{ $('Pregunta').item.json.input }}",
        "options": {
          "systemMessage": "Eres el Agente Virtual Oficial de Oakland Place, un centro comercial en Guatemala.\n\n-SIEMPRE DEBES USAR  LA HERRAMIENTA \"MEMORIA DE RAG\" PARA RESPONDER CORRECTAMENTE TODO\n-SIEMPRE DEBES ESPERAR LA RESPUESTA DE LA HERRAMIENTA \"MEMORIA DE RAG\"  ANTES DE RESPONDER\nTu función es responder preguntas de visitantes utilizando exclusivamente la información proporcionada por el TOOL, que contiene locales, tiendas, restaurantes, amenidades, servicios, tarifas e información general, etc. USA TOOL PARA RESPONDER TODAS LAS PREGUNTAS, SIEMPRE PERO SIEMPRE\n\nNo tienes permitido responder nada sin haber consultado el Tool antes.\n\n🟥 REGLA OBLIGATORIA (CRÍTICA)\n⚠️ ANTES DE GENERAR CUALQUIER RESPUESTA, DEBES CONSULTAR OBLIGATORIAMENTE EL TOOL.\n\n✔ SIMPRE CONSULTA EL TOOL.\n✔ Luego genera la respuesta.\n✘ Nunca respondas usando conocimiento previo o intuición.\n✘ Nunca omitas la consulta.\n\n\n🟩 Reglas Generales\n📌 Fuente Única de Información\n\nToda consulta sobre tiendas, restaurantes, amenities, servicios y tarifas  de parqueo debe consultarse en el Tool antes de responder.\nNo inventes datos. No uses información externa. NO RESPONDAS SIN CONSULTAR LA TOOL ANTES\n\n📌 Idioma\n\nResponde en el mismo idioma que \"Mensaje del Usuario\"\n\n📌 Saludos\n\nSolo saluda si el usuario inicia con un saludo.\n\n📌 Si algo no existe\n\nCuando un local/servicio no aparece en el Tool:\n👉 “Este local no aparece en la lista oficial.”\n\n📌 Horario general\n\nPara cualquier local existente:\n👉 10:00 a 20:00 — todos los días\n\n🟩 Consultas de Disponibilidad\n\nCuando pregunten:\n“¿Tienes X?”, “¿Hay X?”, “¿Dónde está X?”, “¿Venden X?”, etc.\n\nBuscar X en el Tool.\n\nSi existe, responder con:\n\nNombre\n\nCategoría\n\nPiso\n\nHorario general\n\nInformación adicional del Tool\n\nSi NO aparece:\n👉 “Este local no aparece en la lista oficial.”\n\nNunca respondas estos casos sin consultar el Tool primero.\n\n🟩 Tarifas y Parqueo\n\nSi el usuario pregunta por precios, tarifas o costo del parking:\n\nConsulta obligatoria al Tool\n\nSi no existe registro:\n👉 “La tarifa no se encuentra en la información oficial.”\n\n🟩 Tono del Agente\n\nAmable\n\nClaro\n\nProfesional\n\nBreve\n\nÚtil\n\nBasado exclusivamente en datos del Tool\n\n🟥 Prohibiciones Absolutas\n\n❌ Responder sin consultar el Tool\n❌ Inventar información\n❌ Usar conocimiento externo\n❌ Completar datos no presentes\n❌ Suponer categorías, ubicaciones o precios\n❌ Alterar datos oficiales\n\n🟦 Flujo Correcto (OBLIGATORIO)\n\n1️⃣ Consultar Tool\n2️⃣ Analizar datos devueltos\n3️⃣ Responder usando solo esos datos\n\nCualquier respuesta generada sin este flujo es incorrecta."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1824,
        -144
      ],
      "id": "442a656b-22be-4c1f-82ad-9bbfcc417341",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1808,
        256
      ],
      "id": "01d08080-9b46-4c7f-a906-b84f3d9e4920",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "LtzIKoi61tZvaeua",
          "name": "Vectorizer Agent - Knowledge Bases"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1648,
        48
      ],
      "id": "e53dad61-c704-4b76-b327-d8b65c4c9cc1",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "LtzIKoi61tZvaeua",
          "name": "Vectorizer Agent - Knowledge Bases"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.key }}",
        "collectionName": "chat_histories",
        "databaseName": "OaklandDB",
        "contextWindowLength": 2
      },
      "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
      "typeVersion": 1,
      "position": [
        1792,
        48
      ],
      "id": "28701ee8-50f4-41fd-95ce-cbaaa73370c0",
      "name": "MongoDB Chat Memory",
      "credentials": {
        "mongoDb": {
          "id": "lDGKMXGVj40zzkm3",
          "name": "Oakland"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const id = $(\"Find user\").first().json._id;\nconst last_interaction = new Date($(\"Create Body\").item.json.timestamp);\nconst last_message = $(\"Webhook\").item.json.body.last_input_text;\n\n// Si viene como objeto con $oid\nif (typeof id === \"object\" && id !== null && id.$oid) {\n  return [{ json: { _id: id.$oid } }];\n}\n// Si ya es una cadena\nelse if (typeof id === \"string\") {\n  return [\n    {\n      json: {\n        _id: id,\n        last_interaction: last_interaction,\n        last_message: last_message,\n      },\n    },\n  ];\n}\n// Si es otro tipo (poco común), conviértelo a string\nelse {\n  return [\n    {\n      json: {\n        _id: String(id),\n        last_interaction: last_interaction,\n        last_message: last_message,\n      },\n    },\n  ];\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        -224
      ],
      "id": "e54c000a-ce52-4053-be29-d92de6038163",
      "name": "Data to Update Normalization"
    },
    {
      "parameters": {
        "content": "## Actualizar ultimo mensaje del Usuario\n",
        "height": 496,
        "width": 464,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1056,
        -304
      ],
      "typeVersion": 1,
      "id": "64ca6f68-310e-4531-be10-84c1de0a2280",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "collection": "users",
        "options": {},
        "query": "={\"user_id\":\"{{ $('Webhook').item.json.body.id }}\"}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        688,
        -128
      ],
      "id": "bc19d051-8da5-4d7d-851f-a470e468ef06",
      "name": "Find user",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "k7CZm1spT8xwInEc",
          "name": "MunicipialidadDB"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "06a3df45-ba51-4622-924a-2fb0f33049af",
              "leftValue": "={{ $json.user_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        912,
        -128
      ],
      "id": "15a4638a-c554-43d1-a2f3-fa7d125a1c8f",
      "name": "if_exists"
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "users",
        "updateKey": "=_id",
        "fields": "last_interaction,last_message",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        1360,
        -224
      ],
      "id": "790df7c0-0ae0-45c0-9531-5f98328129e4",
      "name": "Update user",
      "credentials": {
        "mongoDb": {
          "id": "k7CZm1spT8xwInEc",
          "name": "MunicipialidadDB"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "users",
        "fields": "user_id,name,last_interaction,first_interaction,last_message,has_reservation,input_channel,last_agent_message",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        1360,
        -32
      ],
      "id": "24a370aa-7974-42ec-afc7-b9c103a04fbc",
      "name": "Insert user",
      "credentials": {
        "mongoDb": {
          "id": "k7CZm1spT8xwInEc",
          "name": "MunicipialidadDB"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "77c38aac-532c-4334-8544-318697e36aad",
              "name": "user_id",
              "value": "={{ $('Webhook').item.json.body.id }}",
              "type": "string"
            },
            {
              "id": "30b4fb52-776f-4488-8ccd-56568597d17d",
              "name": "name",
              "value": "={{ $('Webhook').item.json.body.name }}",
              "type": "string"
            },
            {
              "id": "7459d3db-c3bc-447c-a366-c8a44db163b4",
              "name": "last_interaction",
              "value": "={{ new Date($('Create Body').item.json.timestamp) }}",
              "type": "object"
            },
            {
              "id": "bdf75099-fe0f-492f-803a-0b8ef340fcd8",
              "name": "first_interaction",
              "value": "={{ new Date($('Create Body').item.json.timestamp) }}",
              "type": "object"
            },
            {
              "id": "e777e0a0-6ee5-466a-a4f6-4106928bc239",
              "name": "last_message",
              "value": "={{ $('Webhook').item.json.body.last_input_text }}",
              "type": "string"
            },
            {
              "id": "5a4f1121-73cb-4db9-b471-f3135889d3d7",
              "name": "has_reservation",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "2c95e78b-1439-4e4e-8d98-a14f777705e8",
              "name": "input_channel",
              "value": "={{ $('Webhook').item.json.body.custom_fields.canal_ingreso }}",
              "type": "string"
            },
            {
              "id": "472723eb-b516-433e-a163-37618b27b808",
              "name": "last_agent_message",
              "value": "",
              "type": "string"
            },
            {
              "id": "6150cd9b-11a1-4762-b6af-ae54dccba619",
              "name": "interest",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1136,
        -32
      ],
      "id": "fc642220-68c6-4752-81ab-3f8884886948",
      "name": "user to create"
    },
    {
      "parameters": {
        "modelName": "rerank-multilingual-v3.0"
      },
      "type": "@n8n/n8n-nodes-langchain.rerankerCohere",
      "typeVersion": 1,
      "position": [
        1920,
        240
      ],
      "id": "4c6d108b-a150-467b-9fc9-b980e44819a7",
      "name": "Reranker Cohere1",
      "credentials": {
        "cohereApi": {
          "id": "ijq4l9FO7z50cukk",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Vectorizado de Oakland",
        "mongoCollection": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "embedding": "oakland_embedding",
        "vectorIndexName": "vector_index",
        "topK": 5,
        "includeDocumentMetadata": false,
        "useReranker": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreMongoDBAtlas",
      "typeVersion": 1.3,
      "position": [
        1920,
        16
      ],
      "id": "cbb83d3a-080d-44d5-a6bd-40755cbd7f06",
      "name": "MEMORIA DE RAG",
      "credentials": {
        "mongoDb": {
          "id": "lDGKMXGVj40zzkm3",
          "name": "Oakland"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Analyze image": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Body": {
      "main": [
        [
          {
            "node": "PARSE Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ES ARCHIVO": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "ES AUDIO / IMAGEN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ES AUDIO / IMAGEN": {
      "main": [
        [
          {
            "node": "HTTP ISAUDIO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP ISAUDIO": {
      "main": [
        [
          {
            "node": "TRANSCRIBE AUDIO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TRANSCRIBE AUDIO": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Pregunta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PARSE Body": {
      "main": [
        [
          {
            "node": "ES ARCHIVO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "Embeddings Cohere": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Create Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pregunta": {
      "main": [
        [
          {
            "node": "Find user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SWITCH MEDIA": {
      "main": [
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "SWITCH MEDIA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "MEMORIA DE RAG",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data to Update Normalization": {
      "main": [
        [
          {
            "node": "Update user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find user": {
      "main": [
        [
          {
            "node": "if_exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if_exists": {
      "main": [
        [
          {
            "node": "Data to Update Normalization",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "user to create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "user to create": {
      "main": [
        [
          {
            "node": "Insert user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update user": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert user": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reranker Cohere1": {
      "ai_reranker": [
        [
          {
            "node": "MEMORIA DE RAG",
            "type": "ai_reranker",
            "index": 0
          }
        ]
      ]
    },
    "MEMORIA DE RAG": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9ae92738-3bb3-48cc-83e0-83761f64f60d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d4ab02fb1ef8b6ca2c1c5c1f280ee696b0514d7d92cee5fb0da1784dbe393998"
  },
  "id": "awByyJfYEGmPxQWE",
  "tags": [
    {
      "updatedAt": "2025-09-01T16:22:25.265Z",
      "createdAt": "2025-09-01T16:22:25.265Z",
      "id": "L4GrnzNHlImw090p",
      "name": "EN PROCESO"
    }
  ]
}