RECORDATORIO CITA.json
{
  "name": "RECORDATORIO CITA",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=ULTIMO MENSAJE DEL USUARIO: {{ $json.last_message }}\n\nULTIMO MENSAJE DEL AGENTE:{{ $json.last_agent_message }}",
        "options": {
          "systemMessage": "Eres un asistente del proyecto residencial Parque Verde, encargada de enviar recordatorios y mantener contacto con clientes que ya agendaron una visita.\n\nTask:\nEnvía un mensaje breve (una o dos oraciones) recordando de forma cordial la visita o reservación del cliente.\nPuedes incluir pequeños detalles (día, hora, torre o tipo de unidad) solo si aparecen en el contexto.\n\n\nRestricciones:\n\nNo inventes fechas ni información no confirmada.\n\nNo repitas mensajes de ayuda ni cierres innecesarios.\n\nMantén tono profesional, cercano y natural.\n\nNo seas repetitivo con respecto al \"ULTIMO MENSAJE DEL AGENTE\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        688,
        -16
      ],
      "id": "e16ad982-9a6b-4513-ac4d-13a2c5c7983e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "21a0028f-8179-4785-bdb8-d386147a760c",
              "leftValue": "={{ $json.has_reservation }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        480,
        608
      ],
      "id": "c96015d1-b8fc-408e-b1c7-10deb4a778e3",
      "name": "If1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=ULTIMO MENSAJE DEL USUARIO:{{ $('Campos de usuario').item.json.last_message }} \n\nULTIMO MENSAJE DEL AGENTE:{{ $('Campos de usuario').item.json.last_agent_message }}",
        "options": {
          "systemMessage": "Eres un asistente conversacional profesional del proyecto residencial Parque Vista Verde, ubicado en Guatemala. Atiendes potenciales clientes que estan interesados en conocer o reservar. Tu OBJETIVO ES UNICAMENTE saber por que el usuario no realizo una cita aun o recordarles que lo hagan\n\nContexto:\nEste usuario no tiene una reservación registrada. El objetivo es detectar su interés, reactivar la conversación y ofrecer apoyo natural para agendar una visita.\n\nTask:\nEscribe una respuesta corta (una o dos oraciones máximo) en el mismo idioma del cliente, donde:\n\nMuestras empatía y cercanía.\n\nNo inventas detalles de reservas.\n\nPreguntas de manera amable si desea hacer una reservación o conocer más del proyecto.\n\nRestricciones:\n\nNo inventes nombres, fechas ni detalles del proyecto.\n\nNo digas “si necesitas algo avísame” ni “estoy para ayudarte”.\n\nNo uses tono robótico ni formal excesivo.\n\nNo agregues saludos ni firmas.\n\nNo seas repetitivo con respecto al \"ULTIMO MENSAJE DEL AGENTE\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        640,
        624
      ],
      "id": "ae6b29d2-aca0-44b1-9a73-6623980c3698",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/sending/sendContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"subscriber_id\": \"{{ $('Campos de usuario').item.json.user_id }}\",\n  \"data\": {\n    \"version\": \"v2\",\n    \"content\": {\n      \"type\": \"instagram\",\n      \"messages\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"{{ $('Respuesta').item.json.response }}\"\n        }\n      ]\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1872,
        16
      ],
      "id": "f7b4fb1c-c65e-4887-b8d0-756a4dd697ed",
      "name": "HTTP Request5",
      "credentials": {
        "httpHeaderAuth": {
          "id": "2KClojasxcPLSibd",
          "name": "Manychat"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Campos de usuario').item.json.canal }}",
                    "rightValue": "Instagram",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "fd043c73-f19d-4676-bc57-2815392f809f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "INSTAGRAM"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1061380f-c95b-4aed-a993-a14d8a7d5aa7",
                    "leftValue": "={{ $('Campos de usuario').item.json.canal }}",
                    "rightValue": "Messenger",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "MESSENGER"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "77529d38-5d3f-429c-9d4d-75952051461d",
                    "leftValue": "={{ $('Campos de usuario').item.json.canal }}",
                    "rightValue": "WhatsApp",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "WHATSAPP"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1648,
        192
      ],
      "id": "3b5edf8c-dff6-4af2-99d9-0db3117b5c59",
      "name": "SWITCH MEDIA"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/sending/sendContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"subscriber_id\": \"{{ $('Campos de usuario').item.json.user_id }}\",\n  \"data\": {\n    \"version\": \"v2\",\n    \"content\": {\n      \"type\": \"messenger\",\n      \"messages\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"{{ $('Respuesta').item.json.response }}\"\n        }\n      ]\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1872,
        208
      ],
      "id": "9bcaf6f7-b606-4363-9b2c-ab1ff235bcca",
      "name": "HTTP Request8",
      "credentials": {
        "httpHeaderAuth": {
          "id": "2KClojasxcPLSibd",
          "name": "Manychat"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/sending/sendContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"subscriber_id\": \"{{ $('Campos de usuario').item.json.user_id }}\",\n  \"data\": {\n    \"version\": \"v2\",\n    \"content\": {\n      \"type\": \"whatsapp\",\n      \"messages\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"{{ $('Respuesta').item.json.response }}\"\n        }\n      ]\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1872,
        400
      ],
      "id": "69c57f84-0302-482f-bf98-a87e3df83da8",
      "name": "HTTP Request9",
      "credentials": {
        "httpHeaderAuth": {
          "id": "2KClojasxcPLSibd",
          "name": "Manychat"
        }
      }
    },
    {
      "parameters": {
        "collection": "users",
        "options": {},
        "query": "={\"user_id\":\"{{ $('Campos de usuario').item.json.user_id }}\"}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        1424,
        208
      ],
      "id": "2a36197d-426d-47e1-92b3-0275f853cc55",
      "name": "Find user to UPD",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "k7CZm1spT8xwInEc",
          "name": "MunicipialidadDB"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=user:{{ $('Campos de usuario').item.json.user_id }}",
        "collectionName": "chat_histories",
        "databaseName": "ParqueVerde",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
      "typeVersion": 1,
      "position": [
        1152,
        736
      ],
      "id": "aeaf8b4a-49d0-4607-8cc6-02a1ad1b1326",
      "name": "MongoDB Chat Memory",
      "credentials": {
        "mongoDb": {
          "id": "k7CZm1spT8xwInEc",
          "name": "MunicipialidadDB"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        480,
        944
      ],
      "id": "87bf9714-9a87-480f-8a1a-820baea01bfd",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "mwtQQFLfYjj6JZcg",
          "name": "Spectrum - Parque Verde"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1040,
        128
      ],
      "id": "b110153b-91d1-414c-982f-eae51004e762",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        2112,
        480
      ],
      "id": "432bcb79-2c1d-4c2f-af53-8da79cec1648"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9828915f-6351-43f8-8af4-7b19615eca7d",
              "leftValue": "={{ $json.has_reservation }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -688,
        144
      ],
      "id": "1920fcf9-7c34-481b-981c-3c44e8d090a7",
      "name": "If HAS_RESERVATION"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "861a9a13-81d6-42f5-ac0a-e2026410c28f",
              "name": "id",
              "value": "={{ $json._id }}",
              "type": "string"
            },
            {
              "id": "3e878d4d-d65f-4c7f-8116-487db6f80eff",
              "name": "user_id",
              "value": "={{ $json.user_id }}",
              "type": "string"
            },
            {
              "id": "f2d26636-06a1-4080-a257-01cce1f2eb17",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "3aaaf863-97af-4552-8512-77877f4c9db3",
              "name": "last_interaction",
              "value": "={{ $json.last_interaction }}",
              "type": "string"
            },
            {
              "id": "c4e4b129-eaaa-457b-bd5b-37a5a6317dc9",
              "name": "has_reservation",
              "value": "={{ $json.has_reservation }}",
              "type": "boolean"
            },
            {
              "id": "3de47651-c3c2-45ba-ba96-8793b4fe20f7",
              "name": "last_message",
              "value": "={{ $json.last_message }}",
              "type": "string"
            },
            {
              "id": "6b9580d8-63cc-4d79-b850-131fceaec1ed",
              "name": "last_agent_message",
              "value": "={{ $json.last_agent_message }}",
              "type": "string"
            },
            {
              "id": "fe2aff0f-8b18-4f28-9f12-7ecfc868f65a",
              "name": "canal",
              "value": "={{ $json.input_channel }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -816,
        144
      ],
      "id": "fe2e4dd5-3417-4002-80a9-489692d949f0",
      "name": "Campos de usuario"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=ULTIMO MENSAJE DEL USUARIO:{{ $json.last_message }}. \nINTECION DEL USUARIO: {{ $json.has_reservation }}",
        "messages": {
          "messageValues": [
            {
              "message": "Tu tarea es determinar si el último mensaje del usuario indica interés en una reservación.  \nDebes responder ÚNICAMENTE en formato JSON válido, sin texto adicional, sin comillas externas ni bloques de código.  \n\nEl parámetro `last_message` NUNCA DEBE CAMBIARSE.  \n\nResponde exactamente así, como este EJEMPLO:\n\n{\n  \"has_reservation\": true,\n  \"last_message\": \"quiero reservar\"\n}\n\nEjemplo de salida esperada (sin ``` ni texto adicional).\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -80,
        528
      ],
      "id": "f260ad2e-3cfa-4b33-bf55-78a2413ba8fd",
      "name": "Verificar Reservacion"
    },
    {
      "parameters": {
        "jsCode": "// Obtenemos el texto que devolvió el modelo\nconst text = $json[\"text\"];\n\n// Si es un array (como a veces devuelve el LLM), lo manejamos\nlet raw = text;\nif (Array.isArray($json) && $json[0]?.text) {\n  raw = $json[0].text;\n}\n\n// Eliminamos posibles backticks, etiquetas y espacios\nconst cleaned = raw\n  .replace(/```json/g, \"\")\n  .replace(/```/g, \"\")\n  .trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  throw new Error(\"Error al parsear el JSON: \" + e.message + \"\\nTexto recibido:\\n\" + cleaned);\n}\n\n// Retorna el objeto JSON limpio para el siguiente nodo\nreturn parsed;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        608
      ],
      "id": "2313d5fe-5517-4db5-911e-9bef852ce96e",
      "name": "Parsear Respuesta de LLM"
    },
    {
      "parameters": {
        "jsCode": "function prepareForHttp(text) {\n  if (text === null || text === undefined) return \"\";\n\n  return String(text)\n    .replace(/\\\\/g, \"\\\\\\\\\")      // Escapar barras invertidas primero\n    .replace(/\"/g, '\\\\\"')        // Escapar comillas dobles\n    .replace(/\\r\\n/g, \"\\\\n\")     // Primero \\r\\n (Windows)\n    .replace(/\\n/g, \"\\\\n\")       // Luego \\n (Unix/macOS)\n    .replace(/\\t/g, \"\\\\t\")       // Tabulaciones\n    .replace(/\\*\\*/g, \"*\")       // Eliminar doble asterisco\n    .trim();\n}\n\nconst text = $('AI Agent1').first().json.output;\n\nconst modified_text = prepareForHttp(text);\n\nreturn {modified_text};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        592
      ],
      "id": "b924f3de-8aa6-4adb-97ec-721178c4f5a1",
      "name": "Parsear Respuesta Agente"
    },
    {
      "parameters": {
        "jsCode": "function prepareForHttp(text) {\n  if (text === null || text === undefined) return \"\";\n\n  return String(text)\n    .replace(/\\\\/g, \"\\\\\\\\\")      // Escapar barras invertidas primero\n    .replace(/\"/g, '\\\\\"')        // Escapar comillas dobles\n    .replace(/\\r\\n/g, \"\\\\n\")     // Primero \\r\\n (Windows)\n    .replace(/\\n/g, \"\\\\n\")       // Luego \\n (Unix/macOS)\n    .replace(/\\t/g, \"\\\\t\")       // Tabulaciones\n    .replace(/\\*\\*/g, \"*\")       // Eliminar doble asterisco\n    .trim();\n}\n\nconst text = $('AI Agent').first().json.output;\n\nconst modified_text = prepareForHttp(text);\n\nreturn {modified_text};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        -16
      ],
      "id": "4adcca28-b7cc-4740-a619-7e94b16517ee",
      "name": "Parsear Respuesta Agente1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "056090e7-e907-441d-b5f2-ec7201919d7b",
              "name": "response",
              "value": "={{ $json.modified_text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1152,
        304
      ],
      "id": "2a1ce4a5-2236-4285-83de-618f8bad1423",
      "name": "Respuesta"
    },
    {
      "parameters": {
        "content": "## Obtener Datos de Usuarios e Iterar",
        "height": 240,
        "width": 640
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1328,
        64
      ],
      "typeVersion": 1,
      "id": "cb01a802-7f1c-4697-94a5-c69c71fdbd9a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "collection": "users",
        "options": {},
        "query": "{\n}\n"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -1264,
        128
      ],
      "id": "290c0d83-89ef-4064-85ab-e2d2c3382a33",
      "name": "Find Users and Documents",
      "credentials": {
        "mongoDb": {
          "id": "k7CZm1spT8xwInEc",
          "name": "MunicipialidadDB"
        }
      }
    },
    {
      "parameters": {
        "content": "## Respuesta Segun Intencion",
        "height": 1120,
        "width": 1088,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        256,
        -160
      ],
      "typeVersion": 1,
      "id": "05ea0aff-4819-418a-b010-397e4b6ee791",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Responder al Usuario",
        "height": 592,
        "width": 528,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1568,
        0
      ],
      "typeVersion": 1,
      "id": "26ede073-0936-406a-806c-ca6f05a830ed",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -304,
        -112
      ],
      "id": "864cad0b-b2b9-4da9-91b4-466de97afb2f",
      "name": "Date & Time"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me1",
      "typeVersion": 1,
      "position": [
        80,
        144
      ],
      "id": "ef366d99-be67-49ca-80a6-445544ef0183"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e7430bbb-fe76-494e-b905-88ac14255026",
              "leftValue": "={{ $('Find documents').item.json.date.toDateTime().minus(1, \"days\").format('yyyy-MM-dd') }}",
              "rightValue": "={{ $json.currentDate.toDateTime().format('yyyy-MM-dd') }}",
              "operator": {
                "type": "dateTime",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -80,
        -112
      ],
      "id": "388f4a64-172a-48fc-bc10-e50b7cbd5988",
      "name": "If"
    },
    {
      "parameters": {
        "collection": "appointments",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -544,
        -112
      ],
      "id": "d5c06278-679b-428d-b1c5-da965909f936",
      "name": "Find documents",
      "credentials": {
        "mongoDb": {
          "id": "k7CZm1spT8xwInEc",
          "name": "MunicipialidadDB"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1856,
        1104
      ],
      "id": "7741ba9f-3430-4c8a-a924-1e5ca47ec338",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/sending/sendContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"subscriber_id\": \"323481887\",\n  \"data\": {\n    \"version\": \"v2\",\n    \"content\": {\n      \"type\": \"whatsapp\",\n      \"messages\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"¿Estás interesado en conocer más sobre Parque Vista Verde o en programar una visita?\"\n        }\n      ]\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2080,
        1104
      ],
      "id": "0b93008d-41f2-48ca-9053-0ef4af417f6d",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "iRCxuJBk609XeF8o",
          "name": "Lateral - Manychat"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "745b3a4c-46a2-447a-b4c5-e0078b78d6de",
              "leftValue": "={{ Number($json.Tiempo_transcurrido.hours) }}",
              "rightValue": 8,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "441c9a66-c548-46ff-8396-2a76dcae35d5",
              "leftValue": "={{ Number($json.Tiempo_transcurrido.hours) }}",
              "rightValue": 16,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -320,
        544
      ],
      "id": "86fb5607-ee07-45c0-8145-953820c7a591",
      "name": "If7"
    },
    {
      "parameters": {
        "operation": "getTimeBetweenDates",
        "startDate": "={{$('Find Users and Documents').item.json.last_interaction}}",
        "endDate": "={{$now}}",
        "units": [
          "hour"
        ],
        "outputFieldName": "Tiempo_transcurrido",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -464,
        320
      ],
      "id": "7e43ae45-715d-4114-a31b-7ebb3513df9f",
      "name": "Date & Time4"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            },
            {
              "triggerAtHour": 15
            },
            {
              "triggerAtHour": 22
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1520,
        128
      ],
      "id": "80d722db-55b1-4bb9-9cab-6921b5030cd7",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {
    "Edit Fields": [
      {
        "json": {
          "_id": "69377cdcb7fe9bc99d20fbc5",
          "user_id": "323481887",
          "name": "Luzuriaga 🤓",
          "last_interaction": "2025-12-09T01:35:17.540Z",
          "first_interaction": "2025-12-09T01:35:17.540Z",
          "last_message": "Hola",
          "has_reservation": false,
          "input_channel": "WhatsApp",
          "last_agent_message": "Hola, soy Sofía, la agente oficial del proyecto Parque Vista Verde en Zona 15 Guatemala. ¿En qué puedo ayudarte hoy?",
          "emocion_detectada": "NEUTRO",
          "palabra_clave": "INFORMACION",
          "resumen_breve": "SALUDOS Y PRESENTACIÓN DEL AGENTE OFICIAL DEL PROYECTO PARQUE VISTA VERDE EN ZONA 15 GUATEMALA."
        }
      }
    ]
  },
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parsear Respuesta Agente1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Find documents",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Parsear Respuesta Agente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SWITCH MEDIA": {
      "main": [
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request8": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request9": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find user to UPD": {
      "main": [
        [
          {
            "node": "SWITCH MEDIA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Verificar Reservacion",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Campos de usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If HAS_RESERVATION": {
      "main": [
        [
          {
            "node": "Find documents",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Date & Time4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Campos de usuario": {
      "main": [
        [
          {
            "node": "If HAS_RESERVATION",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Reservacion": {
      "main": [
        [
          {
            "node": "Parsear Respuesta de LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear Respuesta de LLM": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear Respuesta Agente": {
      "main": [
        [
          {
            "node": "Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear Respuesta Agente1": {
      "main": [
        [
          {
            "node": "Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respuesta": {
      "main": [
        [
          {
            "node": "Find user to UPD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Users and Documents": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find documents": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time4": {
      "main": [
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If7": {
      "main": [
        [
          {
            "node": "Verificar Reservacion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Find Users and Documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "timezone": "America/Guatemala",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "e931f72a-1727-40db-9e0c-3ff9ad5e19c4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d4ab02fb1ef8b6ca2c1c5c1f280ee696b0514d7d92cee5fb0da1784dbe393998"
  },
  "id": "RCtEkjXoKgHO97bl",
  "tags": []
}