Facturas - Mundo Verde - Odoo/Mundo Verde - REPORTE FACTURAS SIN CONFIRMAR.json
{
  "name": "Mundo Verde - REPORTE FACTURAS SIN CONFIRMAR",
  "nodes": [
    {
      "parameters": {
        "collection": "formulario",
        "options": {},
        "query": "{\"confirmed\": false}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        96,
        -2224
      ],
      "id": "a692739b-e050-484c-b300-407474a2011e",
      "name": "Find documents en formulario",
      "credentials": {
        "mongoDb": {
          "id": "wwOL6pf5hqG6FrrM",
          "name": "MongoDB Jorge de Garoo"
        }
      }
    },
    {
      "parameters": {
        "collection": "factura",
        "options": {},
        "query": "{\"confirmed\": false}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        96,
        -2032
      ],
      "id": "6a5ba170-df0a-4d6b-80b4-b350b64687bb",
      "name": "Find documents en factura",
      "credentials": {
        "mongoDb": {
          "id": "wwOL6pf5hqG6FrrM",
          "name": "MongoDB Jorge de Garoo"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n Code Node (JavaScript)\nconst data = items.map(item => item.json);\n\n// Construimos solo el contenedor con los divs de facturas\nlet html = `<div class=\"facturas\" style=\"font-family: Arial, sans-serif; display: flex; flex-direction: column; gap: 12px;\">`;\n\nfor (const record of data) {\n  html += `\n  <div class=\"factura\" style=\"\n    border: 1px solid #ccc;\n    border-radius: 8px;\n    padding: 6px;\n    background-color: #f9f9f9;\n    box-shadow: 0 2px 4px rgba(0,0,0,0.1);\n  \">\n    <p style=\"margin: 4px 0;\"><strong>Nro Factura:</strong> ${record.NRO_FACTURA}</p>\n    <p style=\"margin: 4px 0;\"><strong>Serie:</strong> ${record.SERIE}</p>\n    <p style=\"margin: 4px 0;\"><strong>NIT:</strong> ${record.NIT}</p>\n    <p style=\"margin: 4px 0;\"><strong>Orden:</strong> ${record.NRO_ORDEN_COMPRA\n}</p>\n  </div>\n  `;\n}\n\nhtml += `</div>`;\n\n// Retornamos el HTML parcial\nreturn [{\n  json: {\n    html\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        -2224
      ],
      "id": "28dc236e-5e87-4719-b8c0-0a77758f30cf",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code Node (JavaScript)\nconst data = items.map(item => item.json);\n\n// Construimos solo un div con los datos de Certificación\nlet html = `<div class=\"certificaciones\" style=\"font-family: Arial, sans-serif; display: flex; flex-direction: column; gap: 12px;\">`;\n\nfor (const record of data) {\n  const cert = record.Certificacion;\n\n  html += `\n  <div class=\"certificacion\" style=\"\n    border: 1px solid #ccc;\n    border-radius: 8px;\n    padding: 6px;\n    background-color: #f9f9f9;\n    box-shadow: 0 2px 4px rgba(0,0,0,0.1);\n  \">\n    <p style=\"margin: 4px 0;\"><strong>Nro Factura:</strong> ${record.numero_autorizacion}</p>\n    <p style=\"margin: 4px 0;\"><strong>Serie:</strong> ${record.serie}</p>\n    <p style=\"margin: 4px 0;\"><strong>NIT Certificador:</strong> ${record.emisor_nit}</p>\n    <p style=\"margin: 4px 0;\"><strong>Nombre Certificador:</strong> ${record.emisor_nombre}</p>\n  </div>\n  `;\n}\n\nhtml += `</div>`;\n\n// Retornamos el HTML parcial\nreturn [{\n  json: {\n    html\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        -2032
      ],
      "id": "29732966-d017-4e88-979c-5448876001a1",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "output": "empty"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        544,
        -2128
      ],
      "id": "2077ac69-121d-4578-a470-d55e65a969af",
      "name": "Merge"
    },
    {
      "parameters": {
        "sendTo": "vivian.valenzuela@mundoverde.com.gt",
        "subject": "REPORTE DE FACTURAS SIN CONFIRMAR!!!",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        992,
        -2128
      ],
      "id": "57a42fad-7302-47d7-9cb5-54020069d2d7",
      "name": "Send a message",
      "webhookId": "802e7b5a-ccc4-4c08-bfac-29be56f8bb20",
      "credentials": {
        "gmailOAuth2": {
          "id": "H8Qx7NlrthXmHUiy",
          "name": "Soporte Garoo"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                5
              ],
              "triggerAtHour": 14
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -224,
        -2128
      ],
      "id": "c2d0f194-425c-4684-9660-2f04d76369d0",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>My HTML document</title>\n  <style>\n    body {\n      font-family: Arial, sans-serif;\n      background-color: #f4f4f4;\n      margin: 0;\n      padding: 10px;\n    }\n\n    /* .container {\n      background-color: #ffffff;\n      text-align: center;\n      padding: 24px;\n      border-radius: 8px;\n      max-width: 800px;\n      margin: 0 auto;\n      box-shadow: 0 4px 8px rgba(0,0,0,0.1);\n    } */\n\n    .formulario {\n      margin-bottom: 40px; /* separación solo debajo del formulario */\n    }\n\n    h1 {\n      font-size: 30px;\n      font-weight: bold;\n      padding: 1px 0;\n      text-align: center;\n      margin-bottom: 10%;\n      color: darkred;\n    }\n\n    h2 {\n      color: gray;\n      font-size: 22px;\n      font-weight: bold;\n      padding: 3px 0;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n\n    <h1>Reporte de Facturas Sin Confirmar</h1>\n    <p><strong>Fecha:</strong> {{ $now.format('yyyy-MM-dd') }}</p>\n    \n    <div class=\"formulario\">\n      <h2>Facturas de Proveedores</h2>\n      {{ $('Code in JavaScript').item.json.html }}\n    </div>\n\n    <div class=\"factura\">\n      <h2>Facturas de la SAT</h2>\n      {{ $('Code in JavaScript1').item.json.html }}\n    </div>\n    \n  </div>\n\n  <script>\n    console.log(\"Hello World!\");\n  </script>\n</body>\n</html>\n"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        768,
        -2128
      ],
      "id": "3d77361f-4972-4a6b-85c4-f767cc2d325c",
      "name": "HTML2"
    }
  ],
  "pinData": {},
  "connections": {
    "Find documents en formulario": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find documents en factura": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "HTML2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Find documents en formulario",
            "type": "main",
            "index": 0
          },
          {
            "node": "Find documents en factura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML2": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "wv2-6zOqoyZTlgKRvmnxr"
  },
  "versionId": "74945c41-7b5f-4aa2-b39e-ae13f1e1f8f4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d4ab02fb1ef8b6ca2c1c5c1f280ee696b0514d7d92cee5fb0da1784dbe393998"
  },
  "id": "RMXFaHXdGpQv0nqJ",
  "tags": [
    {
      "updatedAt": "2026-01-08T01:09:04.954Z",
      "createdAt": "2026-01-08T01:09:04.954Z",
      "id": "5STmV35Tlrs8TpZT",
      "name": "✅COMPLETED"
    }
  ]
}