Holdmin/Social_Media_30Posts.json
{
  "nodes": [
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        10944,
        1376
      ],
      "id": "c1d2dc00-6184-4b2c-9389-2541423194ee",
      "name": "Wait 3sec",
      "webhookId": "5ab0d727-8e39-4935-8a8b-90236cba851b"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        10496,
        1296
      ],
      "id": "840acd3c-cb1c-4410-8c7d-86f0bfcd266a",
      "name": "Wait 5sec",
      "webhookId": "99dc56b2-5b9f-4fea-96e3-6b56a59e7011"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        10048,
        1376
      ],
      "id": "53598e3b-2628-4f38-bd2e-b3d00c967e19",
      "name": "LoopOverIdeas"
    },
    {
      "parameters": {
        "resource": "boardItem",
        "boardId": "5091782832",
        "groupId": "topics",
        "name": "=Idea #{{ $json.post_number }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        10272,
        1296
      ],
      "id": "1d8f0068-e4de-4ce7-a4dc-6b5f78be3828",
      "name": "CREATE IDEA",
      "credentials": {
        "mondayComApi": {
          "id": "poIJnSpdyrLdu0yT",
          "name": "Garoo Access Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.monday.com/v2",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "mondayComApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "API-Version",
              "value": "2023-10"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\nJSON.stringify({\n  \"query\": \"mutation ($boardId: ID!, $itemId: ID!, $columnValues: JSON!) { change_multiple_column_values (board_id: $boardId, item_id: $itemId, column_values: $columnValues) { id } }\",\n  \"variables\": {\n    \"boardId\": \"5091782832\",\n    \"itemId\": $('CREATE IDEA').item.json.id,\n    \"columnValues\": JSON.stringify({\n      \"text_mm0naenv\": $(\"LoopOverIdeas\").item.json.title,\n      \"text_mm0nbqek\": $(\"LoopOverIdeas\").item.json.pilar,\n      \"color_mm0nhgf3\": { \"label\": $(\"LoopOverIdeas\").item.json.ideal_social_network.substring(0,1).toUpperCase() + $(\"LoopOverIdeas\").item.json.ideal_social_network.substring(1).toLowerCase().trim() },\n      \"long_text_mm0nz89v\": { \"text\": $(\"LoopOverIdeas\").item.json.caption },\n      \"long_text_mm0n4qha\": { \"text\": $(\"LoopOverIdeas\").item.json.visual_creative },\n      \"text_mm0nye82\": $(\"LoopOverIdeas\").item.json.estimated_impact,\n      \"text_mm0n6t5w\": $(\"LoopOverIdeas\").item.json.cta\n    })\n  }\n})\n}}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        10720,
        1296
      ],
      "id": "89ec69f3-ffcc-4ded-b1cf-7268374dc416",
      "name": "UPDATE IDEA",
      "executeOnce": false,
      "credentials": {
        "mondayComApi": {
          "id": "poIJnSpdyrLdu0yT",
          "name": "Garoo Access Token"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1O4z6WdPEvsq8YQxezbmy3eZFE2RRus_2mp4K_mx1_rs/edit?usp=drive_link"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        9024,
        1376
      ],
      "id": "ec793d01-c08a-45e6-a39f-8f59e931159d",
      "name": "KB",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "ZAcCU3R17YPMSNP3",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "model": "sonar-pro",
        "messages": {
          "message": [
            {
              "content": "=Eres un experto en Strategy & Content Viral para agencias de IA.\n\nContexto RedTec: {{ $json.content }}\n\nTarea: Busca las 5 noticias o tendencias más potentes de este mes sobre IA aplicada a empresas (CRM, automatización, agentes).\nPara cada tendencia, genera 3 ángulos de post distintos (Educativo, Polémico, Tutorial) para completar un calendario de 30 días.\n\nFormato de salida: Devuélveme una lista numerada donde cada item incluya la fuente de la noticia y los 3 ángulos propuestos."
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexity",
      "typeVersion": 1,
      "position": [
        9248,
        1376
      ],
      "id": "15f332b3-6b3e-4ea5-a741-d1d6b3bbba0a",
      "name": "Perplexity Web Search",
      "credentials": {
        "perplexityApi": {
          "id": "vjfRok6qwbep4djO",
          "name": "Perplexity account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Actúa como el Director Creativo y Estratega Senior de RedTec (Partner de IA y Automatizaciones). Tu misión es convertir tendencias tecnológicas en oportunidades de negocio reales para nuestros clientes.\n\n### FUENTES DE INFORMACIÓN (JERARQUÍA DE IMPORTANCIA):\n1. PRIORIDAD MÁXIMA (LA BIBLIA): Contexto de RedTec (KB) -> {{ $('KB').item.json.content }}\n2. APOYO SECUNDARIO: Tendencias de Perplexity -> {{ $('Perplexity Web Search').item.json }}\n\n### RESTRICCIONES CRÍTICAS DE MARCA (INCUMPLIRLAS ANULA EL POST):\n- NINGÚN post puede ser puramente informativo sobre una noticia. Todo debe estar vinculado a un servicio, metodología o beneficio específico mencionado en la BASE DE CONOCIMIENTO de RedTec.\n- Si una noticia de Perplexity no se puede conectar directamente con lo que RedTec ofrece (según el Google Doc), DESCÁRTALA y crea el post basado 100% en la Base de Conocimiento.\n- El tono debe ser de \"Autoridad Ejecutiva\". No somos entusiastas de la IA, somos implementadores de soluciones de ROI.\n- Prohibido usar frases genéricas como \"La IA está cambiando el mundo\". Usa datos de la KB como \"Con nuestra automatización de [Servicio X], RedTec logra [Resultado Y]\".\n\n### TAREA:\nGenera 30 ideas de posts de ALTO VALOR (10 Facebook, 10 Instagram, 10 LinkedIn). \n\n### ESTRUCTURA POR IDEA (FORMATO JSON):\nPara cada idea, sigue ESTRICTAMENTE esta estructura:\n1. post_number: (1-30)\n2. title: Gancho magnético.\n3. pilar: (Autoridad, ROI, Educativo o Humanización).\n4. ideal_social_network: (facebook, instagram o linkedin).\n5. target_audience: (CEOs, COOs, etc).\n6. caption: Cuerpo AIDA. DEBE incluir una referencia directa a una solución de RedTec mencionada en la KB.\n7. visual_creative: Instrucciones de diseño.\n8. estimated_impact: Dato de ahorro o impacto basado en la lógica de RedTec.\n9. cta: Llamada a la acción hacia RedTec.\n\n### FORMATO DE SALIDA:\nEntrega EXCLUSIVAMENTE un bloque de código JSON (Array de objetos) dentro de una propiedad \"posts\". No añadas texto extra."
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        9472,
        1376
      ],
      "id": "e9a51d2c-190a-40e3-99e6-5f55bdf3cb64",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "temperature": 0.5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        9552,
        1600
      ],
      "id": "08e7f13f-1d89-4d09-9ca8-d1f7306bc478",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "N77GbsiuskkMfcXm",
          "name": "Holdmin"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Código actualizado para el nodo PARSE RESPONSE\nconst input = $input.first().json;\nconst rawOutput = input.text || input.output || \"\";\n\nif (!rawOutput) {\n  return [{ json: { error: \"No se recibió texto de la IA\" } }];\n}\n\n// 1. Limpiar bloques de código markdown y espacios\nlet cleanText = rawOutput.trim();\nif (cleanText.includes(\"```\")) {\n  cleanText = cleanText.replace(/```json/g, \"\").replace(/```/g, \"\").trim();\n}\n\n// 2. Extraer el objeto JSON (por si hay texto extra alrededor)\nconst startBrace = cleanText.indexOf('{');\nconst startBracket = cleanText.indexOf('[');\nlet startIndex = -1;\n\nif (startBrace !== -1 && (startBracket === -1 || startBrace < startBracket)) startIndex = startBrace;\nelse if (startBracket !== -1) startIndex = startBracket;\n\nif (startIndex !== -1) {\n  const lastBrace = cleanText.lastIndexOf('}');\n  const lastBracket = cleanText.lastIndexOf(']');\n  const endIndex = Math.max(lastBrace, lastBracket);\n  cleanText = cleanText.substring(startIndex, endIndex + 1);\n}\n\ntry {\n  const parsed = JSON.parse(cleanText);\n  // Si viene envuelto en una propiedad \"posts\", la extraemos\n  const posts = parsed.posts || (Array.isArray(parsed) ? parsed : [parsed]);\n  return posts.map(post => ({ json: post }));\n} catch (e) {\n  return [{ json: { error: \"Error de parseo\", detail: e.message, original: rawOutput } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9824,
        1376
      ],
      "id": "09a4ecbe-60c1-4529-b37c-916de7a70fed",
      "name": "PARSE RESPONSE"
    },
    {
      "parameters": {
        "formTitle": "GENERAR IDEAS PARA POST",
        "options": {
          "appendAttribution": false,
          "buttonLabel": "COMENZAR!",
          "path": "idea-generation",
          "respondWithOptions": {
            "values": {
              "formSubmittedText": "LAS IDEAS GENERADAS PUEDE VERLAS EN MONDAY"
            }
          }
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        8800,
        1376
      ],
      "id": "abad4bfd-bfd0-4bd4-91a9-2665bbed479d",
      "name": "On form submission",
      "webhookId": "ee1e3938-8aae-47e0-a73b-3daed26a8b5d"
    }
  ],
  "connections": {
    "Wait 3sec": {
      "main": [
        [
          {
            "node": "LoopOverIdeas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5sec": {
      "main": [
        [
          {
            "node": "UPDATE IDEA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LoopOverIdeas": {
      "main": [
        [],
        [
          {
            "node": "CREATE IDEA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CREATE IDEA": {
      "main": [
        [
          {
            "node": "Wait 5sec",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UPDATE IDEA": {
      "main": [
        [
          {
            "node": "Wait 3sec",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KB": {
      "main": [
        [
          {
            "node": "Perplexity Web Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity Web Search": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "PARSE RESPONSE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "PARSE RESPONSE": {
      "main": [
        [
          {
            "node": "LoopOverIdeas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "KB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d4ab02fb1ef8b6ca2c1c5c1f280ee696b0514d7d92cee5fb0da1784dbe393998"
  }
}