Magdalena/Ver Polygons Data por Finca.json
{
  "name": "Ver Polygons Data por Finca",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        80
      ],
      "id": "b4282c52-f288-4278-8d99-ab88a66f6d8c",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe01bb21-99bc-4e0a-bafe-077361cdc381",
              "name": "finca",
              "value": "Velasquez",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        80
      ],
      "id": "ed361a6a-9001-4aff-8faa-bc60a48f03a7",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "collection": "Polygons",
        "options": {},
        "query": "={\"finca\":\"{{ $json.finca }}\"}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        448,
        80
      ],
      "id": "58166e08-1570-4074-95d6-ae879bb4bbf9",
      "name": "Find documents",
      "credentials": {
        "mongoDb": {
          "id": "oCCgJ1QnJPbirSub",
          "name": "Magdalena"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        672,
        80
      ],
      "id": "8c733d9c-e575-48f2-972f-c709a0d92535",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "805aefb1-bfd2-4982-8399-fb8769d79709",
              "name": "ID",
              "value": "={{ String($json._id) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        0
      ],
      "id": "d0d54057-af1e-4297-b04a-57c1a4a905b8",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "delete",
        "collection": "Polygons_Data",
        "query": "={\"id_poligono\":\"{{ $json.ID }}\"}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        1120,
        80
      ],
      "id": "be68a295-82c6-4646-80b9-9dcb001802f3",
      "name": "Delete documents",
      "credentials": {
        "mongoDb": {
          "id": "oCCgJ1QnJPbirSub",
          "name": "Magdalena"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Find documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find documents": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Delete documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete documents": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c586c013-b3d6-4d26-8a31-9a37fc4888cc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d4ab02fb1ef8b6ca2c1c5c1f280ee696b0514d7d92cee5fb0da1784dbe393998"
  },
  "id": "QVLbBEr8bHHvp5rL",
  "tags": []
}